<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Títulos a receber</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <o:viewParam name="tituloReceber" value="#{cadastroTituloReceberBean.tituloReceber}" converter="tituloReceberConverter" />
            <f:viewAction action="#{cadastroTituloReceberBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function tratarInclusaoBaixa() {
                if ((validationFailed) || (bfHasError)) {
                    $('#conta-bancaria').focus();
                } else {
                    $('.modal-baixa').modal('hide');
                }
                configurarMascara();
                return false;
            }
            
            function abrirModalEstornarBaixa() {
                if ((validationFailed) || (bfHasError)) {
                    $('#novo').focus();
                } else {
                    $('.modal-estornar-baixa').modal('show');
                    $('.data-movimento').focus();
                }
                configurarMascara();
                return false;
            }     
            
            function tratarEstornarBaixa() {
                if ((validationFailed) || (bfHasError)) {
                    $('.data-movimento').focus();
                } else {
                    $('.modal-estornar-baixa').modal('hide');
                }
                configurarMascara();
                return false;
            }            

        </script>		

        <h:form id="frmCadastro">             
            
            <!-- Tela modal para informar a data para estornar as baixas selecionadas -->
            <b:modal id="modal-estornar-baixa" styleClass="modal-estornar-baixa fade" title="Estornar baixa" size="modal-sm" backdrop="false">
                <b:fetchBeanInfos id="validacao-estornar-baixa"/>

                <b:container fluid="true" style-class="dados-estornar-baixa">
                    <b:messages id="mensagens-estornar-baixa" />

                    <b:row>
                        <b:column span="10">
                            <b:dateTimePicker label="Data movimento" styleClass="data-movimento" value="#{cadastroTituloReceberBean.dataMovimentoEstornar}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" 
                                              requiredMessage="Informe a data do movimento" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroTituloReceberBean.estornarBaixa()}"						
                                     process="@this **:baixasTable @(.dados-estornar-baixa)" update="**:baixasTable mensagens-estornar-baixa validacao-estornar-baixa @(.dados-estornar-baixa)" look="primary"
                                     oncomplete="javascript:tratarEstornarBaixa()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>	            
            
            <!-- Tela modal para inclusão das baixas -->
            <b:modal id="modal-baixa" styleClass="modal-baixa fade" title="Registro de baixa" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-baixa"/>

                <b:container fluid="true" style-class="dados-baixa">
                    <b:messages id="mensagens-baixa" />					

                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data baixa" id="data-baixa" styleClass="campo-data" value="#{cadastroTituloReceberBean.tituloReceberBaixa.dataBaixa}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data baixa deve ser informada" />
                        </b:column>
                        <b:column span="4">
                            <b:dateTimePicker label="Data movimento" id="data-movimento" styleClass="campo-data" value="#{cadastroTituloReceberBean.tituloReceberBaixa.dataMovimento}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />						
                        </b:column>						
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Conta" id="conta-bancaria" value="#{cadastroTituloReceberBean.tituloReceberBaixa.contaBancaria}" fieldSize="sm" required="true" requiredMessage="Conta deve ser informada" 
                                             oncomplete="javascript:configurarMascara();">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroTituloReceberBean.contasBancaria}" var="cb" itemLabel="#{cb.descricao}" itemValue="#{cb}" />
                            </b:selectOneMenu>					
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="5" >
                            <b:inputText label="Valor baixa" maxlength="18" styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceberBaixa.valorBaixa}" 
                                         onchange="ajax:cadastroTituloReceberBean.onChangeValoresBaixa()" process="@this" update="valor-liquido @this" field-size="sm" required="true" requiredMessage="Valor baixa deve ser informado">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>
                        <b:column span="5" offset="1">
                            <b:inputText label="Valor acréscimo" maxlength="18" styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceberBaixa.valorAcrescimo}" 
                                         onchange="ajax:cadastroTituloReceberBean.onChangeValoresBaixa()" process="@this" update="valor-liquido @this" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>						
                    </b:row>   

                    <b:row>
                        <b:column span="5" >
                            <b:inputText label="Valor juros" maxlength="18"  styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceberBaixa.valorJuros}" 
                                         onchange="ajax:cadastroTituloReceberBean.onChangeValoresBaixa()" process="@this" update="valor-liquido @this" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>
                        <b:column span="5" offset="1">
                            <b:inputText label="Valor multa" maxlength="18" styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceberBaixa.valorMulta}" 
                                         onchange="ajax:cadastroTituloReceberBean.onChangeValoresBaixa()" process="@this" update="valor-liquido @this" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>						
                    </b:row>                   

                    <b:row>
                        <b:column span="5" >
                            <b:inputText label="Valor desconto" maxlength="18" styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceberBaixa.valorDesconto}" 
                                         onchange="ajax:cadastroTituloReceberBean.onChangeValoresBaixa()" process="@this" update="valor-liquido @this" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>
                        <b:column span="5" offset="1">
                            <b:inputText label="Valor líquido" maxlength="18" id="valor-liquido" styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceberBaixa.valorLiquido}" field-size="sm" readonly="true">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>						
                    </b:row>  

                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" look="primary" action="#{cadastroTituloReceberBean.incluirBaixa}"						
                                     process="@this @(.dados-baixa)" 
                                     update="**:baixasTable mensagens-baixa validacao-baixa @(.dados-baixa)"
                                     oncomplete="javascript:tratarInclusaoBaixa()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">

                <h3>Títulos a receber</h3>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:focus target="**:cliente" />
                <b:defaultCommand target="gravar" />	                 
                
                <b:panel>
                    <b:button value="Novo título" outcome="/financeiro/CadastroTituloReceber" look="primary" size="sm" />

                    <p:spacer width="10"/>
                    <b:commandButton disabled="#{!cadastroTituloReceberBean.habilitaBotaoGravar}" value="Gravar" id="gravar" action="#{cadastroTituloReceberBean.salvar}" look="primary" size="sm"
                                     process="@this **:baixasTable @(.dados)" 
                                     update="@form"
                                     oncomplete="javascript:configurarMascara();" />
                    <p:spacer width="10"/>

                    <b:badge id="lb-status" value="#{cadastroTituloReceberBean.tituloReceber.status.label}" />
                    <b:button value="Fechar" outcome="/financeiro/PesquisaTituloReceber" look="primary" style="float: right" size="sm" />
                </b:panel>

                <b:tabView content-class="content-tab">
                    <b:tab title="Título">

                        <b:row styleClass="dados">
                            <b:column span="1">
                                <b:inputText label="ID" value="#{cadastroTituloReceberBean.tituloReceber.id}" fieldSize="sm" disabled="true" />
                            </b:column>	    		
                            <b:column span="5">
                                <b:selectOneMenu label="Cliente" id="cliente" disabled="#{!cadastroTituloReceberBean.tituloReceber.novo}" 
                                                 value="#{cadastroTituloReceberBean.tituloReceber.cliente}" fieldSize="sm" required="true"
                                                 onchange="ajax:cadastroProgramacaoBean.onChangeCBCliente()"
                                                 requiredMessage="Cliente deve ser informado" process="@this" update="ed-projeto cb-projeto frmCadastro:mensagens @this">
                                    <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroTituloReceberBean.clientes}" var="cl" itemLabel="#{cl.nomeComInscricao}" itemValue="#{cl}" />
                                </b:selectOneMenu>	
                            </b:column>	
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="3">
                                <b:selectOneMenu label="Empresa" value="#{cadastroTituloReceberBean.empresa}" fieldSize="sm" required="true" requiredMessage="Empresa deve ser informada"
                                                 onchange="ajax:cadastroTituloReceberBean.onChangeEmpresa()" process="@this" update="filial">
                                    <f:selectItem itemLabel="Selecione a empresa" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroTituloReceberBean.empresas}" var="e" itemLabel="#{e.razaoSocial}" itemValue="#{e}" />
                                </b:selectOneMenu>
                            </b:column>
                            <b:column span="3">
                                <b:selectOneMenu label="Filial" id="filial" value="#{cadastroTituloReceberBean.tituloReceber.filial}" fieldSize="sm" required="true" requiredMessage="Filial deve ser informada" >
                                    <f:selectItem itemLabel="Selecione a filial" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroTituloReceberBean.filiais}" var="f" itemLabel="#{f.nome}" itemValue="#{f}" />
                                </b:selectOneMenu>
                            </b:column>				
                        </b:row> 

                        <b:row styleClass="dados">
                            <b:column span="1">
                                <b:inputText label="Projeto" id="ed-projeto" styleClass="ed-projeto" value="#{cadastroTituloReceberBean.idProjeto}" fieldSize="sm" alt="campo-id"
                                             onchange="ajax:cadastroTituloReceberBean.onChangeIdProjeto()" process="@this" update="cb-projeto @this"
                                             oncomplete="javascript:configurarMascara();$('.cb-projeto').focus();return false;">
                                </b:inputText>
                            </b:column>				

                            <b:column span="5">
                                <b:selectOneMenu label="Título" id="cb-projeto" styleClass="cb-projeto" value="#{cadastroTituloReceberBean.tituloReceber.projeto}" fieldSize="sm"
                                                 onchange="ajax:cadastroTituloReceberBean.onChangeCBProjeto()" process="@this" update="ed-projeto @this"
                                                 oncomplete="javascript:configurarMascara();$('.cb-projeto').focus();return false;">
                                    <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroTituloReceberBean.projetos}" var="pr" itemLabel="#{pr.tituloComCodigoExterno}" itemValue="#{pr}" />
                                </b:selectOneMenu>
                            </b:column>						
                        </b:row>                        

                        <b:row styleClass="dados">
                            <b:column span="2" >
                                <b:inputText label="Valor" maxlength="18" fieldId="valor-titulo" styleClass="moeda" value="#{cadastroTituloReceberBean.tituloReceber.valor}" field-size="sm" required="true" requiredMessage="Valor deve ser informado">
                                    <f:facet name="prepend">
                                        <h:outputText value="R$" />
                                    </f:facet>
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </b:inputText>
                            </b:column>
                            <b:column span="2">
                                <b:inputText label="Total pago" maxlength="18" styleClass="moeda" id="total-pago" value="#{cadastroTituloReceberBean.tituloReceber.totalPago}" field-size="sm" disabled="true">
                                    <f:facet name="prepend">
                                        <h:outputText value="R$" />
                                    </f:facet>
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </b:inputText>
                            </b:column>	                            
                            <b:column span="2">
                                <b:inputText label="Saldo" maxlength="18" styleClass="moeda" id="valor-saldo" value="#{cadastroTituloReceberBean.tituloReceber.saldo}" field-size="sm" disabled="true">
                                    <f:facet name="prepend">
                                        <h:outputText value="R$" />
                                    </f:facet>
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </b:inputText>
                            </b:column>	                           
                        </b:row>   

                        <b:row styleClass="dados">
                            <b:column span="2">
                                <b:dateTimePicker label="Data emissão" styleClass="campo-data" value="#{cadastroTituloReceberBean.tituloReceber.dataEmissao}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data emissão deve ser informado"/>
                            </b:column>
                            <b:column span="2">
                                <b:dateTimePicker label="Data vencimento" styleClass="campo-data" value="#{cadastroTituloReceberBean.tituloReceber.dataVencimento}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data vencimento deve ser informado"/>
                            </b:column>
                            <b:column span="2">
                                <b:inputText label="Documento" id="documento" maxlength="40" value="#{cadastroTituloReceberBean.tituloReceber.documento}" fieldSize="sm" />
                            </b:column>
                        </b:row>

                    </b:tab>
                </b:tabView>			

                <b:tabView content-class="content-tab">
                    <!-- # BAIXAS # -->
                    <b:tab title="Baixa">
                        <b:commandButton value="Nova baixa" look="primary" size="sm" 
                                         oncomplete="javascript:$('.modal-baixa').modal('show');configurarMascara();$('#valor-baixa').focus();return false;" 
                                         actionListener="#{cadastroTituloReceberBean.limparBaixa}" action="#{cadastroTituloReceberBean.inicializarBaixa}" process="@this" update="@(.dados-baixa)">
                        </b:commandButton>
                        <p:spacer width="10"/>				
                        <b:dropButton value="Opções " look="primary" size="sm">
                            <b:navCommandLink value="Estornar baixa" process="@this **:baixasTable" update="frmCadastro:validacao-estornar-baixa frmCadastro:mensagens @(.dados-estornar-baixa)"
                                              action="#{cadastroTituloReceberBean.validarSelecionados}"
                                              oncomplete="javascript:abrirModalEstornarBaixa()" />
                        </b:dropButton>             
                        <br/>

                        <b:dataTable id="baixasTable" value="#{cadastroTituloReceberBean.tituloReceber.baixas}" var="baixa" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">
				<b:dataTableColumn label="" orderable="false" style="width:25px;" contentStyle="text-align: center;">
					<b:selectBooleanCheckbox value="#{baixa.flag}"/>
				</b:dataTableColumn>	
                            <b:dataTableColumn label="Data baixa" dataType="date" order="desc" data-order="#{baixa.dataBaixa.toString()}" style="width: 150px;">
                                <h:outputText value="#{baixa.dataBaixa}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>  
                            <b:dataTableColumn label="Data movimento" dataType="date" order="desc" data-order="#{baixa.dataMovimento.toString()}" style="width: 150px;">
                                <h:outputText value="#{baixa.dataMovimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>                             
                            <b:dataTableColumn label="Conta" value="#{baixa.contaBancaria.descricao}" />
                            <b:dataTableColumn label="Valor">
                                <h:outputText value="#{baixa.valorBaixa}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Acréscimo">
                                <h:outputText value="#{baixa.valorAcrescimo}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>     
                            <b:dataTableColumn label="Juros">
                                <h:outputText value="#{baixa.valorJuros}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>  
                            <b:dataTableColumn label="Multa">
                                <h:outputText value="#{baixa.valorMulta}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn> 
                            <b:dataTableColumn label="Desconto">
                                <h:outputText value="#{baixa.valorDesconto}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>                             
                            <b:dataTableColumn label="Valor líquido">
                                <h:outputText value="#{baixa.valorLiquido}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>                               

                        </b:dataTable>
                    </b:tab>
                </b:tabView>

            </b:container>	
        </h:form>	
    </ui:define>
</ui:composition>
