<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Lote de faturamento</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <f:viewAction action="#{faturamentoLoteBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function abrirModalInclusaoLote() {
                if ((validationFailed) || (bfHasError)) {
                    $('#btn-mostrar').focus();
                } else {
                    $('.modal-lote').modal('show');
                    $('.descricao').focus();
                }
                configurarMascara();
                return false;
            }

            function fecharModalInclusaoLote() {
                if ((validationFailed) || (bfHasError)) {
                    $('.descricao').focus();
                } else {
                    $('.modal-lote').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalExclusaoLote() {
                if ((validationFailed) || (bfHasError)) {
                    $('#btn-mostrar').focus();
                } else {
                    $('.modal-exclusao-lote').modal('show');
                }
                configurarMascara();
                return false;
            }

            function fecharModalExclusaoLote() {
                $('.modal-exclusao-lote').modal('hide');
                return false;
            }

            function onChangeCompetencia() {
                $('.data-inicio').focus();
                configurarMascara();
            }
        </script>		

        <h:form id="frmCadastro">
            <p:focus context="frmCadastro"/>

            <!-- Tela modal para confirmar a exclusão do lote -->
            <b:modal id="modal-exclusao-lote" styleClass="modal-exclusao-lote fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão deste registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalExclusaoLote()" 
                                     action="#{faturamentoLoteBean.excluirLote}" process="@this" update="lotesTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração dos lotes -->
            <b:modal id="modal-lote" styleClass="modal-lote fade" title="Lote de faturamento" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-lote"/>

                <b:container fluid="true" style-class="dados-lote">
                    <b:messages id="mensagens-lote" />
                    <b:defaultCommand target="btn-ok-lote" />

                    <b:row>
                        <b:column span="11">
                            <b:inputText label="Descrição" styleClass="descricao" maxlength="255" value="#{faturamentoLoteBean.lote.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada" />
                        </b:column>
                    </b:row>
                    
					<b:row styleClass="dados">
						<b:column span="8">
							<b:selectOneMenu label="Cliente" value="#{faturamentoLoteBean.cliente}" fieldSize="sm"
								onchange="ajax:faturamentoLoteBean.onChangeCBCliente()" process="@this" update="cb-projeto mensagens-lote @this"
								oncomplete="javascript:$('.ed-projeto').focus();return false;">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{faturamentoLoteBean.clientes}" var="cl" itemLabel="#{cl.nomeComInscricao}" itemValue="#{cl}" />
							</b:selectOneMenu>	
						</b:column>			
					</b:row>                    

                    <b:row styleClass="dados">
                        <b:column span="8">
                            <b:selectOneMenu label="Projeto" id="cb-projeto" styleClass="cb-projeto" value="#{faturamentoLoteBean.lote.projeto}" fieldSize="sm" required="true" requiredMessage="Projeto deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{faturamentoLoteBean.projetos}" var="item" itemLabel="#{item.tituloComCodigoExterno}" itemValue="#{item}" />
                            </b:selectOneMenu>					
                        </b:column>					
                    </b:row>

                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Competência" styleClass="campo-competencia" value="#{faturamentoLoteBean.lote.competencia}" format="MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Competência deve ser informada" 
                                              onchange="ajax:faturamentoLoteBean.onChangeCompetencia()" process="@this" update="data-inicio data-fim"
                                              oncomplete="javascript:onChangeCompetencia()" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data início" id="data-inicio" styleClass="data-inicio campo-data" value="#{faturamentoLoteBean.lote.dataInicio}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data início deve ser informada" />
                        </b:column>
                        <b:column span="4">
                            <b:dateTimePicker label="Data fim" id="data-fim" styleClass="campo-data" value="#{faturamentoLoteBean.lote.dataFim}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data fim deve ser informada" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Status" style="font-weight: bold;" />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="Data/hora criação do lote" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="3">
                            <h:outputText value="#{faturamentoLoteBean.lote.status.label}" />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="#{faturamentoLoteBean.lote.dataCriacao}">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </b:column>			    		
                    </b:row>					
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-lote" action="#{faturamentoLoteBean.incluirLote}"						
                                     process="@this @(.dados-lote)" update="lotesTable mensagens-lote validacao-lote @(.dados-lote)" look="primary"
                                     oncomplete="javascript:fecharModalInclusaoLote()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>   	    

            <b:container fluid="true">

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
                <b:fetchBeanInfos id="validacao"/>

                <h3/>

                <b:panel>
                    <b:row styleClass="filtro">
                        <b:column span="3">
                            <b:selectOneMenu label="Projeto" value="#{faturamentoLoteBean.filtro.projeto}" fieldSize="sm"
                                             onchange="ajax:faturamentoLoteBean.onChangeFiltro()" process="@this" update="lotesTable btn-incluir btn-opcoes">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{faturamentoLoteBean.projetosFiltro}" var="item" itemLabel="#{item.tituloComCodigoExterno}" itemValue="#{item}" />
                            </b:selectOneMenu>	    			
                        </b:column>
                        <b:column span="2">
                            <b:selectOneMenu label="Status" value="#{faturamentoLoteBean.filtro.status}" fieldSize="sm"
                                             onchange="ajax:faturamentoLoteBean.onChangeFiltro()" process="@this" update="lotesTable btn-incluir btn-opcoes">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{faturamentoLoteBean.statuses}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker label="Início" allowInputToggle="false" useCurrent="false" styleClass="campo-competencia" value="#{faturamentoLoteBean.filtro.competenciaDe}" format="MM/YYYY" showTodayButton="true" fieldSize="sm" onchange="ajax:faturamentoLoteBean.onChangeFiltro()" process="@this" update="lotesTable btn-incluir btn-opcoes"/>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker label="Fim" allowInputToggle="false" useCurrent="false" styleClass="campo-competencia" value="#{faturamentoLoteBean.filtro.competenciaAte}" format="MM/YYYY" showTodayButton="true" fieldSize="sm" onchange="ajax:faturamentoLoteBean.onChangeFiltro()" process="@this" update="lotesTable btn-incluir btn-opcoes"/>
                        </b:column>	    			
                    </b:row>

                    <b:row styleClass="filtro">
                        <b:column span="4">
                            <b:commandButton value="Mostrar" styleClass="btn-mostrar" action="#{faturamentoLoteBean.pesquisar}" look="primary" 
                                             process="@this @(.filtro)" update="mensagens lotesTable btn-incluir btn-opcoes @(.filtro)" size="sm"/>

                            <p:spacer width="10"/>
                            <b:commandButton disabled="#{!faturamentoLoteBean.carregouRegistros}" id="btn-incluir" value="Novo lote" look="primary" size="sm"
                                             actionListener="#{faturamentoLoteBean.antesAbrirModalLote}" action="#{faturamentoLoteBean.inicializarLote}"
                                             process="@this" update="mensagens validacao @(.dados-lote)"
                                             oncomplete="javascript:abrirModalInclusaoLote()">
                            </b:commandButton>

                            <p:spacer width="10"/>
                            <b:dropButton value="Opções " id="btn-opcoes" look="primary" size="sm">
                                <b:navCommandLink value="Processar lote" disabled="#{!faturamentoLoteBean.carregouRegistros}" action="#{faturamentoLoteBean.processarLote}"
                                                  process="@this **:lotesTable" update="**:lotesTable mensagens" oncomplete="javascript:configurarMascara();" />
                                <b:navCommandLink value="Fechar lote" disabled="#{!faturamentoLoteBean.carregouRegistros}" action="#{faturamentoLoteBean.fecharLote}"
                                                  process="@this **:lotesTable" update="**:lotesTable mensagens" oncomplete="javascript:configurarMascara();" />
                                <b:navCommandLink value="Liberar lote" disabled="#{!faturamentoLoteBean.carregouRegistros}" action="#{faturamentoLoteBean.liberarLote}"
                                                  process="@this **:lotesTable" update="**:lotesTable mensagens" oncomplete="javascript:configurarMascara();" />
                                <b:navCommandLink value="Desfazer liberação lote" disabled="#{!faturamentoLoteBean.carregouRegistros}" action="#{faturamentoLoteBean.desfazerLiberacaoLote}"
                                                  process="@this **:lotesTable" update="**:lotesTable mensagens" oncomplete="javascript:configurarMascara();" />
                                <b:navCommandLink value="Reabrir lote" disabled="#{!faturamentoLoteBean.carregouRegistros}" action="#{faturamentoLoteBean.reabrirLote}"
                                                  process="@this **:lotesTable" update="**:lotesTable mensagens" oncomplete="javascript:configurarMascara();" />
                                <b:navCommandLink value="Desfazer lote" disabled="#{!faturamentoLoteBean.carregouRegistros}" action="#{faturamentoLoteBean.desfazerLote}"
                                                  process="@this **:lotesTable" update="**:lotesTable mensagens" oncomplete="javascript:configurarMascara();" />
                            </b:dropButton>
                        </b:column>
                    </b:row>	    		
                </b:panel>

                <b:dataTable id="lotesTable" value="#{faturamentoLoteBean.lotes}" var="lote" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">

                    <b:dataTableColumn label="" orderable="false" contentStyle="text-align: center;">
                        <b:selectBooleanCheckbox value="#{lote.flag}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="ID" value="#{lote.id}" styleClass="coluna-centro" style="width: 40px;" />
                    <b:dataTableColumn label="Descrição" value="#{lote.descricao}" />
                    <b:dataTableColumn label="Projeto" value="#{lote.projeto.titulo}" />
                    <b:dataTableColumn label="Competência" dataType="date" data-order="#{lote.competencia.toString()}">
                        <h:outputText value="#{lote.competencia}">
                            <f:convertDateTime pattern="MM/yyyy" />
                        </h:outputText>	    				
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Data início" dataType="date" data-order="#{lote.dataInicio.toString()}">
                        <h:outputText value="#{lote.dataInicio}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>	    				
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Data fim" dataType="date" data-order="#{lote.dataFim.toString()}">
                        <h:outputText value="#{lote.dataFim}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>	    				
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Status" value="#{lote.status.label}" />
                    <b:dataTableColumn label="Data criação" dataType="date" data-order="#{lote.dataCriacao.toString()}">
                        <h:outputText value="#{lote.dataCriacao}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>	    				
                    </b:dataTableColumn>   				

                    <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                        <b:navCommandLink action="#{faturamentoLoteBean.validarExclusao}" process="@this" update="frmCadastro:validacao frmCadastro:mensagens" 
                                          oncomplete="javascript:abrirModalExclusaoLote()" iconAwesome="remove" tooltip="Excluir" value="">
                            <f:setPropertyActionListener target="#{faturamentoLoteBean.lote}" value="#{lote}" />
                        </b:navCommandLink>										
                        <p:spacer width="10"/>
                        <b:navLink outcome="/financeiro/LoteFaturamentoDetalhe" iconAwesome="arrow-right" tooltip="Detalhes" value="">
                            <f:param name="lote" value="#{lote.id}" />
                        </b:navLink>		    			
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>	
        </h:form>	
    </ui:define>
</ui:composition>
