<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Lote detalhe</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
        	<o:viewParam name="lote" value="#{detalheLoteFaturamentoBean.lote}" converter="faturamentoLoteConverter" />
			<f:viewAction action="#{detalheLoteFaturamentoBean.inicializar}"></f:viewAction>
		</f:metadata>
		
		<script>

		</script>		
		
   	    <h:form id="frmCadastro">
   	    
	   		<b:container fluid="true">
	   		
	   		<h3>Detalhamento do lote: #{detalheLoteFaturamentoBean.lote.descricao}</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

	    	<b:panel rendered="#{detalheLoteFaturamentoBean.carregouRegistros}">
				<b:button value="Fechar" outcome="/financeiro/LoteFaturamento" look="primary" style="float: right" size="sm" />
					    	
   				<b:commandButton disabled="#{!detalheLoteFaturamentoBean.podeFecharLote}" value="Fechar lote" id="btn-fechar-lote" action="#{detalheLoteFaturamentoBean.fecharLote}" look="primary" 
   					process="@this" update="@this btn-liberar-lote mensagens" size="sm"/>
	    				
   				<p:spacer width="10"/>
   				<b:commandButton disabled="#{!detalheLoteFaturamentoBean.podeLiberarLote}" value="Liberar lote" id="btn-liberar-lote" action="#{detalheLoteFaturamentoBean.liberarLote}" look="primary" 
   					process="@this" update="@this btn-fechar-lote mensagens" size="sm"/>   				
	    	</b:panel>
	    	
			<b:dataTable rendered="#{detalheLoteFaturamentoBean.carregouRegistros}" id="detalhesTable" value="#{detalheLoteFaturamentoBean.lote.detalhes}" var="detalhe" customLangUrl="#{resource['/json/pt-br.json']}"
				pageLength="1000" pageLengthMenu="[10,25,50,100,250,500,1000]"
				columnVisibility="true" excel="true" pdf="true" copy="true" print="true" scrollX="true">
				
				<b:dataTableColumn label="Colaborador" value="#{detalhe.colaborador.nome}"/>
   				<b:dataTableColumn label="Data" dataType="date" data-order="#{detalhe.data.toString()}">
   					<h:outputText value="#{detalhe.data}">
	    				<f:convertDateTime pattern="dd/MM/yyyy" />
   					</h:outputText>	    				
   				</b:dataTableColumn>		
	    		<b:dataTableColumn label="Dia semana" value="#{detalhe.diaSemana.label}"/>
   				<b:dataTableColumn label="Início" styleClass="coluna-centro">
   					<h:outputText value="#{detalhe.horaInicio}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Fim" styleClass="coluna-centro">
   					<h:outputText value="#{detalhe.horaFim}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Início noturno" styleClass="coluna-centro">
   					<h:outputText value="#{detalhe.horaInicioNoturno}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Fim noturno" styleClass="coluna-centro">
   					<h:outputText value="#{detalhe.horaFimNoturno}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Início extra" styleClass="coluna-centro">
   					<h:outputText value="#{detalhe.horaInicioExtra}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Fim extra" styleClass="coluna-centro">
   					<h:outputText value="#{detalhe.horaFimExtra}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>
   				</b:dataTableColumn>
    			<b:dataTableColumn label="Total" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalHoras}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Total noturno" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalHorasNoturno}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Total extra" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalHorasExtra}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Valor cobrança" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.valorCobranca}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Valor cobrança noturna" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.valorCobrancaNoturna}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Valor 50%" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.valor50}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Valor 100%" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.valor100}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Total cobrança" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalCobranca}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Total cobrança noturna" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalCobrancaNoturna}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Total cobrança 100%" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalCobranca100}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
    			<b:dataTableColumn label="Total geral" styleClass="coluna-centro">
    				<h:outputText value="#{detalhe.totalGeral}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
			</b:dataTable>
					
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>