<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Titulos Receber</ui:define>

    <ui:define name="corpo">

        <h:form id="frmpesquisa">

            <b:container fluid="true">	    		    	
                <b:messages id="mensagens" styleClass="mensagens"/>

                <b:defaultCommand target="pesquisar" />

                <br/>
                <b:panel>
                    <b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaTituloReceberBean.pesquisar}" look="primary" update="tituloReceberTable" size="sm" />
                    <p:spacer width="10"/>
                    <b:button value="Novo titulo a receber" outcome="/financeiro/CadastroTituloReceber" look="primary" size="sm" />
                </b:panel>

                <b:dataTable id="tituloReceberTable" styleClass="tituloReceberTable" value="#{pesquisaTituloReceberBean.tituloReceberFiltrados}" var="tituloReceber" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,200,1000]"
                             columnVisibility="true" copy="true" excel="true" pdf="true" print="true"> 

                    <b:dataTableColumn value="#{tituloReceber.id}" label="ID" styleClass="coluna-centro" style="width: 40px;"/>
                    <b:dataTableColumn value="#{tituloReceber.cliente.nome}" label="Cliente" style="width: 200px;" />
                    <b:dataTableColumn label="Data emissão" dataType="date" data-order="#{tituloReceber.dataEmissao.toString()}" style="width: 120px;">
                        <h:outputText value="#{tituloReceber.dataEmissao}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>	    				
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Data vencimento" dataType="date" data-order="#{tituloReceber.dataVencimento.toString()}" style="width: 120px;">
                        <h:outputText value="#{tituloReceber.dataVencimento}">
                            <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>	    				
                    </b:dataTableColumn>  
                    <b:dataTableColumn label="Valor">
                        <h:outputText value="#{tituloReceber.valor}">
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </b:dataTableColumn> 
                    <b:dataTableColumn label="Saldo">
                        <h:outputText value="#{tituloReceber.saldo}">
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </b:dataTableColumn>                   
                    <b:dataTableColumn value="#{tituloReceber.documento}" label="Documento" />
                    <b:dataTableColumn value="#{tituloReceber.projeto.id}" label="Projeto" />
                    <b:dataTableColumn label="Status" style="text-align: center; width: 90px;" >
                        <b:label rendered="false" text="#{tituloReceber.status.label}" style="margin-top: 8px; background-color: #{tituloReceber.status.cor};"
                                 tinyScreen="full-width" smallScreen="full-width" mediumScreen="full-width" largeScreen="full-width" />

                        <b:label rendered="true" text="#{tituloReceber.status.label}" style="margin-top: 2px; background-color: #{tituloReceber.status.cor};"
                                 tinyScreen="full-width" smallScreen="full-width" mediumScreen="full-width" largeScreen="full-width" />
                    </b:dataTableColumn>

                    <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                        <b:navLink outcome="/financeiro/CadastroTituloReceber" tooltip="Editar" iconAwesome="pencil" value="">
                            <f:param name="tituloReceber" value="#{tituloReceber.id}" />
                        </b:navLink>	    		
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>	    
    </ui:define>
</ui:composition>