<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Cadastro de fornecedores</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<o:viewParam name="fornecedor" value="#{cadastroFornecedorBean.fornecedor}" converter="fornecedorConverter"/>
			<f:viewAction action="#{cadastroFornecedorBean.inicializar}"></f:viewAction>
		</f:metadata>
   	    
   	    <h:form id="frmCadastro">
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro de fornecedores</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden"/>
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:focus target="nome" />
	    	<b:defaultCommand target="gravar" />	    	
	    		    	
	    	<b:panel>
	    		<b:button value="Novo fornecedor" outcome="/fornecedores/CadastroFornecedor" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroFornecedorBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" update="mensagens @(.dados)" oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/fornecedores/PesquisaFornecedores" look="primary" style="float: right" size="sm" />
	    	</b:panel>

			<b:panel>

			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Nome" id="nome" maxlength="100" value="#{cadastroFornecedorBean.fornecedor.nome}" fieldSize="sm" required="true" requiredMessage="Nome deve ser informado" />
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="CPF" id="cpf" alt="cpf" value="#{cadastroFornecedorBean.fornecedor.cpf}" fieldSize="sm" />
				</b:column>
				<b:column span="2">
					<b:inputText label="CNPJ" id="cnpj" alt="cnpj" value="#{cadastroFornecedorBean.fornecedor.cnpj}" fieldSize="sm" />
				</b:column>	
			</b:row>			
		
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Logradouro" field-id="logradouro" maxlength="100" value="#{cadastroFornecedorBean.fornecedor.logradouro}" fieldSize="sm"  required="true" requiredMessage="Logradouro deve ser informado"/>
				</b:column>	
				<b:column span="1" offset="2">
					<b:inputText label="Número" maxlength="6" alt="end-numero" value="#{cadastroFornecedorBean.fornecedor.numero}" fieldSize="sm" />
				</b:column>	
			</b:row>				
				
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Complemento" maxlength="100" value="#{cadastroFornecedorBean.fornecedor.complemento}" fieldSize="sm" />
				</b:column>	
				<b:column span="2" offset="2">
					<b:inputText label="CEP" alt="cep" value="#{cadastroFornecedorBean.fornecedor.cep}" fieldSize="sm" />
				</b:column>							
			</b:row>

			<b:row styleClass="dados">
				<b:column span="3">
					<b:inputText label="Bairro" maxlength="40" value="#{cadastroFornecedorBean.fornecedor.bairro}" fieldSize="sm" />
				</b:column>
				<b:column span="3">
					<b:inputText label="Cidade" maxlength="40" value="#{cadastroFornecedorBean.fornecedor.cidade}" fieldSize="sm" required="true" requiredMessage="Cidade deve ser informada"/>
				</b:column>
				<b:column span="2">
					<b:selectOneMenu label="UF" value="#{cadastroFornecedorBean.fornecedor.uf}" fieldSize="sm" required="true" requiredMessage="UF deve ser informado">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroFornecedorBean.estados}" var="e" itemLabel="#{e.label}" itemValue="#{e}" />
					</b:selectOneMenu>
				</b:column>						
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText styleClass="fone1" label="Fone 1" maxlength="20" value="#{cadastroFornecedorBean.fornecedor.fone1}" fieldSize="sm" />
				</b:column>
				<b:column span="2">
					<b:inputText styleClass="fone2" label="Fone 2" id="fone2" maxlength="20" value="#{cadastroFornecedorBean.fornecedor.fone2}" fieldSize="sm" />
				</b:column>
			</b:row>		
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="E-mail" id="email" maxlength="255" value="#{cadastroFornecedorBean.fornecedor.email}" fieldSize="sm" required="true" requiredMessage="E-mail deve ser informado"/>
				</b:column>
				<b:column span="4">
					<b:inputText label="Site / URL" id="site" maxlength="255" value="#{cadastroFornecedorBean.fornecedor.site}" fieldSize="sm" >
        	    		<f:facet name="prepend">
    	    	        	<h:outputText value="http://" />
	           		 	</f:facet>					
					</b:inputText>
				</b:column>				
			</b:row>
			
			</b:panel>
			
			</b:container>
				
		</h:form>	
    </ui:define>
</ui:composition>