<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Pesquisa de fornecedores</ui:define>
    
    <ui:define name="corpo">
    
		<h:form id="frmpesquisa">
		
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="$('.modal-confirmacao').modal('hide');return false;" 
						action="#{pesquisaFornecedorBean.excluir}" process="@this" update="fornecedoresTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    	
	    	<b:messages id="mensagens" />
	    	
	    	<!--<b:focus target="nome" />-->
	    	<b:defaultCommand target="pesquisar" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaFornecedorBean.pesquisar}" look="primary" update="fornecedoresTable" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:button value="Novo fornecedor" outcome="/fornecedores/CadastroFornecedor" look="primary" size="sm" />
	    	</b:panel>

			<b:dataTable id="fornecedoresTable" value="#{pesquisaFornecedorBean.fornecedoresFiltrados}" var="fornecedor" customLangUrl="#{resource['/json/pt-br.json']}">
	    		
	    		<b:dataTableColumn value="#{fornecedor.id}" label="ID" styleClass="coluna-centro" />
	    		<b:dataTableColumn value="#{fornecedor.nome}" label="Nome"  />
		    	<b:dataTableColumn value="#{fornecedor.cpf}" label="CPF" />
		    	<b:dataTableColumn value="#{fornecedor.cnpj}" label="CNPJ" />
		    	<b:dataTableColumn value="#{fornecedor.fone1}" label="Fone" />
		    	<b:dataTableColumn value="#{fornecedor.email}" label="E-mail" />	    		
		    	<b:dataTableColumn value="#{fornecedor.cidade}" label="Cidade"></b:dataTableColumn>
		    	<b:dataTableColumn value="#{fornecedor.uf}" label="UF"></b:dataTableColumn>

		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/fornecedores/CadastroFornecedor" tooltip="Editar" iconAwesome="pencil" value="">
		    			<f:param name="fornecedor" value="#{fornecedor.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="fornecedoresTable" value="">		    			
		    			<f:setPropertyActionListener target="#{pesquisaFornecedorBean.fornecedorSelecionado}" value="#{fornecedor}" />
		    			<b:iconAwesome name="remove"/>
		    		</b:navCommandLink>   				    	
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
