<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Cadastro de colaboradores</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <o:viewParam name="colaborador" value="#{cadastroColaboradorBean.colaborador}" converter="colaboradorConverter" />
            <f:viewAction action="#{cadastroColaboradorBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function abrirModalConfirmacaoTreinamento() {
                $('.modal-confirmacao-treinamento').modal('show');
                return false;
            }

            function fecharModalConfirmacaoTreinamento() {
                $('.modal-confirmacao-treinamento').modal('hide');
                return false;
            }

            function abrirModalConfirmacaoAdvertencia() {
                $('.modal-confirmacao-advertencia').modal('show');
                return false;
            }

            function fecharModalConfirmacaoAdvertencia() {
                $('.modal-confirmacao-advertencia').modal('hide');
                return false;
            }

            function abrirModalConfirmacaoAtestado() {
                $('.modal-confirmacao-atestado').modal('show');
                return false;
            }

            function fecharModalConfirmacaoAtestado() {
                $('.modal-confirmacao-atestado').modal('hide');
                return false;
            }

            function abrirModalConfirmacaoEquipamento() {
                $('.modal-confirmacao-equipamento').modal('show');
                return false;
            }

            function fecharModalConfirmacaoEquipamento() {
                $('.modal-confirmacao-equipamento').modal('hide');
                return false;
            }

            function abrirModalConfirmacaoEstabilidade() {
                $('.modal-confirmacao-estabilidade').modal('show');
                return false;
            }

            function fecharModalConfirmacaoEstabilidade() {
                $('.modal-confirmacao-estabilidade').modal('hide');
                return false;
            }

            function abrirModalTreinamento() {
                $('.modal-treinamento').modal('show');
                $('.cb-treinamento').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoTreinamento() {
                if ((validationFailed) || (bfHasError)) {
                    $('.cb-treinamento').focus();
                } else {
                    $('.modal-treinamento').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalAdvertencia() {
                $('.modal-advertencia').modal('show');
                $('.cb-tipo-anot').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoAdvertencia() {
                if ((validationFailed) || (bfHasError)) {
                    $('.cb-tipo-anot').focus();
                } else {
                    $('.modal-advertencia').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalAtestado() {
                $('.modal-atestado').modal('show');
                $('#data-atestado').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoAtestado() {
                if ((validationFailed) || (bfHasError)) {
                    $('#data-atestado').focus();
                } else {
                    $('.modal-atestado').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalEquipamento() {
                $('.modal-equipamento').modal('show');
                $('.cb-epi').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoEquipamento() {
                if ((validationFailed) || (bfHasError)) {
                    $('.cb-epi').focus();
                } else {
                    $('.modal-equipamento').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalEstabilidade() {
                $('.modal-estabilidade').modal('show');
                $('#motivo-estabilidade').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoEstabilidade() {
                if ((validationFailed) || (bfHasError)) {
                    $('#motivo-estabilidade').focus();
                } else {
                    $('.modal-estabilidade').modal('hide');
                }
                configurarMascara();
                return false;
            }

        </script>

        <h:form id="frmCadastro">

            <!-- Tela modal para confirmar a exclusão do treinamento/qualificação -->
            <b:modal id="modal-confirmacao-treinamento" styleClass="modal-confirmacao-treinamento fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoTreinamento()"
                                     action="#{cadastroColaboradorBean.excluirTreinamento}"
                                     process="@this" update="**:treinamentosTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>     	    

            <!-- Tela modal para confirmar a exclusão do advertencia -->
            <b:modal id="modal-confirmacao-advertencia" styleClass="modal-confirmacao-advertencia fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoAdvertencia()"
                                     action="#{cadastroColaboradorBean.excluirAdvertencia}"
                                     process="@this" update="**:advertenciasTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão do atestado -->
            <b:modal id="modal-confirmacao-atestado" styleClass="modal-confirmacao-atestado fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoAtestado()"
                                     action="#{cadastroColaboradorBean.excluirAtestado}"
                                     process="@this" update="**:atestadosTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão do equipamento -->
            <b:modal id="modal-confirmacao-equipamento" styleClass="modal-confirmacao-equipamento fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoEquipamento()"
                                     action="#{cadastroColaboradorBean.excluirEquipamento}"
                                     process="@this" update="**:equipamentosTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>			

            <!-- Tela modal para confirmar a exclusão da estabilidade -->
            <b:modal id="modal-confirmacao-estabilidade" styleClass="modal-confirmacao-estabilidade fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoEstabilidade()"
                                     action="#{cadastroColaboradorBean.excluirEstabilidade}"
                                     process="@this" update="**:estabilidadesTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>	

            <!-- Tela modal para inclusão/alteração dos treinamentos/qualificações do colaborador -->
            <b:modal id="modal-treinamento" styleClass="modal-treinamento fade" title="Treinamento / Qualificação" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao"/>

                <b:container fluid="true" style-class="dados-treinamento">
                    <b:messages id="mensagens-treinamento" />
                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Treinamento/Qualificação" styleClass="cb-treinamento" value="#{cadastroColaboradorBean.treinamento.treinamento}" fieldSize="sm" required="true" requiredMessage="Treinamento/Qualificação deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroColaboradorBean.treinamentos}" var="item" itemLabel="#{item.descricao}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>						
                    </b:row>

                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Início vigência" styleClass="campo-data" value="#{cadastroColaboradorBean.treinamento.inicioVigencia}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Início vigência deve ser informado" />
                        </b:column>
                        <b:column span="5">
                            <b:dateTimePicker label="Término vigência" styleClass="campo-data" value="#{cadastroColaboradorBean.treinamento.terminoVigencia}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroColaboradorBean.incluirTreinamento}"
                                     process="@this @(.dados-treinamento)" update="**:treinamentosTable mensagens-treinamento validacao @(.dados-treinamento)" look="primary" 
                                     oncomplete="javascript:tratarInclusaoTreinamento()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração das advertências do colaborador -->
            <b:modal id="modal-advertencia" styleClass="modal-advertencia fade" title="Advertência" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-advertencia"/>

                <b:container fluid="true" style-class="dados-advertencia">
                    <b:messages id="mensagens-advertencia" />
                    <b:row>
                        <b:column span="6">
                            <b:selectOneMenu label="Tipo" styleClass="cb-tipo-anot" value="#{cadastroColaboradorBean.advertencia.tipo}" field-size="sm" required="true" requiredMessage="Tipo deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroColaboradorBean.tiposAnotacao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:inputText label="Descrição / Motivo" maxlength="250" value="#{cadastroColaboradorBean.advertencia.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição / Motivo deve ser informado"/>
                        </b:column>							
                    </b:row>

                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Data" styleClass="campo-data" value="#{cadastroColaboradorBean.advertencia.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroColaboradorBean.incluirAdvertencia}"
                                     process="@this @(.dados-advertencia)" update="**:advertenciasTable mensagens-advertencia validacao-advertencia @(.dados-advertencia)" look="primary" 
                                     oncomplete="javascript:tratarInclusaoAdvertencia()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração dos atestados do colaborador -->
            <b:modal id="modal-atestado" styleClass="modal-atestado fade" title="Atestado" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-atestado"/>

                <b:container fluid="true" style-class="dados-atestado">
                    <b:messages id="mensagens-atestado" />
                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Data" styleClass="campo-data" fieldId="data-atestado" value="#{cadastroColaboradorBean.atestado.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
                        </b:column>
                    </b:row>

                    <b:row>	
                        <b:column span="2">
                            <b:inputText label="Dias" alt="data-ano" value="#{cadastroColaboradorBean.atestado.dias}" fieldSize="sm" required="true" requiredMessage="Dias deve ser informado" />								
                        </b:column>
                    </b:row>					

                    <b:row>
                        <b:column span="10">
                            <b:inputText label="CID" maxlength="250" value="#{cadastroColaboradorBean.atestado.cid}" fieldSize="sm" />
                        </b:column>							
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:inputText label="Descrição" maxlength="250" value="#{cadastroColaboradorBean.atestado.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada"/>
                        </b:column>							
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroColaboradorBean.incluirAtestado}"
                                     process="@this @(.dados-atestado)" update="**:atestadosTable mensagens-atestado validacao-atestado @(.dados-atestado)" look="primary" 
                                     oncomplete="javascript:tratarInclusaoAtestado()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração dos equipamentos de proteção (EPI) do colaborador -->
            <b:modal id="modal-equipamento" styleClass="modal-equipamento fade" title="Equipamento de Proteção Individual (EPI)" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-equipamento"/>

                <b:container fluid="true" style-class="dados-equipamento">
                    <b:messages id="mensagens-equipamento" />
                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="EPI" styleClass="cb-epi" value="#{cadastroColaboradorBean.equipamento.equipamento}" fieldSize="sm" required="true" requiredMessage="EPI deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroColaboradorBean.equipamentos}" var="item" itemLabel="#{item.descricao}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>						
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:inputText label="Tamanho" maxlength="60" value="#{cadastroColaboradorBean.equipamento.tamanho}" fieldSize="sm" />
                        </b:column>							
                    </b:row>

                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Data entrega" styleClass="campo-data" value="#{cadastroColaboradorBean.equipamento.dataEntrega}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data de entrega deve ser informada" />
                        </b:column>
                        <b:column span="5">
                            <b:dateTimePicker label="Data devolução" styleClass="campo-data" value="#{cadastroColaboradorBean.equipamento.dataDevolucao}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                        <b:column span="5">
                            <b:dateTimePicker label="Validade" styleClass="campo-data" value="#{cadastroColaboradorBean.equipamento.dataValidade}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                    </b:row>					
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroColaboradorBean.incluirEquipamento}"
                                     process="@this @(.dados-equipamento)" update="**:equipamentosTable mensagens-equipamento validacao-equipamento @(.dados-equipamento)" look="primary" 
                                     oncomplete="javascript:tratarInclusaoEquipamento()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração das estabilidades do colaborador -->
            <b:modal id="modal-estabilidade" styleClass="modal-estabilidade fade" title="Estabilidade" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-estabilidade"/>

                <b:container fluid="true" style-class="dados-estabilidade">
                    <b:messages id="mensagens-estabilidade" />
                    <b:row>
                        <b:column span="10">
                            <b:inputText label="Motivo" fieldId="motivo-estabilidade" maxlength="250" value="#{cadastroColaboradorBean.estabilidade.motivo}" fieldSize="sm" required="true" requiredMessage="Motivo deve ser informado" />
                        </b:column>							
                    </b:row>

                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Data início" styleClass="campo-data" value="#{cadastroColaboradorBean.estabilidade.dataInicio}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data início deve ser informada" />
                        </b:column>
                        <b:column span="5">
                            <b:dateTimePicker label="Data Término" styleClass="campo-data" value="#{cadastroColaboradorBean.estabilidade.dataTermino}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                    </b:row>					
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroColaboradorBean.incluirEstabilidade}"
                                     process="@this @(.dados-estabilidade)" update="**:estabilidadesTable mensagens-estabilidade validacao-estabilidade @(.dados-estabilidade)" look="primary" 
                                     oncomplete="javascript:tratarInclusaoEstabilidade()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">

                <h3>Cadastro de colaboradores</h3>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:focus target="nome" />
                <b:defaultCommand target="gravar" />	    	

                <b:panel>
                    <b:button value="Novo colaborador" outcome="/colaboradores/CadastroColaborador" look="primary" size="sm" />
                    <p:spacer width="10"/>
                    <b:commandButton value="Gravar" id="gravar" action="#{cadastroColaboradorBean.salvar}" look="primary" size="sm"
                                     process="@this @(.dados)" update="mensagens **:treinamentosTable **:advertenciasTable **:atestadosTable **:equipamentosTable **:estabilidadesTable @(.dados)" oncomplete="javascript:configurarMascara();" />	    		
                    <b:button value="Fechar" outcome="/colaboradores/PesquisaColaboradores" look="primary" style="float: right" size="sm" />
                </b:panel>

                <b:panel>

                    <b:row styleClass="dados">
                        <b:column span="4">
                            <b:inputText label="Nome" id="nome" maxlength="60" value="#{cadastroColaboradorBean.colaborador.nome}" fieldSize="sm" required="true" requiredMessage="Nome deve ser informado"/>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker allowInputToggle="false" useCurrent="false" label="Data admissão" styleClass="campo-data" value="#{cadastroColaboradorBean.colaborador.dataAdmissao}" format="DD/MM/YYYY" required="true" requiredMessage="Data admissão deve ser informada"
                                              show-today-button="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
                        </b:column>
                    </b:row>

                    <b:row styleClass="dados">
                        <b:column span="3">
                            <b:selectOneMenu label="Empresa" value="#{cadastroColaboradorBean.empresa}" fieldSize="sm" required="true" requiredMessage="Empresa deve ser informada"
                                             onchange="ajax:cadastroColaboradorBean.onChangeEmpresa()" process="@this" update="filial">
                                <f:selectItem itemLabel="Selecione a empresa" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroColaboradorBean.empresas}" var="item" itemLabel="#{item.razaoSocial}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="3">
                            <b:selectOneMenu label="Filial" id="filial" value="#{cadastroColaboradorBean.colaborador.filial}" fieldSize="sm" required="true" requiredMessage="Filial deve ser informada" >
                                <f:selectItem itemLabel="Selecione a filial" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroColaboradorBean.filiais}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>				
                    </b:row>			

                    <b:row styleClass="dados">
                        <b:column span="4">
                            <b:inputText label="Cargo" maxlength="40" typeahead="true" typeahead-values="#{cadastroColaboradorBean.cargosAutoComplete}" value="#{cadastroColaboradorBean.colaborador.cargo}" fieldSize="sm" />
                        </b:column>	
                        <b:column span="2">
                            <b:selectOneMenu label="Tipo" value="#{cadastroColaboradorBean.colaborador.tipo}" field-size="sm" required="true" requiredMessage="Tipo deve ser informada" >
                                <f:selectItems value="#{cadastroColaboradorBean.tipos}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>				
                    </b:row>

                    <b:row styleClass="dados" style="margin-top: 8px;">
                        <b:column span="4">
                            <b:inputText label="E-mail comercial" maxlength="255" value="#{cadastroColaboradorBean.colaborador.emailComercial}" fieldSize="sm" />
                        </b:column>			
                        <b:column span="2">
                            <b:inputText styleClass="fone1" label="Fone" maxlength="20" value="#{cadastroColaboradorBean.colaborador.foneComercial}" fieldSize="sm" />
                        </b:column>
                        <b:column span="1">
                            <b:inputText label="Ramal" maxlength="4" alt="ramal" value="#{cadastroColaboradorBean.colaborador.ramal}" fieldSize="sm" />
                        </b:column>
                    </b:row>		

                    <b:row styleClass="dados">
                        <b:column span="4">
                            <b:inputText label="E-mail particular" maxlength="255" value="#{cadastroColaboradorBean.colaborador.emailParticular}" fieldSize="sm" />
                        </b:column>			
                        <b:column span="2">
                            <b:inputText styleClass="fone2" label="Fone" maxlength="20" value="#{cadastroColaboradorBean.colaborador.foneParticular}" fieldSize="sm" />
                        </b:column>
                    </b:row>

                    <b:row styleClass="dados">
                        <b:column span="2">
                            <b:inputText label="Horas trab. diário" styleClass="centesimal-2-2" value="#{cadastroColaboradorBean.colaborador.horasTrabalhoDiario}" field-size="sm">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="clock-o"/>
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>				
                        </b:column>
                        <b:column span="2">
                            <b:inputText label="Saldo BH" styleClass="centesimal-4-2" value="#{cadastroColaboradorBean.colaborador.saldoBH}" field-size="sm">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="clock-o"/>
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>				
                        </b:column>
                    </b:row>

                    <b:row styleClass="dados">
                        <b:column span="2">
                            <b:inputText label="Valor hora custo" maxlength="7" styleClass="moeda" value="#{cadastroColaboradorBean.colaborador.valorHora}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>				
                        </b:column>
                        <b:column span="2">
                            <b:inputText label="Valor hora base" maxlength="7" styleClass="moeda" value="#{cadastroColaboradorBean.colaborador.valorHoraBase}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>				
                        </b:column>
                        <b:column span="2">
                            <b:inputText label="Salário base" maxlength="14" styleClass="moeda" value="#{cadastroColaboradorBean.colaborador.salarioBase}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>				
                        </b:column>	
                    </b:row>

                    <b:row styleClass="dados">
                        <b:column span="2">
                            <b:selectOneMenu label="Realiza apontamento" value="#{cadastroColaboradorBean.colaborador.apontamento}" fieldSize="sm" required="true" requiredMessage="Realiza apontamento deve ser informado">
                                <f:selectItems value="#{cadastroColaboradorBean.opcoesSimNao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:selectOneMenu label="Registra ponto" value="#{cadastroColaboradorBean.colaborador.registraPonto}" fieldSize="sm" required="true" requiredMessage="Registra ponto deve ser informado">
                                <f:selectItems value="#{cadastroColaboradorBean.opcoesSimNao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:selectOneMenu label="Permite apont. atrasado" tooltip="Permite apontamentos atrasados" value="#{cadastroColaboradorBean.colaborador.permiteApontamentoAtrasado}" fieldSize="sm" required="true" requiredMessage="Permite apontamento atrasado deve ser informado">
                                <f:selectItems value="#{cadastroColaboradorBean.opcoesSimNao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row styleClass="dados">
                        <b:column span="2">
                            <b:selectOneMenu label="Periculosidade" value="#{cadastroColaboradorBean.colaborador.periculosidade}" fieldSize="sm" required="true" requiredMessage="Periculosidade deve ser informada">
                                <f:selectItems value="#{cadastroColaboradorBean.opcoesSimNao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:selectOneMenu label="Visualiza projetos" value="#{cadastroColaboradorBean.colaborador.visualizaProjeto}" fieldSize="sm" required="true" requiredMessage="Visualiza projetos deve ser informada">
                                <f:selectItems value="#{cadastroColaboradorBean.opcoesSimNao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:selectOneMenu label="Edita cadastro projetos" value="#{cadastroColaboradorBean.colaborador.editaCadastroProjeto}" fieldSize="sm" required="true" requiredMessage="Edita cadastro projetos deve ser informado">
                                <f:selectItems value="#{cadastroColaboradorBean.opcoesSimNao}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>


                    <b:row styleClass="dados" id="row-dt-desligamento">
                        <b:column span="2">
                            <b:selectOneMenu label="Situação" value="#{cadastroColaboradorBean.colaborador.situacao}" field-size="sm" required="true" requiredMessage="Situação deve ser informada" 
                                             onchange="ajax:cadastroColaboradorBean.onChangeSituacao()" process="row-dt-desligamento" update="row-dt-desligamento" >
                                <f:selectItems value="#{cadastroColaboradorBean.situacoes}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker disabled="#{!cadastroColaboradorBean.colaborador.demitido}" label="Data Desligamento" styleClass="campo-data" value="#{cadastroColaboradorBean.colaborador.dataDesligamento}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                    </b:row>

                    <b:row styleClass="dados">
                        <b:column span="3">
                            <b:selectOneMenu label="Usuário" value="#{cadastroColaboradorBean.colaborador.usuario}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroColaboradorBean.usuarios}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
                            </b:selectOneMenu>					
                        </b:column>			
                    </b:row>		

                </b:panel>	

                <b:tabView content-class="content-tab">		

                    <!-- # TREINAMENTOS # -->
                    <b:tab title="Treinamentos">
                        <b:commandButton value="Novo treinamento" look="primary" size="sm" style="margin-bottom: 8px;"
                                         oncomplete="javascript:abrirModalTreinamento()" 
                                         action="#{cadastroColaboradorBean.limparTreinamento}" process="@this" update="@(.dados-treinamento)">
                        </b:commandButton>

                        <b:dataTable id="treinamentosTable" value="#{cadastroColaboradorBean.colaborador.treinamentos}" var="treinamento" customLangUrl="#{resource['/json/pt-br.json']}">
                            <b:dataTableColumn label="Treinamento / Qualificação" value="#{treinamento.treinamento.descricao}" />	    		

                            <b:dataTableColumn label="Início vigência" dataType="date" data-order="#{treinamento.inicioVigencia.toString()}">
                                <h:outputText value="#{treinamento.inicioVigencia}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>

                            <b:dataTableColumn label="Término vigência" dataType="date" data-order="#{treinamento.terminoVigencia.toString()}">
                                <h:outputText value="#{treinamento.terminoVigencia}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>	    		

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalTreinamento()" tooltip="Editar" process="@this" update="@(.dados-treinamento)" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.treinamento}" value="#{treinamento}" />
                                    <b:iconAwesome name="pencil"></b:iconAwesome>
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalConfirmacaoTreinamento()" tooltip="Excluir" process="@this" update="@none" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.treinamento}" value="#{treinamento}" />
                                    <b:iconAwesome name="remove"></b:iconAwesome>
                                </b:navCommandLink>										
                            </b:dataTableColumn>	    		
                        </b:dataTable>
                    </b:tab>

                    <!-- # ADVERTÊNCIAS E SUSPENSÕES # -->
                    <b:tab title="Advertências e Suspensões">
                        <b:commandButton value="Novo registro" look="primary" size="sm" style="margin-bottom: 8px;"
                                         oncomplete="javascript:abrirModalAdvertencia()"
                                         action="#{cadastroColaboradorBean.limparAdvertencia}"
                                         process="@this" update="@(.dados-advertencia)">
                        </b:commandButton>

                        <b:dataTable id="advertenciasTable" value="#{cadastroColaboradorBean.colaborador.advertencias}" var="advertencia" customLangUrl="#{resource['/json/pt-br.json']}">
                            <b:dataTableColumn label="Tipo" value="#{advertencia.tipo.label}" />
                            <b:dataTableColumn label="Descrição / Motivo" value="#{advertencia.descricao}" />	    		

                            <b:dataTableColumn label="Data" dataType="date" data-order="#{advertencia.data.toString()}">
                                <h:outputText value="#{advertencia.data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>    		

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalAdvertencia()" tooltip="Editar" process="@this" update="@(.dados-advertencia)" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.advertencia}" value="#{advertencia}" />
                                    <b:iconAwesome name="pencil"></b:iconAwesome>
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalConfirmacaoAdvertencia()" tooltip="Excluir" process="@this" update="@none" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.advertencia}" value="#{advertencia}" />
                                    <b:iconAwesome name="remove"></b:iconAwesome>
                                </b:navCommandLink>										
                            </b:dataTableColumn>	    		
                        </b:dataTable>
                    </b:tab>

                    <!-- # ATESTADOS MÉDICOS # -->
                    <b:tab title="Atestados Médicos">
                        <b:commandButton value="Novo atestado" look="primary" size="sm" style="margin-bottom: 8px;"
                                         oncomplete="javascript:abrirModalAtestado()"
                                         action="#{cadastroColaboradorBean.limparAtestado}"
                                         process="@this" update="@(.dados-atestado)">
                        </b:commandButton>		

                        <b:dataTable id="atestadosTable" value="#{cadastroColaboradorBean.colaborador.atestados}" var="atestado" customLangUrl="#{resource['/json/pt-br.json']}">				
                            <b:dataTableColumn label="Data" dataType="date" data-order="#{atestado.data.toString()}">
                                <h:outputText value="#{atestado.data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Dias" value="#{atestado.dias}" />
                            <b:dataTableColumn label="CID" value="#{atestado.cid}" />				
                            <b:dataTableColumn label="Descrição" value="#{atestado.descricao}" />	    		

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalAtestado()" tooltip="Editar" process="@this" update="@(.dados-atestado)" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.atestado}" value="#{atestado}" />
                                    <b:iconAwesome name="pencil"></b:iconAwesome>
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalConfirmacaoAtestado()" tooltip="Excluir" process="@this" update="@none" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.atestado}" value="#{atestado}" />
                                    <b:iconAwesome name="remove"></b:iconAwesome>
                                </b:navCommandLink>										
                            </b:dataTableColumn>	    		
                        </b:dataTable>
                    </b:tab>

                    <!-- # EQUIPAMENTOS DE PROTEÇÃO (EPI) # -->
                    <b:tab title="EPI">
                        <b:commandButton value="Novo equipamento" look="primary" size="sm" style="margin-bottom: 8px;"
                                         oncomplete="javascript:abrirModalEquipamento()"
                                         action="#{cadastroColaboradorBean.limparEquipamento}"
                                         process="@this" update="@(.dados-equipamento)">
                        </b:commandButton>

                        <b:dataTable id="equipamentosTable" value="#{cadastroColaboradorBean.colaborador.equipamentos}" var="equipamento" customLangUrl="#{resource['/json/pt-br.json']}">
                            <b:dataTableColumn label="EPI" value="#{equipamento.equipamento.descricao}" />
                            <b:dataTableColumn label="Tamanho" value="#{equipamento.tamanho}" />
                            <b:dataTableColumn label="Data entrega" dataType="date" data-order="#{equipamento.dataEntrega.toString()}">
                                <h:outputText value="#{equipamento.dataEntrega}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Data devolução" dataType="date" data-order="#{equipamento.dataDevolucao.toString()}">
                                <h:outputText value="#{equipamento.dataDevolucao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Validade" dataType="date" data-order="#{equipamento.dataValidade.toString()}">
                                <h:outputText value="#{equipamento.dataValidade}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>	   				

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalEquipamento()" tooltip="Editar" process="@this" update="@(.dados-equipamento)" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.equipamento}" value="#{equipamento}" />
                                    <b:iconAwesome name="pencil"></b:iconAwesome>
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalConfirmacaoEquipamento()" tooltip="Excluir" process="@this" update="@none" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.equipamento}" value="#{equipamento}" />
                                    <b:iconAwesome name="remove"></b:iconAwesome>
                                </b:navCommandLink>										
                            </b:dataTableColumn>	    		
                        </b:dataTable>
                    </b:tab>

                    <!-- # ESTABILIDADES # -->
                    <b:tab title="Estabilidade">
                        <b:commandButton value="Nova estabilidade" look="primary" size="sm" style="margin-bottom: 8px;"
                                         oncomplete="javascript:abrirModalEstabilidade()"
                                         action="#{cadastroColaboradorBean.limparEstabilidade}"
                                         process="@this" update="@(.dados-estabilidade)">
                        </b:commandButton>

                        <b:dataTable id="estabilidadesTable" value="#{cadastroColaboradorBean.colaborador.estabilidades}" var="estabilidade" customLangUrl="#{resource['/json/pt-br.json']}">
                            <b:dataTableColumn label="Motivo" value="#{estabilidade.motivo}" />
                            <b:dataTableColumn label="Data início" dataType="date" data-order="#{estabilidade.dataInicio.toString()}">
                                <h:outputText value="#{estabilidade.dataInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Data término" dataType="date" data-order="#{estabilidade.dataTermino.toString()}">
                                <h:outputText value="#{estabilidade.dataTermino}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalEstabilidade()" tooltip="Editar" process="@this" update="@(.dados-estabilidade)" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.estabilidade}" value="#{estabilidade}" />
                                    <b:iconAwesome name="pencil"></b:iconAwesome>
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink value="" oncomplete="javascript:abrirModalConfirmacaoEstabilidade()" tooltip="Excluir" process="@this" update="@none" >
                                    <f:setPropertyActionListener target="#{cadastroColaboradorBean.estabilidade}" value="#{estabilidade}" />
                                    <b:iconAwesome name="remove"></b:iconAwesome>
                                </b:navCommandLink>										
                            </b:dataTableColumn>
                        </b:dataTable>
                    </b:tab>					

                </b:tabView>	

            </b:container>	

        </h:form>	
    </ui:define>
</ui:composition>
