<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Lote detalhe</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <o:viewParam name="lote" value="#{detalheLoteApuracaoBean.lote}" converter="apuracaoHorasLoteConverter" />
            <f:viewAction action="#{detalheLoteApuracaoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>

        </script>

        <h:form id="frmCadastro">

            <b:container fluid="true">

                <h3>Detalhamento do lote: #{detalheLoteApuracaoBean.lote.descricao}</h3>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:panel rendered="#{detalheLoteApuracaoBean.carregouRegistros}">
                    <b:button value="Fechar" outcome="/colaboradores/LoteApuracao" look="primary" style="float: right" size="sm" />

                    <b:commandButton disabled="#{!detalheLoteApuracaoBean.podeFecharLote}" value="Fechar lote" id="btn-fechar-lote" action="#{detalheLoteApuracaoBean.fecharLote}" look="primary"
                                     process="@this" update="@this btn-liberar-lote mensagens" size="sm"/>

                    <p:spacer width="10"/>
                    <b:commandButton disabled="#{!detalheLoteApuracaoBean.podeLiberarLote}" value="Liberar lote" id="btn-liberar-lote" action="#{detalheLoteApuracaoBean.liberarLote}" look="primary"
                                     process="@this" update="@this btn-fechar-lote mensagens" size="sm"/>
                </b:panel>

                <b:dataTable rendered="#{detalheLoteApuracaoBean.carregouRegistros}" id="detalhesTable" value="#{detalheLoteApuracaoBean.lote.detalhes}" var="detalhe" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="1000" pageLengthMenu="[10,25,50,100,250,500,1000]"
                             columnVisibility="true" excel="true" pdf="true" copy="true" print="true" scrollX="true">

                    <b:dataTableColumn label="Data" dataType="date" data-order="#{detalhe.data.toString()}">
                        <h:outputText value="#{detalhe.data}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </b:dataTableColumn>		 
                    <b:dataTableColumn label="Dia semana" value="#{detalhe.diaSemana.label}"/>
                    <b:dataTableColumn label="Tipo" value="#{detalhe.tipoRegistro.label}"/>
                    <b:dataTableColumn label="Hora entrada" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaEntrada}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Saída almoco" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaSaidaAlmoco}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Retorno almoço" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaRetornoAlmoco}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Hora saída" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaSaida}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Entrada extra" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaEntradaExtra}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Saída extra" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaSaidaExtra}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Total" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.totalHoras}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Alimentação">
                        <h:outputText value="#{detalhe.valorAlimentacao}">
                            <f:convertNumber type="currency" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Viagem" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horasViagem}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="BH positivo" styleClass="coluna-centro" headerStyle="color: #0000cc;">
                        <h:outputText value="#{detalhe.bhPositivo}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="BH negativo" styleClass="coluna-centro" headerStyle="color: #ff0000;">
                        <h:outputText value="#{detalhe.bhNegativo}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Saldo BH" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.bhSaldoDecimal}" style="color: #{detalhe.situacaoBancoHoras.cor};">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="DSR (-)" styleClass="coluna-centro" headerStyle="color: #ff0000;">
                        <h:outputText value="#{detalhe.dsrNegativo}" style="color: #ff0000">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Extras 50%" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.extras50}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Extras 100%" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.extras100}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Noturnas" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaNoturna}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Noturnas 100%" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horaNoturna100}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>