<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Treinamentos e Qualificações</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<f:viewAction action="#{pesquisaTreinamentoBean.inicializar}"></f:viewAction>
		</f:metadata>    
    
    	<f:event listener="#{pesquisaTreinamentoBean.pesquisar}" type="preRenderView" />
    	
    	<script>
    		function abrirModalConfirmacao() {
    			$('.modal-confirmacao').modal('show');
    			return false;
    		}
    		
    		function fecharModalConfirmacao() {
    			$('.modal-confirmacao').modal('hide');
    			return false;    			
    		}
    		
    		function abrirModalTreinamento() {
    			$('.modal-treinamento').modal('show');
    			$('#descricao').focus();
    			configurarMascara();
    			return false;
    		}
    		
			function tratarInclusaoTreinamento() {
				if ((validationFailed) || (bfHasError)) {					
					$('#descricao').focus();
				} else {
					$('.modal-treinamento').modal('hide');						
				}
				configurarMascara();
				return false;
			}			
    	</script>

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do treinamento -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacao()" 
					    action="#{pesquisaTreinamentoBean.excluir}"	process="@this" update="treinamentosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
   	    	<!-- Tela modal para inclusão/alteração dos treinamentos -->
			<b:modal id="modal-treinamento" styleClass="modal-treinamento fade" title="Cadastro de Treinamentos e Qualificações" size="modal-md" backdrop="false">
				
				<b:fetchBeanInfos id="validacao"/>
				
				<b:container fluid="true" style-class="dados">
					<b:messages id="mensagens-treinamento" />
					
					<b:row>
						<b:column span="10">
							<b:inputText label="Descrição" fieldId="descricao" maxlength="60" value="#{pesquisaTreinamentoBean.treinamentoSelecionado.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada"/>
						</b:column>			
					</b:row>
					
					<b:row>
						<b:column span="10">
							<b:selectOneMenu label="Ministrante" value="#{pesquisaTreinamentoBean.treinamentoSelecionado.fornecedor}" fieldSize="sm">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{pesquisaTreinamentoBean.fornecedores}" var="fr" itemLabel="#{fr.nome}" itemValue="#{fr}" />
							</b:selectOneMenu>	
						</b:column>	
					</b:row>				
					
					<b:row>
						<b:column span="5">
							<b:selectOneMenu label="Local" value="#{pesquisaTreinamentoBean.treinamentoSelecionado.local}" fieldSize="sm" required="true" requiredMessage="Local deve ser informado">
								<f:selectItems value="#{pesquisaTreinamentoBean.locais}" var="lo" itemLabel="#{lo.label}" itemValue="#{lo}" />
							</b:selectOneMenu>	    			
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="3">
							<b:inputText label="Carga horária" styleClass="centesimal-3-2" value="#{pesquisaTreinamentoBean.treinamentoSelecionado.cargaHoraria}" fieldSize="sm">
		    		    		<f:facet name="prepend">
            			   			<b:iconAwesome name="clock-o"/>
					            </f:facet>
				    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />							
							</b:inputText>

						</b:column>
					</b:row>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{pesquisaTreinamentoBean.salvar}"
						process="@this @(.dados)" update="treinamentosTable mensagens-treinamento validacao @(.dados)" look="primary"
						oncomplete="javascript:tratarInclusaoTreinamento()"/>
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>			
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<br/>
	    	<b:panel>
				<b:commandButton value="Novo treinamento" size="sm" action="#{pesquisaTreinamentoBean.limpar}" process="@this" update="@(.dados)"
					oncomplete="javascript:abrirModalTreinamento()" look="primary" />
	    	</b:panel>

			<b:dataTable id="treinamentosTable" value="#{pesquisaTreinamentoBean.treinamentos}" var="treinamento" customLangUrl="#{resource['/json/pt-br.json']}" 
				pageLength="50" pageLengthMenu="[50,100,500,1000]">
				
	    		<b:dataTableColumn label="Descrição" value="#{treinamento.descricao}"  />
	    		<b:dataTableColumn label="Ministrante" value="#{treinamento.fornecedor.nome}"  />
	    		<b:dataTableColumn label="Local" value="#{treinamento.local.label}"  />
	    		<b:dataTableColumn label="Carga horária">
	    			<h:outputText value="#{treinamento.cargaHoraria}">
    					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
		    		<b:navCommandLink oncomplete="javascript:abrirModalTreinamento()" tooltip="Editar" iconAwesome="pencil" value=""
		    				process="@this" update="@(.dados)">
		    			<f:setPropertyActionListener target="#{pesquisaTreinamentoBean.treinamentoSelecionado}" value="#{treinamento}" />
		    		</b:navCommandLink>			    		
					<p:spacer width="10"/>
    				<b:navCommandLink oncomplete="javascript:abrirModalConfirmacao()" tooltip="Excluir" iconAwesome="remove" value="" 
    						process="@this" update="treinamentosTable" >
		    			<f:setPropertyActionListener target="#{pesquisaTreinamentoBean.treinamentoSelecionado}" value="#{treinamento}" />
		    		</b:navCommandLink>										
		    	</b:dataTableColumn>	
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
