<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Pesquisa de colaboradores</ui:define>
    
    <ui:define name="corpo">

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do colaborador -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					    action="#{pesquisaColaboradorBean.excluir}" process="@this" update="colaboradoresTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<!--<b:focus target="nome" />-->
	    	<b:defaultCommand target="pesquisar" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaColaboradorBean.pesquisar}" look="primary" update="colaboradoresTable" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:button value="Novo colaborador" outcome="/colaboradores/CadastroColaborador" look="primary" size="sm" />
	    	</b:panel>

			<!--
			<b:panel>
			<b:panelGrid colSpans="2,10">
				<h:outputLabel id="nome" value="Nome:" />
				<b:inputText span="6" value="#{pesquisaColaboradorBean.filtro.nome}" fieldSize="sm" />
			</b:panelGrid>
			</b:panel>
			-->
			
			<b:dataTable id="colaboradoresTable" value="#{pesquisaColaboradorBean.colaboradorsFiltrados}" var="colaborador" customLangUrl="#{resource['/json/pt-br.json']}"
				pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">
	    		<b:dataTableColumn value="#{colaborador.nome}" />
		    	
		    	<b:dataTableColumn label="Admissão" dataType="date" data-order="#{colaborador.dataAdmissao.toString()}">
	    			<h:outputText value="#{colaborador.dataAdmissao}">
	    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    			</h:outputText>		    	
		    	</b:dataTableColumn>
		    	
		    	<b:dataTableColumn value="#{colaborador.cargo}" />
		    	<b:dataTableColumn value="#{colaborador.foneComercial}" label="Fone" />
		    	<b:dataTableColumn value="#{colaborador.ramal}" />
		    	<b:dataTableColumn value="#{colaborador.emailComercial}" label="E-mail" />
		    	<b:dataTableColumn value="#{colaborador.situacao.label}" label="Situação" />
		    	
		    	<b:dataTableColumn label="Desligamento">
	    			<h:outputText value="#{colaborador.dataDesligamento}">
	    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    			</h:outputText>		    	
		    	</b:dataTableColumn>
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/colaboradores/CadastroColaborador" tooltip="Editar" iconAwesome="pencil" value="">
		    			<f:param name="colaborador" value="#{colaborador.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="colaboradoresTable" value="">
		    			<f:setPropertyActionListener target="#{pesquisaColaboradorBean.colaboradorSelecionado}" value="#{colaborador}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
