<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Ponto detalhe</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <o:viewParam name="ponto" value="#{detalhePontoBean.colaboradorPonto}" converter="colaboradorPontoConverter" />
            <f:viewAction action="#{detalhePontoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function abrirModalConfirmacaoExtra() {
                $('.modal-confirmacao-extra').modal('show');
                return false;
            }

            function fecharModalConfirmacaoExtra() {
                $('.modal-confirmacao-extra').modal('hide');
                return false;
            }

            function abrirModalAtividadeExtra() {
                $('.modal-extra').modal('show');
                $('#hora-inicio').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoAtividadeExtra() {
                if ((validationFailed) || (bfHasError)) {
                    $('#hora-inicio').focus();
                } else {
                    $('.modal-extra').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalExecucao() {
                $('.modal-execucao').modal('show');
                configurarMascara();
                $('.cb-cliente').focus();
                return false;
            }

            function tratarInclusaoExecucao() {
                if ((validationFailed) || (bfHasError)) {
                    $('.cb-cliente').focus();
                } else {
                    $('.modal-execucao').modal('hide');
                }
                configurarMascara();
                return false;
            }
        </script>

        <h:form id="frmCadastro">

            <!-- Tela modal para confirmar a exclusão da atividade extra -->
            <b:modal id="modal-confirmacao-extra" styleClass="modal-confirmacao-extra fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão deste registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoExtra()"
                                     action="#{detalhePontoBean.excluirAtividadeExtra}"
                                     process="@this" update="atividadesTable mensagens" />
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração das atividades extras do colaborador -->
            <b:modal id="modal-extra" styleClass="modal-extra fade" title="Atividade Extra" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-extra"/>

                <b:container fluid="true" style-class="dados-extra">
                    <b:messages id="mensagens-extra" />
                    <b:defaultCommand target="btn-ok-atv-extra" />

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Colaborador" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{detalhePontoBean.colaboradorPontoExtra.colaborador.nome}" />
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;">
                        <b:column span="3">
                            <h:outputText value="Data" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{detalhePontoBean.colaboradorPontoExtra.data}">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;">
                        <b:column span="3">
                            <b:inputText label="Hora início" fieldId="hora-inicio" alt="time" value="#{detalhePontoBean.colaboradorPontoExtra.horaInicio}" fieldSize="sm" required="true" requiredMessage="Hora início deve ser informada">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Hora término" alt="time" value="#{detalhePontoBean.colaboradorPontoExtra.horaTermino}" fieldSize="sm" required="true" requiredMessage="Hora término deve ser informada">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:selectOneMenu label="Tipo" value="#{detalhePontoBean.colaboradorPontoExtra.tipoAtividade}" fieldSize="sm" required="true" requiredMessage="Tipo deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{detalhePontoBean.tiposAtividadeExtra}" var="tp" itemLabel="#{tp.descricao}" itemValue="#{tp}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="12">
                            <b:inputTextarea label="Descrição" maxlength="1000" rows="5" value="#{detalhePontoBean.colaboradorPontoExtra.descricao}" field-size="sm" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-atv-extra" look="primary"
                                     action="#{detalhePontoBean.incluirAtividadeExtra}"
                                     process="@this @(.dados-extra)" update="atividadesTable mensagens-extra validacao-extra @(.dados-extra)"
                                     oncomplete="javascript:tratarInclusaoAtividadeExtra()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão das execuções do colaborador em projetos -->
            <b:modal id="modal-execucao" styleClass="modal-execucao fade" title="Registro de Execução" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-execucao"/>

                <b:container fluid="true" style-class="dados-execucao">
                    <b:messages id="mensagens-execucao" />
                    <b:defaultCommand target="btn-ok-execucao" />

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Colaborador" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{detalhePontoBean.projetoExecucao.colaborador.nome}" />
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;">
                        <b:column span="3">
                            <h:outputText value="Data" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{detalhePontoBean.projetoExecucao.data}">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;">
                        <b:column span="10">
                            <b:selectOneMenu label="Cliente" styleClass="cb-cliente" value="#{detalhePontoBean.cliente}" fieldSize="sm"
                                             onchange="ajax:detalhePontoBean.onChangeCBCliente()" process="@this" update="@(.dados-execucao)">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{detalhePontoBean.clientes}" var="cl" itemLabel="#{cl.nomeComInscricao}" itemValue="#{cl}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Projeto" value="#{detalhePontoBean.projetoExecucao.projeto}" fieldSize="sm" required="true" requiredMessage="Projeto deve ser informado"
                                             onchange="ajax:detalhePontoBean.onChangeCBProjeto()" process="@this" update="@(.dados-execucao)"
                                             oncomplete="javascript:configurarMascara();">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{detalhePontoBean.projetos}" var="p" itemLabel="#{p.tituloComCodigoExterno}" itemValue="#{p}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:selectOneMenu label="Atividade prevista" value="#{detalhePontoBean.projetoExecucao.atividadePrevista}" fieldSize="sm"
                                             onchange="ajax:detalhePontoBean.onChangeCBAtividadeExecucao()" process="@this retrabalho-execucao" update="etapa-execucao retrabalho-execucao"
                                             oncomplete="javascript:configurarMascara();">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{detalhePontoBean.atividadesPrevistas}" var="a" itemLabel="#{a.descricaoComData}" itemValue="#{a}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="3">
                            <b:selectOneMenu label="Retrabalho" id="retrabalho-execucao" disabled="#{detalhePontoBean.projetoExecucao.etapaRetrabalho}" value="#{detalhePontoBean.projetoExecucao.retrabalho}" fieldSize="sm" required="true" requiredMessage="Retrabalho deve ser informado" >
                                <f:selectItems value="#{detalhePontoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row >
                        <b:column span="3">
                            <b:inputText label="Hora início" alt="time" value="#{detalhePontoBean.projetoExecucao.horaInicio}" fieldSize="sm" required="true" requiredMessage="Hora Início deve ser informada">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Hora término" alt="time" value="#{detalhePontoBean.projetoExecucao.horaTermino}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Etapa" id="etapa-execucao" value="#{detalhePontoBean.projetoExecucao.etapa}" fieldSize="sm" required="true" requiredMessage="Etapa deve ser informada"
                                             onchange="ajax:detalhePontoBean.onChangeCBEtapaExecucao()" process="@this retrabalho-execucao" update="retrabalho-execucao"
                                             oncomplete="javascript:configurarMascara();">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{detalhePontoBean.etapasProjeto}" var="e" itemLabel="#{e.descricaoCompleta}" itemValue="#{e}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-execucao" look="primary"
                                     action="#{detalhePontoBean.incluirExecucao}"
                                     process="@this @(.dados-execucao)" update="execucoesTable mensagens-execucao validacao-execucao @(.dados-execucao)"
                                     oncomplete="javascript:tratarInclusaoExecucao()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">

                <h3/>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:panel rendered="#{detalhePontoBean.carregouRegistros}">
                    <b:button value="Fechar" outcome="/colaboradores/Ponto" look="primary" style="float: right" size="sm" />

                    <b:row style="margin-top: 5px;">
                        <b:column span="8">
                            <h:outputText value="Colaborador: " style="font-weight: bold;"/>
                            <h:outputText value="#{detalhePontoBean.colaboradorPonto.colaborador.nome}"/>
                            <p:spacer width="15px;"/>
                            <h:outputText value="Data: " style="font-weight: bold;"/>
                            <h:outputText value="#{detalhePontoBean.colaboradorPonto.data}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </b:column>
                    </b:row>
                </b:panel>

                <b:commandButton rendered="#{detalhePontoBean.carregouRegistros}" value="Nova atividade extra" size="sm" look="primary" style="margin-bottom: 5px;"
                                 oncomplete="javascript:abrirModalAtividadeExtra()"
                                 action="#{detalhePontoBean.inicializarAtividadeExtra}" process="@this" update="mensagens @(.dados-extra)">
                </b:commandButton>

                <b:dataTable rendered="#{detalhePontoBean.carregouRegistros}" id="atividadesTable" value="#{detalhePontoBean.atividadesExtras}" var="atividade" customLangUrl="#{resource['/json/pt-br.json']}">
                    <b:dataTableColumn label="Descrição" value="#{atividade.descricao}"/>
                    <b:dataTableColumn label="Tipo" value="#{atividade.tipoAtividade.descricao}"/>
                    <b:dataTableColumn label="Hora início" styleClass="coluna-centro" style="width: 100px;">
                        <h:outputText value="#{atividade.horaInicio}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Hora término" styleClass="coluna-centro" style="width: 100px;">
                        <h:outputText value="#{atividade.horaTermino}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Total" styleClass="coluna-centro" style="width: 65px;">
                        <h:outputText value="#{atividade.totalHoras}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
                        <b:navCommandLink oncomplete="javascript:abrirModalAtividadeExtra()" tooltip="Editar" iconAwesome="pencil" value=""
                                          process="@this" update="@(.dados-extra)">
                            <f:setPropertyActionListener target="#{detalhePontoBean.colaboradorPontoExtra}" value="#{atividade}" />
                        </b:navCommandLink>
                        <p:spacer width="10"/>
                        <b:navCommandLink oncomplete="javascript:abrirModalConfirmacaoExtra()" tooltip="Excluir" iconAwesome="remove" value=""
                                          process="@this" update="atividadesTable" >
                            <f:setPropertyActionListener target="#{detalhePontoBean.colaboradorPontoExtra}" value="#{atividade}" />
                        </b:navCommandLink>
                    </b:dataTableColumn>
                </b:dataTable>

                <hr/>

                <b:commandButton rendered="#{detalhePontoBean.carregouRegistros}" value="Nova execução" size="sm" look="primary" style="margin-bottom: 5px;"
                                 oncomplete="javascript:abrirModalExecucao()"
                                 actionListener="#{detalhePontoBean.inicializarExecucao}" process="@this" update="mensagens @(.dados-execucao)">
                </b:commandButton>

                <b:dataTable rendered="#{detalhePontoBean.carregouRegistros}" id="execucoesTable" value="#{detalhePontoBean.execucoesProjetos}" var="execucao" customLangUrl="#{resource['/json/pt-br.json']}">
                    <b:dataTableColumn label="ID" value="#{execucao.projeto.id}"/>
                    <b:dataTableColumn label="Projeto" value="#{execucao.projeto.titulo}"/>
                    <b:dataTableColumn label="Tipo" value="#{execucao.projeto.tipo.descricao}"/>
                    <b:dataTableColumn label="Cliente" value="#{execucao.projeto.cliente.nome}"/>
                    <b:dataTableColumn label="Etapa" value="#{execucao.etapa.descricaoCompleta}"/>
                    <b:dataTableColumn label="Retrabalho" value="#{execucao.retrabalho.label}" styleClass="coluna-centro" />
                    <b:dataTableColumn label="Hora início" styleClass="coluna-centro">
                        <h:outputText value="#{execucao.horaInicio}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Hora término" styleClass="coluna-centro">
                        <h:outputText value="#{execucao.horaTermino}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Total" styleClass="coluna-centro">
                        <h:outputText value="#{execucao.totalHoras}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                </b:dataTable>  

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>