<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Ponto</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <f:viewAction action="#{colaboradorPontoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function abrirModalPontoInclusao() {
                if ((validationFailed) || (bfHasError)) {
                    $('#btn-mostrar').focus();
                } else {
                    $('.modal-ponto').modal('show');
                    $('.data-ponto').focus();
                }
                configurarMascara();
                return false;
            }

            function abrirModalPontoAlteracao() {
                $('.modal-ponto').modal('show');
                $('#hora-entrada-ponto').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoPonto() {
                if ((validationFailed) || (bfHasError)) {
                    $('#hora-entrada-ponto').focus();
                } else {
                    $('.modal-ponto').modal('hide');
                }
                configurarMascara();
                return false;
            }
        </script>

        <h:form id="frmCadastro">

            <!-- Tela modal para confirmar a exclusão do registro de ponto -->
            <b:modal id="modal-confirmacao-ponto" styleClass="modal-confirmacao-ponto fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão deste registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-ponto').modal('hide');return false;"
                                     action="#{colaboradorPontoBean.excluirPonto}"
                                     process="@this" update="pontosTable mensagens" />
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração dos registros de ponto do colaborador -->
            <b:modal id="modal-ponto" styleClass="modal-ponto fade" title="Registro de Ponto" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-ponto"/>

                <b:container fluid="true" style-class="dados-ponto">
                    <b:messages id="mensagens-ponto" />
                    <b:defaultCommand target="btn-ok-ponto" />

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Colaborador" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{colaboradorPontoBean.colaboradorPonto.colaborador.nome}" />
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;" rendered="#{colaboradorPontoBean.colaboradorPonto.editando}">
                        <b:column span="3">
                            <h:outputText value="Data" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row rendered="#{colaboradorPontoBean.colaboradorPonto.editando}">
                        <b:column span="8">
                            <h:outputText value="#{colaboradorPontoBean.colaboradorPonto.data}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;" rendered="#{colaboradorPontoBean.colaboradorPonto.novo}">
                        <b:column span="4">
                            <b:dateTimePicker label="Data" value="#{colaboradorPontoBean.colaboradorPonto.data}" styleClass="campo-data data-ponto" format="DD/MM/YYYY" allowInputToggle="false" useCurrent="false" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada"
                                              onchange="ajax:colaboradorPontoBean.onChangeData()" process="@this" update="tipo-registro" oncomplete="javascript:$('.tipo-registro').focus()"/>
                        </b:column>
                    </b:row>

                    <b:row style="margin-top: 8px;">
                        <b:column span="4">
                            <b:selectOneMenu label="Tipo registro" id="tipo-registro" styleClass="tipo-registro" value="#{colaboradorPontoBean.colaboradorPonto.tipoRegistro}" fieldSize="sm" required="true" requiredMessage="Tipo registro deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{colaboradorPontoBean.tiposRegistro}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="3">
                            <b:inputText label="Hora entrada" fieldId="hora-entrada-ponto" alt="time" value="#{colaboradorPontoBean.colaboradorPonto.horaEntrada}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Saída almoço" alt="time" value="#{colaboradorPontoBean.colaboradorPonto.horaSaidaAlmoco}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Retorno almoço" alt="time" value="#{colaboradorPontoBean.colaboradorPonto.horaRetornoAlmoco}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Hora saída" alt="time" value="#{colaboradorPontoBean.colaboradorPonto.horaSaida}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="3">
                            <b:inputText label="Entrada extra" alt="time" value="#{colaboradorPontoBean.colaboradorPonto.horaEntradaExtra}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Saída extra" alt="time" value="#{colaboradorPontoBean.colaboradorPonto.horaSaidaExtra}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-ponto" action="#{colaboradorPontoBean.incluirPonto}"
                                     process="@this @(.dados-ponto)" update="pontosTable mensagens-ponto validacao-ponto @(.dados-ponto)" look="primary"
                                     oncomplete="javascript:tratarInclusaoPonto()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
                <b:fetchBeanInfos id="validacao"/>

                <h3/>

                <b:panel>
                    <b:row styleClass="filtro">
                        <b:column span="3">
                            <b:selectOneMenu label="Colaborador" value="#{colaboradorPontoBean.filtroColaborador}" fieldSize="sm" required="true" requiredMessage="Colaborador deve ser informado"
                                             onchange="ajax:colaboradorPontoBean.onChangeFiltro()" process="@this" update="pontosTable btn-incluir btn-calcular">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{colaboradorPontoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker label="Mês referência" allowInputToggle="false" useCurrent="false" styleClass="campo-competencia" value="#{colaboradorPontoBean.filtroCompetencia}" format="MM/YYYY" showTodayButton="true" fieldSize="sm" required="true" requiredMessage="Mês referência deve ser informado" onchange="ajax:colaboradorPontoBean.onChangeFiltro()" process="@this" update="pontosTable btn-incluir btn-calcular"/>
                        </b:column>
                    </b:row>

                    <b:row styleClass="filtro">
                        <b:column span="4">
                            <b:commandButton value="Mostrar" styleClass="btn-mostrar" action="#{colaboradorPontoBean.pesquisar}" look="primary"
                                             process="@this @(.filtro)" update="mensagens pontosTable btn-incluir btn-calcular @(.filtro)" size="sm"/>

                            <p:spacer width="10"/>
                            <b:commandButton disabled="#{!colaboradorPontoBean.carregouRegistros}" id="btn-incluir" value="Nova marcação ponto" look="primary" size="sm"
                                             oncomplete="javascript:abrirModalPontoInclusao()"
                                             actionListener="#{colaboradorPontoBean.antesAbrirModalPonto}" action="#{colaboradorPontoBean.inicializarPonto}"
                                             process="@this" update="mensagens validacao @(.dados-ponto)">
                            </b:commandButton>

                            <p:spacer width="10"/>
                            <b:commandButton disabled="#{!colaboradorPontoBean.carregouRegistros}" id="btn-calcular" value="Calcular horas"
                                             action="#{colaboradorPontoBean.calcularHoras}" look="primary" process="@this" update="mensagens pontosTable btn-incluir btn-calcular" size="sm"/>
                        </b:column>
                    </b:row>
                </b:panel>

                <b:dataTable id="pontosTable" value="#{colaboradorPontoBean.marcacoesPonto}" var="ponto" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,100,200]">
                    <b:dataTableColumn label="Data" dataType="date" data-order="#{ponto.data.toString()}">
                        <h:outputText value="#{ponto.data}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Dia semana" value="#{ponto.diaSemana.label}" />
                    <b:dataTableColumn label="Tipo" value="#{ponto.tipoRegistro.label}" />
                    <b:dataTableColumn label="Entrada" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.horaEntrada}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Saída" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.horaSaida}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Almoço" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.totalHorasAlmoco}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Total" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.totalHoras}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Total projetos" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.totalHorasProjeto}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Total ativ. extras" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.totalHorasAtividadeExtra}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Execução extra" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.totalHorasExtra}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Execução falta" styleClass="coluna-centro">
                        <h:outputText value="#{ponto.totalHorasFalta}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="" style-class="coluna-acao-3btn" orderable="false">
                        <b:navCommandLink oncomplete="javascript:abrirModalPontoAlteracao()" value="" iconAwesome="pencil" tooltip="Editar registro" process="@this" update="@(.dados-ponto)" >
                            <f:setPropertyActionListener target="#{colaboradorPontoBean.colaboradorPonto}" value="#{ponto}" />
                        </b:navCommandLink>
                        <p:spacer width="10"/>
                        <b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao-ponto').modal('show');return false;" iconAwesome="remove" tooltip="Excluir" process="@this" update="pontosTable" >
                            <f:setPropertyActionListener target="#{colaboradorPontoBean.colaboradorPonto}" value="#{ponto}" />
                        </b:navCommandLink>
                        <p:spacer width="10"/>
                        <b:navLink outcome="/colaboradores/PontoDetalhe" iconAwesome="arrow-right" tooltip="Detalhes" value="">
                            <f:param name="ponto" value="#{ponto.id}" />
                        </b:navLink>
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>
