<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Atividades</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<o:viewParam name="atividade" value="#{cadastroAtividadeBean.atividade}" converter="atividadeConverter" />
			<f:viewAction action="#{cadastroAtividadeBean.inicializar}"></f:viewAction>
		</f:metadata>
		
   	    <h:form id="frmCadastro">
   	    
			<!-- Tela modal para confirmar a exclusão da etapa -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão desta etapa?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
						action="#{cadastroAtividadeBean.excluirEtapa}"
						process="@this" update="**:etapasTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    
			
			<!-- Tela modal para confirmar a exclusão do equipamento da atividade -->
			<b:modal id="modal-confirmacao-equipamento" styleClass="modal-confirmacao-equipamento fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão deste equipamento?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-equipamento').modal('hide');return false;" 
						action="#{cadastroAtividadeBean.excluirEquipamentoAtividade}"
						process="@this" update="**:equipamentosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  
			
			<!-- Tela modal para confirmar a exclusão do dispositivo da atividade -->
			<b:modal id="modal-confirmacao-dispositivo" styleClass="modal-confirmacao-dispositivo fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão deste dispositivo?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-dispositivo').modal('hide');return false;" 
						action="#{cadastroAtividadeBean.excluirDispositivoAtividade}"
						process="@this" update="**:dispositivosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
			<!-- Tela modal para confirmar a exclusão do treinamento/qualificação da atividade -->
			<b:modal id="modal-confirmacao-treinamento" styleClass="modal-confirmacao-treinamento fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Confirma a exclusão deste treinamento/qualificação?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-treinamento').modal('hide');return false;" 
						action="#{cadastroAtividadeBean.excluirTreinamentoAtividade}"
						process="@this" update="**:treinamentosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal> 				
   	    
   	    	<!-- Tela modal para inclusão/alteração das etapas -->
			<b:modal id="modal-etapa" styleClass="modal-etapa fade" title="Etapa" size="modal-lg" backdrop="false">
				
				<b:fetchBeanInfos id="validacao"/>
				
				<b:container fluid="true" style-class="dados-etapa">
					<b:messages id="mensagens-etapa" />
					
					<b:row>
						<b:column span="6">
							<b:inputText label="Descrição Etapa" field-id="descricao" maxlength="250" value="#{cadastroAtividadeBean.etapa.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição Etapa deve ser informada"/>
						</b:column>						
					</b:row>
					
					<b:row>
						<b:column span="3">
							<b:inputText label="Qtd Horas" styleClass="centesimal-5-2" value="#{cadastroAtividadeBean.etapa.quantidadeHoras}" fieldSize="sm">
		    		    		<f:facet name="prepend">
            			   			<b:iconAwesome name="clock-o"/>
					            </f:facet>
				    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />							
							</b:inputText>
						</b:column>
					</b:row>					
				
					<b:tabView content-class="content-tab">
				
					<!-- # EPI ETAPA # -->
					<b:tab title="Equipamentos de Proteção">	

						<b:row>
							<b:column span="5">
								<b:selectOneMenu id="selectEquipamentosEtapa" value="#{cadastroAtividadeBean.equipamentoEtapa}" fieldSize="sm">
									<f:selectItem itemLabel="Selecione o equipamento" itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{cadastroAtividadeBean.equipamentos}" var="equi" itemValue="#{equi}" itemLabel="#{equi.descricao}" />
								</b:selectOneMenu>
							</b:column>						
							<b:column span="2">
								<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
									 action="#{cadastroAtividadeBean.incluirEquipamentoEtapa}" process="@this selectEquipamentosEtapa" update="equipamentosEtapaTable selectEquipamentosEtapa frmCadastro:mensagens-etapa"/>
		 					</b:column>
						</b:row>
						
						<b:dataTable id="equipamentosEtapaTable" styleClass="equipamentosEtapaTable" value="#{cadastroAtividadeBean.etapa.equipamentos}" var="equipamento" customLangUrl="#{resource['/json/pt-br.json']}"
							searching="false" paginated="false"	>
							
				    		<b:dataTableColumn value="#{equipamento.descricao}" label="Descrição"/>
			    		
					    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
					    		<b:navCommandLink action="#{cadastroAtividadeBean.excluirEquipamentoEtapa}" tooltip="Excluir Equipamento da Etapa" process="@this" update="@(.equipamentosEtapaTable)" iconAwesome="remove" value="">
					    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.equipamentoEtapa}" value="#{equipamento}" />
				    			</b:navCommandLink>										
				    		</b:dataTableColumn>	    		
						</b:dataTable>	
					
					</b:tab>
					
					<!-- # EPC ETAPA # -->
					<b:tab title="Dispositivos de Segurança">	
						<b:row>
							<b:column span="5">
								<b:selectOneMenu id="selectDispositivosEtapa" value="#{cadastroAtividadeBean.dispositivoEtapa}" fieldSize="sm">
									<f:selectItem itemLabel="Selecione o dispositivo" itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{cadastroAtividadeBean.dispositivos}" var="disp" itemValue="#{disp}" itemLabel="#{disp.descricao}" />
								</b:selectOneMenu>
							</b:column>						
							<b:column span="2">
								<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
									 action="#{cadastroAtividadeBean.incluirDispositivoEtapa}" process="@this selectDispositivosEtapa" update="dispositivosEtapaTable selectDispositivosEtapa frmCadastro:mensagens-etapa"/>
		 					</b:column>
						</b:row>
						
						<b:dataTable id="dispositivosEtapaTable" styleClass="dispositivosEtapaTable" value="#{cadastroAtividadeBean.etapa.dispositivos}" var="dispositivo" customLangUrl="#{resource['/json/pt-br.json']}"
							searching="false" paginated="false"	>
							
				    		<b:dataTableColumn value="#{dispositivo.descricao}" label="Descrição"/>
			    		
					    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
					    		<b:navCommandLink action="#{cadastroAtividadeBean.excluirDispositivoEtapa}" tooltip="Excluir Dispositivo da Etapa" process="@this" update="@(.dispositivosEtapaTable)" iconAwesome="remove" value="">
					    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.dispositivoEtapa}" value="#{dispositivo}" />
				    			</b:navCommandLink>										
				    		</b:dataTableColumn>	    		
						</b:dataTable>						
					</b:tab>									
				
					</b:tabView>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" id="btn-gravar"  action="#{cadastroAtividadeBean.incluirEtapa}"
						process="@this @(.dados-etapa)" update="**:etapasTable frmCadastro:mensagens-etapa validacao @(.dados-etapa)" look="primary" 
						oncomplete="javascript:if(!validationFailed){$('.modal-etapa').modal('hide');return false;} else {configurarMascara();}"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    	    
   	    
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro atividades e etapas</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:focus target="descricao" />
	    	<b:defaultCommand target="gravar" />
	    		    	
	    	<b:panel>
	    		<b:button value="Nova atividade" outcome="/cadastros/CadastroAtividade" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroAtividadeBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" update="@form" oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/cadastros/PesquisaAtividades" look="primary" style="float: right" size="sm" />
	    	</b:panel>
	    	
	    	<b:panel>
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Descrição Atividade" id="descricao" maxlength="60" value="#{cadastroAtividadeBean.atividade.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição Atividade deve ser informada"/>
				</b:column>
			</b:row>
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="Qtd Horas" styleClass="centesimal-5-2" value="#{cadastroAtividadeBean.atividade.quantidadeHoras}" fieldSize="sm">
    		    		<f:facet name="prepend">
          			   		<b:iconAwesome name="clock-o"/>
			            </f:facet>
		    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />							
					</b:inputText>
				</b:column>				
			</b:row>
			</b:panel>
			
			<b:tabView content-class="content-tab">
			
			<!-- # ETAPAS # -->
			<b:tab title="Etapas">			
				<b:commandButton value="Nova etapa" look="primary" size="sm"
					oncomplete="javascript:$('.modal-etapa').modal('show');configurarMascara();$('#descricao').focus();return false;" 
					action="#{cadastroAtividadeBean.limparEtapa}" process="@this" update="@(.dados-etapa)">
				</b:commandButton>
				<br/>
				
				<b:dataTable id="etapasTable" value="#{cadastroAtividadeBean.atividade.etapas}" var="etapa" customLangUrl="#{resource['/json/pt-br.json']}"
					searching="false" paginated="false">
		    		<b:dataTableColumn value="#{etapa.descricao}" label="Descrição" />
		    		<b:dataTableColumn label="Qtd Horas" style="width: 90px; text-align: center;">
		    			<h:outputText value="#{etapa.quantidadeHoras}">
		    				<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
		    			</h:outputText>
		    		</b:dataTableColumn>
		    		
			    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
			    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-etapa').modal('show');configurarMascara();$('#descricao').focus();return false;" tooltip="Editar" process="@this" update="@(.dados-etapa)" >
			    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.etapa}" value="#{etapa}" />
			    			<b:iconAwesome name="pencil"></b:iconAwesome>
			    		</b:navCommandLink>			    		
						<p:spacer width="10"/>
			    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="etapasTable" >
			    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.etapa}" value="#{etapa}" />
			    			<b:iconAwesome name="remove"></b:iconAwesome>
			    		</b:navCommandLink>										
			    	</b:dataTableColumn>	    		
				</b:dataTable>		
			</b:tab>	
			
			<!-- # EPI ATIVIDADE # -->
			<b:tab title="Equipamentos de Proteção">	
				<b:row>
					<b:column span="3">
						<b:selectOneMenu id="selectEquipamentosAtividade" value="#{cadastroAtividadeBean.equipamentoAtividade}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione o equipamento" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{cadastroAtividadeBean.equipamentos}" var="equi" itemValue="#{equi}" itemLabel="#{equi.descricao}" />
						</b:selectOneMenu>
					</b:column>						
					<b:column span="2">
						<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
							 action="#{cadastroAtividadeBean.incluirEquipamentoAtividade}" process="@this selectEquipamentosAtividade" update="equipamentosTable selectEquipamentosAtividade frmCadastro:mensagens"/>
 					</b:column>
				</b:row>
				
				<b:dataTable id="equipamentosTable" value="#{cadastroAtividadeBean.atividade.equipamentos}" var="equipamento" customLangUrl="#{resource['/json/pt-br.json']}"
					searching="false" paginated="false"	>
					
		    		<b:dataTableColumn value="#{equipamento.descricao}" label="Descrição"/>
	    		
			    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
			    		<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-equipamento').modal('show');return false;" tooltip="Excluir" process="@this" update="equipamentosTable" iconAwesome="remove" value="">
			    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.equipamentoAtividade}" value="#{equipamento}" />
		    			</b:navCommandLink>										
		    		</b:dataTableColumn>	    		
				</b:dataTable>						
			</b:tab>
			
			<!-- # EPC ATIVIDADE # -->
			<b:tab title="Dispositivos de Segurança">	
				<b:row>
					<b:column span="3">
						<b:selectOneMenu id="selectDispositivosAtividade" value="#{cadastroAtividadeBean.dispositivoAtividade}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione o dispositivo" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{cadastroAtividadeBean.dispositivos}" var="disp" itemValue="#{disp}" itemLabel="#{disp.descricao}" />
						</b:selectOneMenu>
					</b:column>						
					<b:column span="2">
						<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
							 action="#{cadastroAtividadeBean.incluirDispositivoAtividade}" process="@this selectDispositivosAtividade" update="dispositivosTable selectDispositivosAtividade frmCadastro:mensagens"/>
 					</b:column>
				</b:row>
				
				<b:dataTable id="dispositivosTable" value="#{cadastroAtividadeBean.atividade.dispositivos}" var="dispositivo" customLangUrl="#{resource['/json/pt-br.json']}"
					searching="false" paginated="false"	>
					
		    		<b:dataTableColumn value="#{dispositivo.descricao}" label="Descrição"/>
	    		
			    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
			    		<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-dispositivo').modal('show');return false;" tooltip="Excluir" process="@this" update="dispositivosTable" iconAwesome="remove" value="">
			    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.dispositivoAtividade}" value="#{dispositivo}" />
		    			</b:navCommandLink>										
		    		</b:dataTableColumn>
				</b:dataTable>						
			</b:tab>
			
			<!-- # TREINAMENTOS E QUALIFICAÇÕES ATIVIDADE # -->
			<b:tab title="Treinamentos e Qualificações">	
				<b:row>
					<b:column span="3">
						<b:selectOneMenu id="selectTreinamentos" value="#{cadastroAtividadeBean.treinamentoAtividade}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione o treinamento" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{cadastroAtividadeBean.treinamentos}" var="trei" itemValue="#{trei}" itemLabel="#{trei.descricao}" />
						</b:selectOneMenu>
					</b:column>						
					<b:column span="2">
						<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
							 action="#{cadastroAtividadeBean.incluirTreinamentoAtividade}" process="@this selectTreinamentos" update="treinamentosTable selectTreinamentos frmCadastro:mensagens"/>
 					</b:column>
				</b:row>
				
				<b:dataTable id="treinamentosTable" value="#{cadastroAtividadeBean.atividade.treinamentos}" var="treinamento" customLangUrl="#{resource['/json/pt-br.json']}"
					searching="false" paginated="false"	>
					
		    		<b:dataTableColumn value="#{treinamento.descricao}" label="Descrição"/>
	    			<b:dataTableColumn value="#{treinamento.local.label}" label="Local" />
		    		<b:dataTableColumn label="Carga horária">
		    			<h:outputText value="#{treinamento.cargaHoraria}">
    						<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    				</h:outputText>
	    			</b:dataTableColumn>
	    		
			    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
			    		<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-treinamento').modal('show');return false;" tooltip="Excluir" process="@this" update="treinamentosTable" iconAwesome="remove" value="">
			    			<f:setPropertyActionListener target="#{cadastroAtividadeBean.treinamentoAtividade}" value="#{treinamento}" />
		    			</b:navCommandLink>										
		    		</b:dataTableColumn>
				</b:dataTable>						
			</b:tab>			
			
			</b:tabView>				
			
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>