<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Equipes e Setores</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<o:viewParam name="equipe" value="#{cadastroEquipeBean.equipe}" converter="equipeConverter" />
			<f:viewAction action="#{cadastroEquipeBean.inicializar}"></f:viewAction>
		</f:metadata>
		
		<script>
			function abrirModalConfirmacao() {
				$('.modal-confirmacao').modal('show');
				return false;
			}
		
			function fecharModalConfirmacao() {
				$('.modal-confirmacao').modal('hide');
				return false;
			}		
		</script>
		
   	    <h:form id="frmCadastro">
   	    
			<!-- Tela modal para confirmar a exclusão do colaborador -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão deste colaborador?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacao()" 
						action="#{cadastroEquipeBean.excluirParticipanteEquipe}"
						process="@this" update="**:colaboradoresTable @(.row-add-colaborador)" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    
			   	    
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro equipes e setores de trabalho</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:focus target="descricao" />
	    	<b:defaultCommand target="gravar" />
	    		    	
	    	<b:panel>
	    		<b:button value="Nova equipe" outcome="/cadastros/CadastroEquipe" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroEquipeBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" update="@form" oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/cadastros/PesquisaEquipes" look="primary" style="float: right" size="sm" />
	    	</b:panel>
	    	
	    	<b:panel>
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Descrição equipe" id="descricao" maxlength="60" value="#{cadastroEquipeBean.equipe.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição equipe deve ser informada"/>
				</b:column>
			</b:row>

			<b:row styleClass="dados">
				<b:column span="3">
					<b:selectOneMenu label="Responsável" value="#{cadastroEquipeBean.equipe.colaborador}" fieldSize="sm">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroEquipeBean.responsaveis}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
					</b:selectOneMenu>							
				</b:column>
			</b:row>		
			
			</b:panel>
			
			<b:tabView content-class="content-tab">
						
			<!-- # COLABORADORES # -->
			<b:tab title="Colaborador">	
				<b:row styleClass="row-add-colaborador">
					<b:selectOneMenu span="3" id="selectColaboradores" value="#{cadastroEquipeBean.participanteEquipe}" fieldSize="sm">
						<f:selectItem itemLabel="Selecione o colaborador" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroEquipeBean.participantes}" var="item" itemValue="#{item}" itemLabel="#{item.nome}" />
					</b:selectOneMenu>

					<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir colaborador selecionado"
						 action="#{cadastroEquipeBean.incluirParticipanteEquipe}" process="@this selectColaboradores" update="colaboradoresTable selectColaboradores frmCadastro:mensagens"/>
 					
					<p:spacer width="10"/>
					<b:commandButton icon-awesome="asterisk" size="sm" tooltip="Incluir todos os colaboradores"
						 action="#{cadastroEquipeBean.incluirTodosParticipantes}" process="@this colaboradoresTable" update="colaboradoresTable selectColaboradores frmCadastro:mensagens"
						 oncomplete="configurarMascara()"/>					 					
				</b:row>
				
				<b:dataTable id="colaboradoresTable" value="#{cadastroEquipeBean.equipe.colaboradores}" var="colaborador" customLangUrl="#{resource['/json/pt-br.json']}"
					searching="false" paginated="false"	>
					
		    		<b:dataTableColumn value="#{colaborador.nome}" label="Nome"/>
	    		
			    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
			    		<b:navCommandLink oncomplete="javascript:abrirModalConfirmacao()" tooltip="Excluir" process="@this" update="colaboradoresTable" iconAwesome="remove" value="">
			    			<f:setPropertyActionListener target="#{cadastroEquipeBean.participanteEquipe}" value="#{colaborador}" />
		    			</b:navCommandLink>										
		    		</b:dataTableColumn>
				</b:dataTable>						
			</b:tab>			
			
			</b:tabView>				
			
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>