<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Configurações</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<f:viewAction action="#{configuracaoBean.inicializar}"></f:viewAction>
		</f:metadata>
		
		<script>
			function abrirModalExclusaoAlerta() {
				$('.modal-confirmacao-alerta').modal('show');
				return false;
			}
			
			function fecharModalExclusaoAlerta() {
				$('.modal-confirmacao-alerta').modal('hide');
				return false;
			}
			
    		function abrirModalAlerta() {
    			$('.modal-alerta').modal('show');
    			$('.cb-tipo-alerta').focus();
    			configurarMascara();
    			return false;
    		}

			function tratarInclusaoAlerta() {
				if ((validationFailed) || (bfHasError)) {					
					$('.cb-tipo-alerta').focus();
				} else {
					$('.modal-alerta').modal('hide');						
				}
				configurarMascara();
				return false;
			}
			
			function abrirModalExecucaoAlerta(tipo) {
				if (tipo=='individual') {
					$('.modal-execucao-alerta-ind').modal('show');
				} else {
					$('.modal-execucao-alerta-col').modal('show');
				}
				return false;
			}
			
			function fecharModalExecucaoAlerta(tipo) {
				if (tipo=='individual') {
					$('.modal-execucao-alerta-ind').modal('hide');
				} else {
					$('.modal-execucao-alerta-col').modal('hide');
				}
				return false;
			} 
			
			function abrirModalTesteEmail() {
				$('.modal-teste-email').modal('show');
				$('#ed-destinatario').focus();
				configurarMascara();
				return false;
			}
		
			function tratarTesteEmail() {
				if ((validationFailed) || (bfHasError)) {
					$('#ed-destinatario').focus();
				}
				configurarMascara();
				return false;
			}
		</script>
		
   	    <h:form id="frmCadastro">
   	    
			<!-- Tela modal para testar o envio de e-mail -->
			<b:modal id="modal-teste-email" styleClass="modal-teste-email fade" title="Testar envio de e-mail" size="modal-md" backdrop="false">
			
				<b:fetchBeanInfos id="validacao-teste-email"/>
				
				<b:container fluid="true" style-class="dados-teste-email">
					<b:messages id="mensagens-teste-email" />

					<b:row>
						<b:column span="10">
							<b:inputText label="Destinatário" fieldId="ed-destinatario" placeholder="ex: empresa@gmail.com" maxlength="100" value="#{configuracaoBean.mailTestUsername}" fieldSize="sm" required="true" requiredMessage="Destinatário deve ser informado"/>
						</b:column>
					</b:row>					
				</b:container>				

				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{configuracaoBean.testarEnvioEmail}" look="primary"
						process="@this @(.dados-teste-email)" update="mensagens-teste-email validacao-teste-email @(.dados-teste-email)"
						oncomplete="javascript:tratarTesteEmail()" />
						
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
			<!-- Tela modal para confirmar a exclusão do alerta -->
			<b:modal id="modal-confirmacao-alerta" styleClass="modal-confirmacao-alerta fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão deste alerta?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalExclusaoAlerta()" 
						action="#{configuracaoBean.excluirAlerta}"
						process="@this" update="**:alertasTable **:btn-executar-alertas mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal> 
			
   	    	<!-- Tela modal para inclusão e alteração dos alertas -->
			<b:modal id="modal-alerta" styleClass="modal-alerta fade" title="Alerta" size="modal-md" backdrop="false">
				
				<b:fetchBeanInfos id="validacao-alerta"/>
				
				<b:container fluid="true" style-class="dados-alerta">
					<b:messages id="mensagens-alerta" />
					
					<b:row>
						<b:column span="6">
	    					<b:selectOneMenu label="Alerta" styleClass="cb-tipo-alerta" value="#{configuracaoBean.alerta.tipo}" fieldSize="sm" required="true" requiredMessage="Alerta deve ser informado" >
	    						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{configuracaoBean.tiposAlerta}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
							</b:selectOneMenu>
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="6">
	    					<b:selectOneMenu label="Forma" value="#{configuracaoBean.alerta.forma}" fieldSize="sm" required="true" requiredMessage="Forma deve ser informada" >
	    						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{configuracaoBean.formasAlerta}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
							</b:selectOneMenu>
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="6">
	    					<b:selectOneMenu label="Periodicidade" value="#{configuracaoBean.alerta.periodicidade}" fieldSize="sm" required="true" requiredMessage="Periodicidade deve ser informada" >
	    						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{configuracaoBean.periodicidades}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
							</b:selectOneMenu>
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="4">
							<b:dateTimePicker label="Início" styleClass="campo-data" value="#{configuracaoBean.alerta.inicio}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Início deve ser informado" />
						</b:column>
						<b:column span="4">
							<b:dateTimePicker label="Término" styleClass="campo-data" value="#{configuracaoBean.alerta.termino}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
						</b:column>
			    	</b:row>
			    	
			    	<b:row>
						<b:column span="3">
							<b:inputText label="Dias exec." mask="integer" maxlength="3" value="#{configuracaoBean.alerta.diasExecucao}" fieldSize="sm" />
						</b:column>			
					</b:row>		    	
			    	
					<b:row>
						<b:column span="6">
							<b:selectOneMenu id="cb-colaborador-email" value="#{configuracaoBean.colaborador}" fieldSize="sm">
								<f:selectItem itemLabel="Selecione o colaborador" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{configuracaoBean.colaboradores}" var="item" itemValue="#{item}" itemLabel="#{item.nome}" />
							</b:selectOneMenu>
						</b:column>						
						<b:column span="2">
							<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
								 action="#{configuracaoBean.incluirAlertaEmail}" process="@this cb-colaborador-email" update="**:alertaEmailsTable cb-colaborador-email mensagens-alerta"/>
 						</b:column>
					</b:row>
					
					<b:dataTable id="alertaEmailsTable" styleClass="alertaEmailsTable" value="#{configuracaoBean.alerta.emails}" var="alertaEmail" customLangUrl="#{resource['/json/pt-br.json']}"
						searching="false" paginated="false"	>
						  	
				   		<b:dataTableColumn label="Colaborador" value="#{alertaEmail.colaborador.nome}" />
				   		<b:dataTableColumn label="E-mail" value="#{alertaEmail.email}" />
			    		
				    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
				    		<b:navCommandLink action="#{configuracaoBean.excluirAlertaEmail}" tooltip="Excluir e-mail" process="@this" update="@(.alertaEmailsTable)" iconAwesome="remove" value="">
				    			<f:setPropertyActionListener target="#{configuracaoBean.alertaEmail}" value="#{alertaEmail}" />
				   			</b:navCommandLink>
				   		</b:dataTableColumn>
					</b:dataTable>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{configuracaoBean.incluirAlerta}"					
						process="@this @(.dados-alerta)" update="**:alertasTable **:btn-executar-alertas mensagens-alerta validacao-alerta @(.dados-alerta)" look="primary"
						oncomplete="javascript:tratarInclusaoAlerta()"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>	
			
			<!-- Tela modal para confirmar a execução do alerta específico -->
			<b:modal id="modal-execucao-alerta-ind" styleClass="modal-execucao-alerta-ind fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>O alerta será executado independente da periodicidade, sendo que a próxima execução automática irá contar a partir desta.
					Confirma a operação?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalExecucaoAlerta('individual')" 
						action="#{configuracaoBean.executarAlerta}"
						process="@this" update="mensagens" />
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
			<!-- Tela modal para confirmar a execução de todos os alertas -->
			<b:modal id="modal-execucao-alerta-col" styleClass="modal-execucao-alerta-col fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Deseja executar os alertas para todas as empresas/filiais?</p>
				<f:facet name="footer">
					<b:commandButton value="Sim" oncomplete="javascript:fecharModalExecucaoAlerta('coletivo')"
						action="#{configuracaoBean.executarAlertas(false)}"
						process="@this" update="mensagens" />
					<b:commandButton value="Não" oncomplete="javascript:fecharModalExecucaoAlerta('coletivo')"
						action="#{configuracaoBean.executarAlertas(true)}"
						process="@this" update="mensagens" />
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
	   		<b:container fluid="true">
	   		
	   		<h3/>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="4000" showDetail="true" showSummary="false" />
	   		
	    	
	    	<b:tabView content-class="content-tab">
	    		    	
	    	<!-- # ENVIO DE E-MAIL # -->
	    	<b:tab title="Envio de e-mail">
   				<b:commandButton value="Gravar" action="#{configuracaoBean.salvar}" look="primary" size="sm"
 					process="@this @(.dados-email)" update="frmCadastro:mensagens btn-testar-email @(.dados-email)" oncomplete="javascript:configurarMascara();" />
   				<p:spacer width="10"/>
	   				
   				<b:button value="Testar envio de e-mail" disabled="#{configuracaoBean.configuracao.novo}" id="btn-testar-email" onclick="javascript:abrirModalTesteEmail()" look="primary" size="sm" />
				
				<br/><br/>
				
				<b:row styleClass="dados-email">
					<b:column span="4">
						<b:inputText label="Host" placeholder="ex: smtp.gmail.com" maxlength="100" value="#{configuracaoBean.configuracao.mailServerHost}" fieldSize="sm" required="true" requiredMessage="Host deve ser informado"/>
					</b:column>
				</b:row>
				
				<b:row styleClass="dados-email">
					<b:column span="1">
						<b:inputText label="Porta" alt="campo-id" value="#{configuracaoBean.configuracao.mailServerPort}" fieldSize="sm" required="true" requiredMessage="Porta deve ser informada"/>
					</b:column>
				</b:row>
				
				<b:row styleClass="dados-email">
					<b:column span="4">
						<b:inputText label="E-mail" placeholder="ex: empresa@gmail.com" maxlength="100" value="#{configuracaoBean.configuracao.mailUsername}" fieldSize="sm" required="true" requiredMessage="E-mail deve ser informado"/>
					</b:column>
				</b:row>
				
				<b:row styleClass="dados-email">
					<b:column span="4">
						<b:inputSecret label="Senha" maxlength="100" value="#{configuracaoBean.mailPassword}" fieldSize="sm" />
					</b:column>
				</b:row>
	    	</b:tab>
	    	
	    	<!-- # ALERTAS # -->
	    	<b:tab title="Alertas">
				<b:commandButton value="Novo alerta" look="primary" size="sm" style="margin-bottom: 8px;"
					action="#{configuracaoBean.inicializarAlertaInclusao}" process="@this" update="@(.dados-alerta)"
					oncomplete="javascript:abrirModalAlerta()">
				</b:commandButton>
				<p:spacer width="10"/>
				
    			<b:button value="Executar alertas" id="btn-executar-alertas" disabled="#{!configuracaoBean.possuiAlertas}" look="primary" size="sm" style="margin-bottom: 8px;"
    				onclick="javascript:abrirModalExecucaoAlerta('coletivo')" />
			
				<b:dataTable id="alertasTable" value="#{configuracaoBean.alertas}" var="alerta" customLangUrl="#{resource['/json/pt-br.json']}"
					pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">
					
		    		<b:dataTableColumn label="Alerta" value="#{alerta.tipo.label}" />
		    		<b:dataTableColumn label="Forma" value="#{alerta.forma.label}" />
		    		<b:dataTableColumn label="Periodicidade" value="#{alerta.periodicidade.label}" />
					<b:dataTableColumn label="Início" dataType="date" data-order="#{alerta.inicio.toString()}">
   						<h:outputText value="#{alerta.inicio}">
	    					<f:convertDateTime pattern="dd/MM/yyyy" />
   						</h:outputText>	    				
   					</b:dataTableColumn>
					<b:dataTableColumn label="Término" dataType="date" data-order="#{alerta.termino.toString()}">
   						<h:outputText value="#{alerta.termino}">
	    					<f:convertDateTime pattern="dd/MM/yyyy" />
   						</h:outputText>	    				
   					</b:dataTableColumn>
   					
   					<b:dataTableColumn label="" style-class="coluna-acao-3btn" orderable="false">    		
			    		<b:navCommandLink value="" oncomplete="javascript:abrirModalAlerta()" tooltip="Editar" process="@this" update="@(.dados-alerta)" 
			    			action="#{configuracaoBean.inicializarAlertaAlteracao}">
			    			<f:setPropertyActionListener target="#{configuracaoBean.alerta}" value="#{alerta}" />
			    			<b:iconAwesome name="pencil"></b:iconAwesome>
			    		</b:navCommandLink>			    		
						<p:spacer width="10"/>
			    		<b:navCommandLink value="" oncomplete="javascript:abrirModalExclusaoAlerta()" tooltip="Excluir" process="@this" update="@none"
			    			action="#{configuracaoBean.inicializarAlertaAlteracao}">
			    			<f:setPropertyActionListener target="#{configuracaoBean.alerta}" value="#{alerta}" />
			    			<b:iconAwesome name="remove"></b:iconAwesome>
			    		</b:navCommandLink>
						<p:spacer width="10"/>
			    		<b:navCommandLink value="" oncomplete="javascript:abrirModalExecucaoAlerta('individual')" tooltip="Executar" process="@this" update="@none"
			    			action="#{configuracaoBean.inicializarAlertaAlteracao}">
			    			<f:setPropertyActionListener target="#{configuracaoBean.alerta}" value="#{alerta}" />
			    			<b:iconAwesome name="play"></b:iconAwesome>
			    		</b:navCommandLink>										
			    	</b:dataTableColumn>
				</b:dataTable>			
	    	</b:tab>
	    		    	
	    	</b:tabView>

			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>