<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Contas bancárias</ui:define>

    <ui:define name="corpo">
        <f:event listener="#{contaBancariaBean.pesquisar}" type="preRenderView" />

        <script>
            function abrirModalExclusaoContaBancaria() {
                $('.modal-confirmacao-contaBancaria').modal('show');
                return false;
            }

            function tratarExclusaoContaBancaria() {
                $('.modal-confirmacao-contaBancaria').modal('hide');
                return false;
            }

            function abrirModalContaBancaria() {
                $('.modal-contaBancaria').modal('show');
                $('.ed-contaBancaria').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoContaBancaria() {
                if ((validationFailed) || (bfHasError)) {
                    $('.ed-contaBancaria').focus();
                } else {
                    $('.modal-contaBancaria').modal('hide');
                }
                configurarMascara();
                return false;
            }
        </script>

        <h:form id="frmpesquisa">

            <!-- Tela modal para confirmar a exclusão do conta bancária -->
            <b:modal id="modal-confirmacao-contaBancaria" styleClass="modal-confirmacao-contaBancaria fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:tratarExclusaoContaBancaria()" 
                                     action="#{contaBancariaBean.excluir}"	process="@this" update="contasBancariaTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração de conta bancaria -->
            <b:modal id="modal-contaBancaria" styleClass="modal-contaBancaria fade" title="Conta" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-contaBancaria"/>

                <b:container fluid="true" style-class="dados-contaBancaria">
                    <b:messages id="mensagens-contaBancaria" />

                    <b:row>
                        <b:column span="8">
                            <b:inputText label="Filial" value="#{contaBancariaBean.filialAtiva}" fieldSize="sm" disabled="true" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:inputText label="Descrição" styleClass="ed-contaBancaria" maxlength="60" value="#{contaBancariaBean.conta.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:selectOneMenu label="Tipo" value="#{contaBancariaBean.conta.tipo}" fieldSize="sm" required="true" requiredMessage="Tipo deve ser informado" >
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{contaBancariaBean.tiposContaBancaria}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="3">
                            <b:inputText label="Cód. banco"  maxlength="5" value="#{contaBancariaBean.conta.bacen}" fieldSize="sm" required="true" requiredMessage="Cód. banco deve ser informado"/>
                        </b:column>
                         <b:column span="6">
                            <b:inputText label="Banco"  maxlength="60" value="#{contaBancariaBean.conta.banco}" fieldSize="sm" required="true" requiredMessage="banco deve ser informado"/>
                        </b:column>                       
                    </b:row>
                    
                     <b:row>
                        <b:column span="2">
                            <b:inputText label="Agência"  maxlength="10" value="#{contaBancariaBean.conta.agencia}" fieldSize="sm" required="true" requiredMessage="Agência deve ser informado"/>
                        </b:column>
                         <b:column span="4">
                            <b:inputText label="Conta"  maxlength="10" value="#{contaBancariaBean.conta.conta}" fieldSize="sm" required="true" requiredMessage="Conta deve ser informado"/>
                        </b:column> 
                          <b:column span="4">
                            <b:inputText label="Cedente"  maxlength="20" value="#{contaBancariaBean.conta.cedente}" fieldSize="sm" />
                        </b:column>                          
                    </b:row>  
                    
                     <b:row>
                         <b:column span="8">
                            <b:inputText label="Titular"  maxlength="60" value="#{contaBancariaBean.conta.titular}" fieldSize="sm" required="true" requiredMessage="Titular deve ser informado"/>
                        </b:column>                       
                    </b:row>                     
                    
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{contaBancariaBean.salvar}"
                                     process="@this @(.dados-contaBancaria)" update="contasBancariaTable mensagens-contaBancaria validacao-contaBancaria @(.dados-contaBancaria)" look="primary"
                                     oncomplete="javascript:tratarInclusaoContaBancaria()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>		

            <b:container fluid="true">	 

                <h3>Contas bancárias</h3>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:defaultCommand target="novo" />

                <b:panel>
                    <b:commandButton value="Nova conta bancária" id="novo" size="sm" action="#{contaBancariaBean.limpar}" process="@this" update="@(.dados-contaBancaria)"
                                     oncomplete="javascript:abrirModalContaBancaria()" look="primary" />						
                </b:panel>

                <b:dataTable id="contasBancariaTable" value="#{contaBancariaBean.contasBancaria}" var="contasBancaria" customLangUrl="#{resource['/json/pt-br.json']}" 
                             pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">  
	    		
                    <b:dataTableColumn label="Descrição" value="#{contasBancaria.descricao}" />  							    		
                    <b:dataTableColumn label="Tipo" value="#{contasBancaria.tipo.label}" />
                    <b:dataTableColumn label="Banco" value="#{contasBancaria.banco}" />
                    <b:dataTableColumn label="Agencia" value="#{contasBancaria.agencia}" />
                    <b:dataTableColumn label="Conta" value="#{contasBancaria.conta}" />

                    <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                        <b:navCommandLink oncomplete="javascript:abrirModalContaBancaria()" tooltip="Editar" iconAwesome="pencil" value=""
                                          process="@this" update="@(.dados-contaBancaria)">
                            <f:setPropertyActionListener target="#{contaBancariaBean.conta}" value="#{contasBancaria}" />
                        </b:navCommandLink>			

                        <p:spacer width="10"/>

                        <b:navCommandLink oncomplete="javascript:abrirModalExclusaoContaBancaria()" tooltip="Excluir" iconAwesome="remove" value="" 
                                          process="@this" update="contasBancariaTable">
                            <f:setPropertyActionListener target="#{contaBancariaBean.conta}" value="#{contasBancaria}" />
                        </b:navCommandLink>
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>	    
    </ui:define>
</ui:composition>
