<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Dispositivos Seguranca (EPC)</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{cadastroDispositivoSegurancaBean.pesquisar}" type="preRenderView" />

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do dispositivo de seguranca -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					    action="#{cadastroDispositivoSegurancaBean.excluir}"	process="@this" update="tiposTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
   	    	<!-- Tela modal para inclusão/alteração dos dispositivos de seguraça -->
			<b:modal id="modal-tipo" styleClass="modal-tipo fade" title="Cadastro de Dispositivos de Segurança (EPC)" size="modal-md" backdrop="false">
				
				<b:fetchBeanInfos id="validacao-tipo"/>
				
				<b:container fluid="true" style-class="dados-tipo">
					<b:messages id="mensagens-tipo" />
					
					<b:row>
						<b:column span="12">
							<b:inputText label="Descrição" fieldId="descricao" maxlength="50" value="#{cadastroDispositivoSegurancaBean.tipoSelecionado.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada"/>
						</b:column>			
					</b:row>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{cadastroDispositivoSegurancaBean.salvar}"
						process="@this @(.dados-tipo)" update="tiposTable mensagens-tipo validacao-tipo @(.dados-tipo)" look="primary"
						oncomplete="javascript:if(!validationFailed){$('.modal-tipo').modal('hide');return false;}configurarMascara();"/>
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>			
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<b:defaultCommand target="novo" />
	    	
	    	<br/>
	    	<b:panel>
				<b:commandButton value="Novo dispositivo" id="novo" size="sm" action="#{cadastroDispositivoSegurancaBean.limpar}" process="@this" update="@(.dados-tipo)"
					oncomplete="javascript:$('.modal-tipo').modal('show');configurarMascara();$('#descricao').focus();return false;" look="primary" />
	    	</b:panel>

			<b:dataTable id="tiposTable" value="#{cadastroDispositivoSegurancaBean.tiposFiltrados}" var="tipo" customLangUrl="#{resource['/json/pt-br.json']}" 
				searching="false" paginated="false" saveState="false" >
	    		<b:dataTableColumn value="#{tipo.descricao}" label="Descrição" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
		    		<b:navCommandLink oncomplete="javascript:$('.modal-tipo').modal('show');configurarMascara();$('#descricao').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
		    				process="@this" update="@(.dados-tipo)">
		    			<f:setPropertyActionListener target="#{cadastroDispositivoSegurancaBean.tipoSelecionado}" value="#{tipo}" />
		    		</b:navCommandLink>			    		
					<p:spacer width="10"/>
    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
    						process="@this" update="tiposTable" >
		    			<f:setPropertyActionListener target="#{cadastroDispositivoSegurancaBean.tipoSelecionado}" value="#{tipo}" />
		    		</b:navCommandLink>										
		    	</b:dataTableColumn>	
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
