<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Feriados</ui:define>

    <ui:define name="corpo">
        <f:event listener="#{feriadoBean.pesquisar}" type="preRenderView" />

        <script>
            function abrirModalExclusaoFeriado() {
                $('.modal-confirmacao-feriado').modal('show');
                return false;
            }

            function tratarExclusaoFeriado() {
                $('.modal-confirmacao-feriado').modal('hide');
                return false;
            }

            function abrirModalFeriado() {
                $('.modal-feriado').modal('show');
                $('.ed-feriado').focus();
                configurarMascara();
                return false;
            }

            function abrirModalDuplicar() {
                if ((validationFailed) || (bfHasError)) {
                    $('#novo').focus();
                } else {
                    $('.modal-duplicar').modal('show');
                    $('.data-ate').focus();
                }
                configurarMascara();
                return false;
            }

            function abrirModalDuplicarFiliais() {
                if ((validationFailed) || (bfHasError)) {
                    $('#novo').focus();
                } else {
                    $('.modal-duplicar-filiais').modal('show');
                }
                configurarMascara();
                return false;
            }

            function tratarInclusaoFeriado() {
                if ((validationFailed) || (bfHasError)) {
                    $('.ed-feriado').focus();
                } else {
                    $('.modal-feriado').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarDuplicarFeriado() {
                if ((validationFailed) || (bfHasError)) {
                    $('.data-ate').focus();
                } else {
                    $('.modal-duplicar').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarDuplicarFeriadoFiliais() {
                if ((validationFailed) || (bfHasError)) {

                } else {
                    $('.modal-duplicar-filiais').modal('hide');
                }
                configurarMascara();
                return false;
            }
        </script>

        <h:form id="frmpesquisa">

            <!-- Tela modal para confirmar a exclusão do feriado -->
            <b:modal id="modal-confirmacao-feriado" styleClass="modal-confirmacao-feriado fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:tratarExclusaoFeriado()" 
                                     action="#{feriadoBean.excluir}"	process="@this" update="feriadosTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração de feriado -->
            <b:modal id="modal-feriado" styleClass="modal-feriado fade" title="Feriados" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-feriado"/>

                <b:container fluid="true" style-class="dados-feriado">
                    <b:messages id="mensagens-feriado" />

                    <b:row>
                        <b:column span="8">
                            <b:inputText label="Filial" value="#{feriadoBean.filialAtiva}" fieldSize="sm" disabled="true" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:inputText label="Descrição" styleClass="ed-feriado" maxlength="60" value="#{feriadoBean.feriado.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data" styleClass="campo-data" value="#{feriadoBean.feriado.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data ser informada" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="6">
                            <b:selectOneMenu label="Tipo" value="#{feriadoBean.feriado.tipo}" fieldSize="sm" required="true" requiredMessage="Tipo deve ser informado" >
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{feriadoBean.tiposFeriado}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="6">
                            <b:selectOneMenu label="Estado" value="#{feriadoBean.feriado.uf}" fieldSize="sm" >
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{feriadoBean.estados}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:inputText label="Município"  maxlength="60" value="#{feriadoBean.feriado.cidade}" fieldSize="sm" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{feriadoBean.salvar}"
                                     process="@this @(.dados-feriado)" update="feriadosTable mensagens-feriado validacao-feriado @(.dados-feriado)" look="primary"
                                     oncomplete="javascript:tratarInclusaoFeriado()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>		

            <!-- Tela modal para informar a data para duplicar para todos os feriados selecionados -->
            <b:modal id="modal-duplicar" styleClass="modal-duplicar fade" title="Duplicar feriado" size="modal-sm" backdrop="false">
                <b:fetchBeanInfos id="validacao-duplicar"/>

                <b:container fluid="true" style-class="dados-duplicar">
                    <b:messages id="mensagens-duplicar" />

                    <b:row>
                        <b:column span="10">
                            <b:dateTimePicker label="Data até" styleClass="data-ate" value="#{feriadoBean.dataDuplicar}" format="YYYY" show-today-button="true" fieldSize="sm" required="true" 
                                              requiredMessage="Informe a data" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{feriadoBean.duplicarFeriado}"						
                                     process="@this **:feriadosTable @(.dados-duplicar)" update="**:feriadosTable mensagens-duplicar validacao-duplicar @(.dados-duplicar)" look="primary"
                                     oncomplete="javascript:tratarDuplicarFeriado()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>			

            <!-- Tela modal para duplicar feriados para outras filiais -->
            <b:modal id="modal-duplicar-filiais" styleClass="modal-duplicar-filiais fade" title="Duplicar feriado para outras filiais" size="modal-lg" backdrop="false">
                <b:fetchBeanInfos id="validacao-duplicar-filiais"/>

                <b:container fluid="true" style-class="dados-duplicar-filiais">
                    <b:messages id="mensagens-duplicar-filiais" />

                    <b:dataTable id="filiaisTable" value="#{feriadoBean.filiais}" var="filial" pageLength="50" pageLengthMenu="[50,100,150]" customLangUrl="#{resource['/json/pt-br.json']}">
                        <b:dataTableColumn label="" orderable="false" contentStyle="text-align: center;">
                            <b:selectBooleanCheckbox value="#{filial.flag}"/>
                        </b:dataTableColumn>	
                        <b:dataTableColumn label="Empresa" value="#{filial.empresa.razaoSocial}" />
                        <b:dataTableColumn label="Filial" value="#{filial.nome}" />
                    </b:dataTable>					
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{feriadoBean.duplicarFeriadoFiliais}"						
                                     process="@this **:feriadosTable @(.dados-duplicar-filiais)" update="**:feriadosTable mensagens-duplicar-filiais validacao-duplicar-filiais @(.dados-duplicar-filiais)" look="primary"
                                     oncomplete="javascript:tratarDuplicarFeriadoFiliais()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>					

            <b:container fluid="true">	 

                <h3>Feriados</h3>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:defaultCommand target="novo" />

                <b:panel>
                    <b:commandButton value="Novo feriado" id="novo" size="sm" action="#{feriadoBean.limpar}" process="@this" update="@(.dados-feriado)"
                                     oncomplete="javascript:abrirModalFeriado()" look="primary" />

                    <p:spacer width="10"/>

                    <b:dropButton value="Opções " id="btn-opcoes" look="primary" size="sm">
                        <b:navCommandLink value="Duplicar feriado" action="#{feriadoBean.validarSelecionados}" process="@this **:feriadosTable" update="frmpesquisa:validacao-duplicar frmpesquisa:mensagens @(.dados-duplicar)" oncomplete="javascript:abrirModalDuplicar()"/>
                        <b:navCommandLink value="Duplicar feriado filiais" action="#{feriadoBean.validarSelecionados}" process="@this **:feriadosTable" update="frmpesquisa:validacao-duplicar-filiais frmpesquisa:mensagens @(.dados-duplicar-filiais)" oncomplete="javascript:abrirModalDuplicarFiliais()"/>
                    </b:dropButton>						
                </b:panel>

                <b:dataTable id="feriadosTable" value="#{feriadoBean.feriados}" var="feriado" customLangUrl="#{resource['/json/pt-br.json']}" 
                             pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">  

                    <b:dataTableColumn label="" orderable="false" contentStyle="text-align: center;">
                        <b:selectBooleanCheckbox value="#{feriado.flag}"/>
                    </b:dataTableColumn>	    		
                    <b:dataTableColumn label="Descrição" value="#{feriado.descricao}" />
                    <b:dataTableColumn label="Data" dataType="date" data-order="#{feriado.data.toString()}">
                        <h:outputText value="#{feriado.data}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>	    				
                    </b:dataTableColumn>   							    		
                    <b:dataTableColumn label="Tipo" value="#{feriado.tipo.label}" />
                    <b:dataTableColumn label="Estado" value="#{feriado.uf.label}" />
                    <b:dataTableColumn label="Município" value="#{feriado.cidade}" />

                    <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                        <b:navCommandLink oncomplete="javascript:abrirModalFeriado()" tooltip="Editar" iconAwesome="pencil" value=""
                                          process="@this" update="@(.dados-feriado)">
                            <f:setPropertyActionListener target="#{feriadoBean.feriado}" value="#{feriado}" />
                        </b:navCommandLink>			

                        <p:spacer width="10"/>

                        <b:navCommandLink oncomplete="javascript:abrirModalExclusaoFeriado()" tooltip="Excluir" iconAwesome="remove" value="" 
                                          process="@this" update="feriadosTable">
                            <f:setPropertyActionListener target="#{feriadoBean.feriado}" value="#{feriado}" />
                        </b:navCommandLink>
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>	    
    </ui:define>
</ui:composition>
