<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Equipes e Setores</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{pesquisaEquipeBean.pesquisarEquipes}" type="preRenderView" />
    	
		<script>
			function abrirModalExcluir() {
				if ((validationFailed) || (bfHasError)) {
					$('#novo').focus();
				} else {					
					$('.modal-excluir').modal('show');
				}
				configurarMascara();
				return false; 
			}
		
			function fecharModalExcluir() {
				$('.modal-excluir').modal('hide');
				return false;
			}
			
			function abrirModalDuplicar() {
				if ((validationFailed) || (bfHasError)) {
					$('#novo').focus();
				} else {					
					$('.modal-duplicar').modal('show');
					$('#descricao').focus();
				}
				configurarMascara();
				return false; 			
			}
			
			function fecharModalDuplicar() {
				if ((validationFailed) || (bfHasError)) {
					$('#descricao').focus();
				} else {
					$('.modal-duplicar').modal('hide');
				}
				configurarMascara();
				return false;
			}
		</script>

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão da(s) equipe(s) selecionada(s) -->
			<b:modal id="modal-excluir" styleClass="modal-excluir fade" title="Excluir equipe" size="modal-md" backdrop="false">
				<p>Confirma a exclusão da(s) equipe(s) selecioanda(s)?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{pesquisaEquipeBean.excluirEquipes}"						
						process="@this **:equipesTable" update="**:equipesTable" look="primary"
						oncomplete="javascript:fecharModalExcluir()"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
   	    	<!-- Tela modal para duplicar a(s) equipe(s) selecionada(s) -->
			<b:modal id="modal-duplicar" styleClass="modal-duplicar fade" title="Duplicar equipe" size="modal-md" backdrop="false">
				<b:container fluid="true" style-class="dados-duplicar">
				<b:messages id="mensagens-duplicar" />
				<p:focus context="modal-duplicar"/>
				
			    	<b:row>
						<b:column span="10">
							<b:inputText label="Descrição equipe" id="descricao" maxlength="60" value="#{pesquisaEquipeBean.equipeDuplicar.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição equipe deve ser informada"/>
						</b:column>
			    	</b:row>
			    	
					<b:row>
						<b:column span="8">
							<b:selectOneMenu label="Responsável" value="#{pesquisaEquipeBean.equipeDuplicar.colaborador}" fieldSize="sm">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{pesquisaEquipeBean.colaboradores}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
							</b:selectOneMenu>							
						</b:column>
					</b:row>				    	
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{pesquisaEquipeBean.duplicarEquipes}"						
						process="@this **:equipesTable @(.dados-duplicar)" update="**:equipesTable mensagens-duplicar validacao @(.dados-duplicar)" look="primary"
						oncomplete="javascript:fecharModalDuplicar()"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>	
			
	    	<b:container fluid="true">
	    	
	    	<b:messages id="mensagens" />
	    	<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	<b:fetchBeanInfos id="validacao"/>
	    	
	    	<br/>
	    	<b:panel>
	    		<b:button value="Nova equipe" id="novo" outcome="/cadastros/CadastroEquipe" look="primary" size="sm" />
	    		
	    		<p:spacer width="10"/>
	    		<b:dropButton value="Opções " look="primary" size="sm">
	    			<b:navCommandLink value="Duplicar" action="#{pesquisaEquipeBean.validarSelecionados}" process="@this **:equipesTable" update="frmpesquisa:validacao frmpesquisa:mensagens @(.dados-duplicar)" oncomplete="javascript:abrirModalDuplicar()"/>	    		
	    			<b:navCommandLink value="Excluir" action="#{pesquisaEquipeBean.validarSelecionados}" process="@this **:equipesTable" update="frmpesquisa:validacao frmpesquisa:mensagens" oncomplete="javascript:abrirModalExcluir()"/>
    			</b:dropButton>
	    	</b:panel>

			<b:dataTable id="equipesTable" value="#{pesquisaEquipeBean.equipes}" var="equipe" customLangUrl="#{resource['/json/pt-br.json']}"				
				searching="true" paginated="true">

				<b:dataTableColumn label="" orderable="false" style="width:25px;" contentStyle="text-align: center;">
					<b:selectBooleanCheckbox value="#{equipe.flag}"/>
				</b:dataTableColumn>	

				<b:dataTableColumn value="#{equipe.descricao}" label="Descrição" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">    		
		    		<b:navLink value="" outcome="/cadastros/CadastroEquipe" tooltip="Editar" iconAwesome="pencil">
		    			<f:param name="equipe" value="#{equipe.id}" />
		    		</b:navLink>
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
