<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Atividades</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{pesquisaAtividadeBean.pesquisarAtividades}" type="preRenderView" />

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão da atividade -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					    action="#{pesquisaAtividadeBean.excluir}"	process="@this" update="atividadesTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:button value="Nova atividade" outcome="/cadastros/CadastroAtividade" look="primary" size="sm" />
	    	</b:panel>

			<b:dataTable id="atividadesTable" value="#{pesquisaAtividadeBean.atividades}" var="atividade" customLangUrl="#{resource['/json/pt-br.json']}"				
				searching="true" paginated="true" select="false"
				onselect="ajax:pesquisaAtividadeBean.selecionarAtividade(atividade);"
				ondeselect="ajax:pesquisaAtividadeBean.DeSelecionarAtividade(atividade);" >

				<b:dataTableColumn value="#{atividade.descricao}" label="Descrição" />
	    		<b:dataTableColumn label="Qtd Horas" style="width: 90px; text-align: center;">
	    			<h:outputText value="#{atividade.quantidadeHoras}">
	    				<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
	    			</h:outputText>
	    		</b:dataTableColumn>
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
		    		<b:navLink value="" outcome="/cadastros/CadastroAtividade" tooltip="Editar" iconAwesome="pencil">
		    			<f:param name="atividade" value="#{atividade.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>
    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
    						process="@this" update="atividadesTable" >
		    			<f:setPropertyActionListener target="#{pesquisaAtividadeBean.atividadeSelecionada}" value="#{atividade}" />
		    		</b:navCommandLink>										
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
