<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Alimentação</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{tipoAlimentacaoBean.pesquisar}" type="preRenderView" />
    	
    	<script>
    		function abrirModalExclusaoTipo() {
    			$('.modal-confirmacao-tipo').modal('show');
    			return false;
    		}
    					
    		function tratarExclusaoTipo() {
    			$('.modal-confirmacao-tipo').modal('hide');
    			return false;
    		}
    					
    		function abrirModalTipo() {
    			$('.modal-tipo').modal('show');
    			$('.ed-estado').focus();
    			configurarMascara();
    			return false;
    		}
    		
    		function tratarInclusaoTipo() {
    			if ((validationFailed) || (bfHasError)) {					
    				$('.ed-estado').focus();
    			} else {
    				$('.modal-tipo').modal('hide');						
    			}
    			configurarMascara();
    			return false;
			}    	
    	</script>    	

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do tipo de alimentação -->
			<b:modal id="modal-confirmacao-tipo" styleClass="modal-confirmacao-tipo fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:tratarExclusaoTipo()" 
					    action="#{tipoAlimentacaoBean.excluir}"	process="@this" update="tiposTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
   	    	<!-- Tela modal para inclusão/alteração do tipo de alimentação -->
			<b:modal id="modal-tipo" styleClass="modal-tipo fade" title="Alimentação" size="modal-md" backdrop="false">
				
				<b:fetchBeanInfos id="validacao-tipo"/>
				
				<b:container fluid="true" style-class="dados-tipo">
					<b:messages id="mensagens-tipo" />

					<b:row>
						<b:column span="8">
							<b:inputText label="Filial" value="#{tipoAlimentacaoBean.filialAtiva}" fieldSize="sm" disabled="true" />
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="6">
	    					<b:selectOneMenu label="Estado" styleClass="ed-estado" value="#{tipoAlimentacaoBean.tipo.estado}" fieldSize="sm" required="true" requiredMessage="Estado deve ser informado" >
	    						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{tipoAlimentacaoBean.estados}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
							</b:selectOneMenu>
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="6">
	    					<b:selectOneMenu label="Período" value="#{tipoAlimentacaoBean.tipo.periodo}" fieldSize="sm" required="true" requiredMessage="Período deve ser informado" >
	    						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{tipoAlimentacaoBean.periodos}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
							</b:selectOneMenu>
						</b:column>
					</b:row>					
					
					<b:row>
						<b:column span="5" >
    						<b:inputText label="Valor" maxlength="13" styleClass="moeda" value="#{tipoAlimentacaoBean.tipo.valor}" field-size="sm" required="true" requiredMessage="Valor deve ser informado">
    		    				<f:facet name="prepend">
        		    	   			<h:outputText value="R$" />
					            </f:facet>
    							<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
   							</b:inputText>
						</b:column>					
					</b:row>
					
			    	<b:row >
						<b:column span="3">
							<b:inputText label="Hora Início" alt="time" value="#{tipoAlimentacaoBean.tipo.horaInicio}" fieldSize="sm" required="true" requiredMessage="Hora Início deve ser informada">
								<f:convertDateTime type="time" timeStyle="short" />
							</b:inputText>
						</b:column>
						<b:column span="3">
							<b:inputText label="Hora Término" alt="time" value="#{tipoAlimentacaoBean.tipo.horaTermino}" fieldSize="sm" required="true" requiredMessage="Hora Término deve ser informada">
								<f:convertDateTime type="time" timeStyle="short" />
							</b:inputText>
						</b:column>						
					</b:row>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{tipoAlimentacaoBean.salvar}"
						process="@this @(.dados-tipo)" update="tiposTable mensagens-tipo validacao-tipo @(.dados-tipo)" look="primary"
						oncomplete="javascript:tratarInclusaoTipo()"/>
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>			
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" info-class="message-info-hidden" />
	    	<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<br/>
	    	<b:panel>
				<b:commandButton value="Novo registro" size="sm" action="#{tipoAlimentacaoBean.limpar}" process="@this" update="@(.dados-tipo)"
					oncomplete="javascript:abrirModalTipo()" look="primary" />
	    	</b:panel>

			<b:dataTable id="tiposTable" value="#{tipoAlimentacaoBean.tipos}" var="tipo" customLangUrl="#{resource['/json/pt-br.json']}" 
				pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">
	    		
		    	<b:dataTableColumn label="Estado" value="#{tipo.estado.label}" />   							    		
		    	<b:dataTableColumn label="Período" value="#{tipo.periodo.label}" />
   				<b:dataTableColumn label="Valor">
   					<h:outputText value="#{tipo.valor}">
   						<f:convertNumber type="currency" />
   					</h:outputText>
   				</b:dataTableColumn>		    	
   				<b:dataTableColumn label="Hora início" styleClass="coluna-centro">
   					<h:outputText value="#{tipo.horaInicio}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>	    				
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Hora término" styleClass="coluna-centro">
   					<h:outputText value="#{tipo.horaTermino}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>	    				
   				</b:dataTableColumn>
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
		    		<b:navCommandLink oncomplete="javascript:abrirModalTipo()" tooltip="Editar" iconAwesome="pencil" value=""
		    				process="@this" update="@(.dados-tipo)">
		    			<f:setPropertyActionListener target="#{tipoAlimentacaoBean.tipo}" value="#{tipo}" />
			   		</b:navCommandLink>			
		    		    		
					<p:spacer width="10"/>
					
    				<b:navCommandLink oncomplete="javascript:abrirModalExclusaoTipo()" tooltip="Excluir" iconAwesome="remove" value="" 
	    					process="@this" update="tiposTable">
			   			<f:setPropertyActionListener target="#{tipoAlimentacaoBean.tipo}" value="#{tipo}" />
			   		</b:navCommandLink>										
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
