<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <f:metadata>
        <f:viewParam name="dummy"/>
        <!--<f:event listener="#{graficoBean.preRender}" type="preRenderView"/>-->
    </f:metadata>

    <ui:define name="titulo">Mesure - Gestão de Projetos de Engenharia</ui:define>

    <ui:define name="corpo">

        <b:row style="margin-top: 100px;">
            <b:column offset="2" span="2">
                <b:navLink outcome="/projetos/PesquisaProjetos" value="" >
                    <b:iconAwesome name="folder-open" size="5x" />
                    <br/>
                    <h:outputText value="Projetos" style="margin-left: 7px;"/>
                </b:navLink>
            </b:column>
            <b:column offset="1" span="2">
                <b:navLink outcome="/colaboradores/Ponto" value="" >
                    <b:iconAwesome name="clock-o" size="5x" />
                    <br/>
                    <h:outputText value="Ponto" style="margin-left: 12px;"/>
                </b:navLink>
            </b:column>		

            <b:column offset="1" span="2">
                <b:navLink outcome="/veiculos/PesquisaVeiculos" value="" >
                    <b:iconAwesome name="automobile" size="5x" />
                    <br/>
                    <h:outputText value="Veículos" style="margin-left: 12px;"/>
                </b:navLink>
            </b:column>			

        </b:row>

        <b:row style="margin-top: 60px;">
            <b:column offset="2" span="2">			
                <b:navLink outcome="/clientes/PesquisaClientes" value="" >
                    <b:iconAwesome name="vcard" size="5x" />
                    <br/>
                    <h:outputText value="Clientes" style="margin-left: 15px;"/>
                </b:navLink>
            </b:column>		

            <b:column offset="1" span="2">
                <b:navLink outcome="/projetos/PesquisaExecucao" value="" >
                    <b:iconAwesome name="cog" size="5x" />
                    <br/>
                    <h:outputText value="Execução" style="margin-left: 0px;"/>
                </b:navLink>
            </b:column>		

            <b:column offset="1" span="2">
                <b:navLink outcome="/projetos/PesquisaProgramacao" value="" >
                    <b:iconAwesome name="road" size="5x" />
                    <br/>
                    <h:outputText value="Programação" style="margin-left: -5px;"/>
                </b:navLink>
            </b:column>		
        </b:row>	

        <b:row style="margin-top: 60px;">
            <b:column offset="2" span="2">
                <b:navLink outcome="/financeiro/LoteFaturamento" value="">
                    <b:iconAwesome name="line-chart" size="5x"/>
                    <br/>
                    <h:outputText value="Faturamento" style="margin-left: 5px;"/>  
                </b:navLink>
            </b:column>
            
            <b:column offset="1" span="2">
                <b:navLink outcome="/financeiro/PesquisaTituloReceber" value="">
                    <b:iconAwesome name="money" size="5x"/>
                    <br/>
                    <h:outputText value="Títulos a Receber" style="margin-left: -15px;"/>  
                </b:navLink>
            </b:column> 
            
            <b:column offset="1" span="2">
                <b:navLink outcome="/colaboradores/LoteApuracao" value="">
                    <b:iconAwesome name="area-chart" size="5x"/>
                    <br/>
                    <h:outputText value="Apuração de Horas" style="margin-left: -15px;"/>  
                </b:navLink>
            </b:column>             
        </b:row>

        <p:spacer height="80"/>

    </ui:define>

</ui:composition>