<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Mesure - login</title>

        <h:outputStylesheet library="css" name="sistema.css"/>
        <link rel="shortcut icon" type="image/png" href="#{resource['/images/icone-guia.png']}"/>
    </h:head>
    
    <h:body style="background-image: url('#{resource['/images/fundo-login.jpg']}')">
    	<f:metadata>
    		<f:viewParam name="dummy" />
    		<!--<f:event listener="#{loginBean.preRender}" type="preRenderView" />-->
    		<f:viewAction action="#{loginBean.preRender}"></f:viewAction>
    	</f:metadata>
    	
   		<h:form id="frm" prependId="false">
	   		<b:container fluid="true">
	   		
				<p:focus context="frm"/>
	    			
    			<div class="div-login">
    				<div style="height:20px;"/>
    					
	    			<div style="height:52px;background-color: white;">
		    			<b:image value="#{resource['/images/logo-mesure.png']}" style="height: 52px;" />
	    			</div>
	    				
	    			<div style="text-align: left !important;">    				
   						<h2 style="font-size: 20px;color: #4d4d4d;margin-left: 20px;">Acesso ao sistema</h2>
   					</div>
    				
					<div style="margin-top:10px;">
						<b:inputText placeholder="E-mail" name="username" fieldId="ed-email" style="width: 280px;height: 35px;margin-left: 20px;" maxlength="100" />
						<b:inputSecret placeholder="Senha" name="password" fieldId="ed-senha" style="width: 280px;height: 35px;margin-top:12px;margin-left: 20px;" maxlength="20"/>    					 
						
						<b:commandButton value="ACESSAR" style="width: 280px;margin-top:12px;" action="#{loginBean.login}" look="primary" ajax="false" size="sm"/>
					</div>
   						
					<div style="text-align: left !important;margin-top:25px;">
						<a style="margin-left: 20px;" href="http://www.mesureapp.com/" target="_blank">Saiba mais sobre o Mesure</a>
					</div>
   						
					<b:messages showIcon="false" style="text-align: left;" />
   				</div>
    		</b:container>		
   		</h:form>
    </h:body>
</html>