<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>
            <ui:insert name="titulo">Gerenciamento de Projetos</ui:insert>
        </title>

        <h:outputStylesheet library="css" name="sistema.css" />
        <h:outputScript library="js" name="jquery.maskMoney.js" />
        <h:outputScript library="js" name="jquery.meiomask.js" />
        <link rel="shortcut icon" type="image/png" href="#{resource['/images/icone-guia.png']}" />
    </h:head>

    <!-- Add 50px padding top to the body for the navbar -->
    <h:body style="padding-top: 40px; padding-bottom: 20px;">

        <script>

        </script>

        <p:ajaxStatus styleClass="ajax-status" onsuccess="configurarMascara()">
            <f:facet name="start">
                <h:graphicImage library="images" name="loader.gif" />
            </f:facet>
            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>

        <h:form id="frmLayout">

            <!-- Tela modal para seleção de empresa/filial -->
            <b:modal id="modal-selecao" styleClass="modal-selecao fade" title="Seleção de empresa/filial" size="modal-lg" backdrop="false">

                <b:fetchBeanInfos id="validacao-filial" />
                <b:messages id="mensagens-filial" />

                <b:dataTable id="filiaisTable" value="#{selecaoFilialBean.filiais}" var="filial" pageLength="50" pageLengthMenu="[50,100,150]"
                             customLangUrl="#{resource['/json/pt-br.json']}">
                    <b:dataTableColumn label="Empresa" value="#{filial.empresa.razaoSocial}" />
                    <b:dataTableColumn label="Filial" value="#{filial.nome}" />
                    <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                        <b:navCommandLink value="" outcome="#{utilBean.urlHome}" tooltip="Selecionar" iconAwesome="arrow-right" action="#{selecaoFilialBean.setarFilialAtiva}"
                                          oncomplete="javascript:tratarSelecaoFilial()">
                            <f:setPropertyActionListener target="#{selecaoFilialBean.filialSelecionada}" value="#{filial}" />
                        </b:navCommandLink>
                    </b:dataTableColumn>
                </b:dataTable>
                <f:facet name="footer">
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <header>
                <!--<b:navBar brand="Início" brandHref="#{utilBean.urlHome}" inverse="true" fixed="top" style-class="barra-menu" > -->
                <!--<b:navBar brand-img="resources/images/logo-mesure-new.png" brandHref="#{utilBean.urlHome}" inverse="true" fixed="top" style-class="barra-menu" >-->
                <!--<b:navBar brand-img="#{utilBean.urlLogo}" brandHref="#{utilBean.urlHome}" inverse="true" fixed="top" style-class="barra-menu" >-->
                <b:navBar brand-img="#{resource['/images/logo-menu.png']}" brandHref="#{utilBean.urlHome}" inverse="true" fixed="top" style-class="barra-menu">
                    <b:navbarLinks>
                        <b:dropMenu value="Cadastros">
                            <b:navLink value="Empresas" outcome="/empresas/PesquisaEmpresas"></b:navLink>
                            <b:dropMenu value="Colaboradores">
                                <b:navLink value="Cadastro" outcome="/colaboradores/PesquisaColaboradores"></b:navLink>
                                <b:navLink value="Treinamentos e qualificações" outcome="/colaboradores/PesquisaTreinamentos"></b:navLink>
                            </b:dropMenu>
                            <b:navLink value="Clientes" outcome="/clientes/PesquisaClientes"></b:navLink>
                            <b:navLink value="Fornecedores" outcome="/fornecedores/PesquisaFornecedores"></b:navLink>
                            <b:navLink value="Equipes e setores" outcome="/cadastros/PesquisaEquipes"></b:navLink>
                            <b:navLink></b:navLink>
                            <b:dropMenu value="Projetos">
                                <b:navLink value="Alimentação" outcome="/cadastros/TipoAlimentacao"></b:navLink>
                                <b:navLink value="Atividades" outcome="/cadastros/PesquisaAtividades"></b:navLink>
                                <b:navLink value="Tipos de projeto" outcome="/cadastros/TiposProjeto"></b:navLink>
                                <b:navLink value="Tipos de atividade extra" outcome="/cadastros/TiposAtvExtra"></b:navLink>
                                <b:navLink value="Tipos de atividade prevista" outcome="/cadastros/TiposAtvPrevista"></b:navLink>
                            </b:dropMenu>
                            <b:dropMenu value="Veículos">
                                <b:navLink value="Marcas e modelos" outcome="/veiculos/PesquisaMarcas"></b:navLink>
                            </b:dropMenu>
                            <b:dropMenu value="Serviços">
                                <b:navLink value="Equipamentos de proteção (EPI)" outcome="/cadastros/EquipamentosProtecao"></b:navLink>
                                <b:navLink value="Dispositivos de segurança (EPC)" outcome="/cadastros/DispositivosSeguranca"></b:navLink>
                            </b:dropMenu>
                            <b:dropMenu value="Financeiro">
                                <b:navLink value="Contas bancárias" outcome="/cadastros/ContasBancarias"></b:navLink>
                            </b:dropMenu>
                            <b:dropMenu value="Gerais">
                                <b:navLink value="Feriados" outcome="/cadastros/Feriados"></b:navLink>
                            </b:dropMenu>
                            <b:navLink></b:navLink>
                            <b:navLink value="Configurações" outcome="/cadastros/Configuracao"></b:navLink>
                        </b:dropMenu>
                        <b:dropMenu value="Usuários">
                            <b:navLink value="Cadastro" outcome="/usuarios/PesquisaUsuarios"></b:navLink>
                            <b:navLink value="Grupos e permissões" outcome="/usuarios/PesquisaGrupos"></b:navLink>
                        </b:dropMenu>
                        <b:dropMenu value="Veículos">
                            <b:navLink value="Cadastro" outcome="/veiculos/PesquisaVeiculos"></b:navLink>
                        </b:dropMenu>
                        <b:dropMenu value="Projetos">
                            <b:navLink value="Projetos" outcome="/projetos/PesquisaProjetos"></b:navLink>
                            <b:navLink value="Kanban" outcome="/projetos/kbAtvProjeto"></b:navLink>
                            <b:navLink value="Programação execução" outcome="/projetos/PesquisaProgramacao"></b:navLink>
                            <b:navLink value="Alterar programação" outcome="/projetos/AlterarProgramacao"></b:navLink>
                            <b:navLink value="Execução" outcome="/projetos/PesquisaExecucao"></b:navLink>
                        </b:dropMenu>
                        <b:dropMenu value="Financeiro">
                            <b:navLink value="Faturamento" outcome="/financeiro/LoteFaturamento"></b:navLink>
                            <b:navLink value="Contas a receber" outcome="/financeiro/PesquisaTituloReceber"></b:navLink>
                        </b:dropMenu>
                        <b:dropMenu value="Colaboradores">
                            <b:navLink value="Ponto" outcome="/colaboradores/Ponto"></b:navLink>
                            <b:navLink value="Apuração de horas" outcome="/colaboradores/LoteApuracao"></b:navLink>
                        </b:dropMenu>
                        <b:dropMenu value="Gerencial">
                            <b:dropMenu value="Relatórios">
                                <b:dropMenu value="Projetos">
                                    <b:navLink value="Apontamento de horas projetos" outcome="/relatorios/RelatorioApontamento"></b:navLink>
                                    <b:navLink value="Eficiência" outcome="/relatorios/RelatorioEficiencia"></b:navLink>
                                </b:dropMenu>
                                <b:dropMenu value="Colaboradores">
                                    <b:navLink value="Horas faltantes" outcome="/relatorios/RelatorioHorasFaltantes"></b:navLink>
                                </b:dropMenu>
                                <b:navLink value="Controle de ponto" outcome="/relatorios/RelatorioControlePonto"></b:navLink>
                                <b:navLink value="Treinamentos" outcome="/relatorios/RelatorioTreinamentosColaborador"></b:navLink>
                                <b:navLink></b:navLink>
                                <b:navLink value="Apontamento de horas" outcome="/relatorios/RelatorioApontamentoHora"></b:navLink>
                                <b:navLink value="Dados de projetos" outcome="/relatorios/RelatorioDadosProjeto"></b:navLink>
                                <b:navLink value="Veículos" outcome="/relatorios/RelatorioSaidaVeiculos"></b:navLink>
                            </b:dropMenu>
                            <b:dropMenu value="Gráficos">
                                <b:navLink value="Projetos iniciados x finalizados" outcome="/graficos/GraficoProjetos"></b:navLink>
                            </b:dropMenu>
                        </b:dropMenu>
                    </b:navbarLinks>

                    <b:navbarLinks pull="right">
                        <b:dropMenu value="#{seguranca.nomeUsuario}" iconAwesome="user-o">
                            <b:navCommandLink value="Empresa/Filial" process="@this" update="filiaisTable lbFilial" oncomplete="javascript:$('.modal-selecao').modal('show');return false;"
                                              actionListener="#{selecaoFilialBean.carregarFiliais}">
                            </b:navCommandLink>
                            <b:navLink value="Sair" href="#{utilBean.urlLogout}"></b:navLink>
                        </b:dropMenu>
                    </b:navbarLinks>
                </b:navBar>
            </header>

        </h:form>

        <div id="conteudo">
            <ui:insert name="corpo" />
        </div>

        <p:separator style="margin-top: 20px" />

        <footer class="main_footer">
            <h:outputText value="Filial: " style="font-weight: bold;" />
            <h:outputText id="lbFilial" value="#{selecaoFilialBean.descricaoFilialAtiva}" />
        </footer>

        <script>
            function tratarSelecaoFilial() {
                $('.modal-selecao').modal('hide');
                return false;
            }

            function configurarMascara() {
                $(".moeda").maskMoney({decimal: ",", thousands: ".", allowZero: true});

                $(".campo-data").setMask({mask: '39/19/9999'});
                $(".campo-competencia").setMask({mask: '19/9999', autoTab: false});
                $(".centesimal-2-2").setMask({mask: '99,99', type: 'reverse', defaultValue: '000'});
                $(".centesimal-3-2").setMask({mask: '99,999', type: 'reverse', defaultValue: '000'});
                $(".centesimal-4-2").setMask({mask: '99,9999', type: 'reverse', defaultValue: '000'});
                $(".centesimal-5-2").setMask({mask: '99,99999', type: 'reverse', defaultValue: '000'});

                $(".fone1").focus(function (event) {
                    $('.fone1').setMask('(99) 99999-9999');
                });

                $(".fone1").blur(function (event) {
                    if ($(this).val().length == 15) {
                        $('.fone1').setMask('(99) 99999-9999');
                    } else {
                        $('.fone1').setMask('(99) 9999-9999');
                    }
                });

                $(".fone2").focus(function (event) {
                    $('.fone2').setMask('(99) 99999-9999');
                });

                $(".fone2").blur(function (event) {
                    if ($(this).val().length == 15) {
                        $('.fone2').setMask('(99) 99999-9999');
                    } else {
                        $('.fone2').setMask('(99) 9999-9999');
                    }
                });

                $('input[type="text"]').setMask();
            }

            $(document).ready(function () {
                configurarMascara();
            });
        </script>
    </h:body>

</html>