<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Cadastro de usuários</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<o:viewParam name="usuario" value="#{cadastroUsuarioBean.usuario}" converter="usuarioConverter" />
			<f:viewAction action="#{cadastroUsuarioBean.inicializar}"></f:viewAction>
		</f:metadata>
		
   	    <h:form id="frmCadastro" prependId="false">
   	    
			<!-- Tela modal para confirmar a exclusão do grupo -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
						action="#{cadastroUsuarioBean.excluirGrupo}" process="@this" update="gruposTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    	    
	      	       	    
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro de usuarios</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />	   		
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	   		<!--<b:growl styleClass="my-grow" globalOnly="true" placementFrom="top" animation-enter="animated bounceInDown" animation-exit="animated flipOutX" allowDismiss="true"  delay="999999" showDetail="true" showSummary="false"/>-->
	    	
	    	<b:focus target="nome" />
	    	<b:defaultCommand target="gravar" />	    	
	    		    	
	    	<b:panel>
	    		<b:button value="Novo usuário" outcome="/usuarios/CadastroUsuario" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroUsuarioBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" update="@form" oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/usuarios/PesquisaUsuarios" look="primary" style="float: right" size="sm" />
	    	</b:panel>

			<b:panel>

			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Nome" id="nome" maxlength="60" value="#{cadastroUsuarioBean.usuario.nome}" fieldSize="sm" required="true" requiredMessage="Nome deve ser informado" />
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:selectOneMenu label="Ativo" value="#{cadastroUsuarioBean.usuario.ativo}" fieldSize="sm" required="true" requiredMessage="Ativo deve ser informado">
						<f:selectItems value="#{cadastroUsuarioBean.opcoesSimNao}" var="o" itemLabel="#{o.label}" itemValue="#{o}" />
					</b:selectOneMenu>
				</b:column>
			</b:row>			
			
			<b:row styleClass="dados">
				<b:column span="3">
					<b:inputText label="E-mail"  maxlength="255" value="#{cadastroUsuarioBean.usuario.email}" fieldSize="sm" required="true" requiredMessage="E-mail deve ser informado">
        	    		<f:facet name="prepend">
    	    	        	<b:iconAwesome name="user" />
	           		 	</f:facet>	            			
            		</b:inputText>
				</b:column>	
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="3">
					<b:inputSecret label="Senha" maxlength="14" value="#{cadastroUsuarioBean.senha}" fieldSize="sm">
        	    		<f:facet name="prepend">
    	    	        	<b:iconAwesome name="key" />
	           		 	</f:facet>	            			
					</b:inputSecret>
				</b:column>
			</b:row>			
			
			<b:row styleClass="dados">
				<b:column span="3">
					<b:inputSecret label="Confirmação Senha" maxlength="14" value="#{cadastroUsuarioBean.confirmacaoSenha}" fieldSize="sm" >
        	    		<f:facet name="prepend">
    	    	        	<b:iconAwesome name="check" />
	           		 	</f:facet>						
					</b:inputSecret>
				</b:column>
			</b:row>			
			
			</b:panel>
			
			<b:row>
				<b:column span="2">
					<b:selectOneMenu id="selectGrupos" value="#{cadastroUsuarioBean.grupo}" fieldSize="sm" >
						<f:selectItem itemLabel="Selecione o grupo" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroUsuarioBean.gruposDisponiveis}" var="grupo" itemValue="#{grupo}" itemLabel="#{grupo.nome}" />
					</b:selectOneMenu>
				</b:column>						
				<b:column span="2">
					<b:commandButton icon-awesome="plus" size="sm" style-class="btn-add-grupo-usuario" 
						 action="#{cadastroUsuarioBean.incluirGrupo}" process="@this selectGrupos" update="gruposTable selectGrupos mensagens"/>
				</b:column>
			</b:row>
			
			<b:dataTable id="gruposTable" value="#{cadastroUsuarioBean.usuario.grupos}" var="grupo" customLangUrl="#{resource['/json/pt-br.json']}"
				searching="false" paginated="false">
	    		
	    		<b:dataTableColumn value="#{grupo.nome}" />
	    		
		    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="gruposTable" >
		    			<f:setPropertyActionListener target="#{cadastroUsuarioBean.grupo}" value="#{grupo}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>										
		    	</b:dataTableColumn>	    		
			</b:dataTable>			
			
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>
