<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Grupos e Permissões</ui:define>

    <ui:define name="corpo">
        <f:event listener="#{pesquisaGrupoBean.pesquisar}" type="preRenderView" />

        <script>
            function abrirModalConfirmacao() {
                $('.modal-confirmacao').modal('show');
                return false;
            }

            function fecharModalConfirmacao() {
                $('.modal-confirmacao').modal('hide');
                return false;
            }

            function abrirModalGrupo() {
                $('.modal-grupo').modal('show');
                $('#nome-grupo').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoGrupo() {
                if ((validationFailed) || (bfHasError)) {
                    $('#nome-grupo').focus();
                } else {
                    $('.modal-grupo').modal('hide');
                }
                configurarMascara();
                return false;
            }
        </script>

        <h:form id="frmpesquisa">

            <!-- Tela modal para confirmar a exclusão do grupo -->
            <b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão do registro?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacao()" 
                                     action="#{pesquisaGrupoBean.excluir}"	process="@this" update="gruposTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração dos grupos -->
            <b:modal id="modal-grupo" styleClass="modal-grupo fade" title="Cadastro de Grupos" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao"/>

                <b:container fluid="true" style-class="dados">
                    <b:messages id="mensagens-grupo" />

                    <b:row>
                        <b:column span="6">
                            <b:inputText label="Nome" fieldId="nome-grupo" maxlength="25" value="#{pesquisaGrupoBean.grupoSelecionado.nome}" fieldSize="sm" required="true" requiredMessage="Nome do grupo deve ser informado"/>
                        </b:column>			
                    </b:row>

                    <b:row>
                        <b:column span="12">
                            <b:inputText label="Descrição" maxlength="255" value="#{pesquisaGrupoBean.grupoSelecionado.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição do grupo deve ser informada"/>
                        </b:column>			
                    </b:row>

                    <b:tabView content-class="content-tab">

                        <!-- # PERMISSÕES # -->
                        <b:tab title="Permissões do grupo">	

                            <b:row styleClass="row-add-permissao">
                                <b:column span="8">
                                    <b:selectOneMenu id="selectPermissoesGrupo" styleClass="selectPermissoesGrupo" value="#{pesquisaGrupoBean.permissaoGrupo}" fieldSize="sm">
                                        <f:selectItem itemLabel="Selecione a permissão" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{pesquisaGrupoBean.permissoes}" var="item" itemValue="#{item}" itemLabel="#{item.descricao}" />
                                    </b:selectOneMenu>
                                </b:column>						
                                <b:column span="2">
                                    <b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir permissão selecionada" style-class="btn-plus"
                                                     action="#{pesquisaGrupoBean.incluirPermissaoGrupo}" process="@this selectPermissoesGrupo" update="permissoesGrupoTable selectPermissoesGrupo frmpesquisa:mensagens-grupo"/>
                                </b:column>
                                <b:column span="2">
                                    <b:commandButton icon-awesome="asterisk" size="sm" tooltip="Incluir todas as permissões" style="margin-left: -75px;"
                                                     action="#{pesquisaGrupoBean.incluirTodasPermissoesGrupo}" process="@this" update="permissoesGrupoTable selectPermissoesGrupo frmpesquisa:mensagens-grupo"/>
                                </b:column>		 					
                            </b:row>

                            <b:dataTable id="permissoesGrupoTable" styleClass="permissoesGrupoTable" value="#{pesquisaGrupoBean.grupoSelecionado.permissoes}" var="permissao" customLangUrl="#{resource['/json/pt-br.json']}"
                                         searching="false" paginated="true" >

                                <b:dataTableColumn value="#{permissao.descricao}" label="Descrição"/>

                                <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                                    <b:navCommandLink action="#{pesquisaGrupoBean.excluirPermissaoGrupo}" tooltip="Excluir permissão do grupo" process="@this" update="@(.row-add-permissao) @(.permissoesGrupoTable)" iconAwesome="remove" value="">
                                        <f:setPropertyActionListener target="#{pesquisaGrupoBean.permissaoGrupo}" value="#{permissao}" />
                                    </b:navCommandLink>										
                                </b:dataTableColumn>	    		
                            </b:dataTable>	
                        </b:tab>

                    </b:tabView>					
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{pesquisaGrupoBean.salvar}"
                                     process="@this @(.dados)" update="gruposTable mensagens-grupo validacao @(.dados)" look="primary"
                                     oncomplete="javascript:tratarInclusaoGrupo()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>			

            <b:container fluid="true">	    		    	
                <b:messages id="mensagens" />

                <br/>
                <b:panel>
                    <b:commandButton value="Novo grupo" size="sm" action="#{pesquisaGrupoBean.inicializarGrupo}" process="@this" update="@(.dados)"
                                     oncomplete="javascript:abrirModalGrupo()" look="primary" />
                </b:panel>

                <b:dataTable id="gruposTable" value="#{pesquisaGrupoBean.grupos}" var="grupo" customLangUrl="#{resource['/json/pt-br.json']}" 
                             pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">

                    <b:dataTableColumn label="Nome" value="#{grupo.nome}"  />
                    <b:dataTableColumn label="Descrição" value="#{grupo.descricao}"  />

                    <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                        <b:navCommandLink oncomplete="javascript:abrirModalGrupo()" tooltip="Editar" iconAwesome="pencil" value=""
                                          process="@this" update="@(.dados)">
                            <f:setPropertyActionListener target="#{pesquisaGrupoBean.grupoSelecionado}" value="#{grupo}" />
                        </b:navCommandLink>			    		
                        <p:spacer width="10"/>
                        <b:navCommandLink oncomplete="javascript:abrirModalConfirmacao()" tooltip="Excluir" iconAwesome="remove" value=""
                                          process="@this" update="@none">
                            <f:setPropertyActionListener target="#{pesquisaGrupoBean.grupoSelecionado}" value="#{grupo}" />
                        </b:navCommandLink>										
                    </b:dataTableColumn>	
                </b:dataTable>

            </b:container>
        </h:form>	    
    </ui:define>
</ui:composition>
