<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Pesquisa de usuários</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{pesquisaUsuarioBean.pesquisar}" type="preRenderView" />

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do usuário -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" action="#{pesquisaUsuarioBean.excluir}"
						process="@this" update="usuariosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:button value="Novo usuário" outcome="/usuarios/CadastroUsuario" look="primary" size="sm" />
	    	</b:panel>
			
			<b:dataTable id="usuariosTable" value="#{pesquisaUsuarioBean.usuariosFiltrados}" var="usuario" customLangUrl="#{resource['/json/pt-br.json']}"
				pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]">
				
	    		<b:dataTableColumn value="#{usuario.nome}" />
		    	<b:dataTableColumn value="#{usuario.email}" />
		    	<b:dataTableColumn value="#{usuario.ativo.label}" label="Ativo" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/usuarios/CadastroUsuario" tooltip="Editar" iconAwesome="pencil" value="">
		    			<f:param name="usuario" value="#{usuario.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="usuariosTable" >
		    			<f:setPropertyActionListener target="#{pesquisaUsuarioBean.usuarioSelecionado}" value="#{usuario}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
