<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Relatório de Horas Faltantes</ui:define>
    <ui:define name="corpo">
        <f:metadata>
            <f:viewAction action="#{relatorioHorasFaltantesBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function abrirModalFiltros() {
                $('.modal-filtros').modal('show');
                $('.data-de').focus();
                return false;
            }

            function fecharModalFiltros() {
                $('.modal-filtros').modal('hide');
                return false;
            }
        </script>


        <h:form id="frmpesquisa">

            <!-- Filtros -->
            <b:modal id="modal-filtros" styleClass="modal-filtros fade" title="Filtros" size="modal-md" backdrop="false">
                <b:container fluid="true" style-class="dados-filtros">
                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data de" styleClass="data-de" value="#{relatorioHorasFaltantesBean.filtro.dataDe}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data até" styleClass="data-ate" value="#{relatorioHorasFaltantesBean.filtro.dataAte}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm"/>
                        </b:column>
                    </b:row>
					<b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Colaborador" value="#{relatorioHorasFaltantesBean.filtro.colaborador}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{relatorioHorasFaltantesBean.colaboradores}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
                            </b:selectOneMenu>                            
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{relatorioHorasFaltantesBean.atualizarFiltros}"
                                     process="@this @(.dados-filtros)" update="@none" look="primary"
                                     oncomplete="javascript:fecharModalFiltros()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">
                <b:messages id="mensagens" styleClass="mensagens"/>
                <b:defaultCommand target="pesquisar" />
                <br/>
                <b:panel>
                    <b:commandButton value="Mostrar" id="pesquisar" action="#{relatorioHorasFaltantesBean.pesquisar}" look="primary" update="mensagens cneficienciaTable" size="sm" />
                    <p:spacer width="10"/>
                    <b:commandButton value="Filtros" look="primary" size="sm" oncomplete="javascript:abrirModalFiltros();"
                                     process="@this" update="@(.dados-filtros)">
                    </b:commandButton>
                    <p:spacer width="10"/>
                    <b:commandButton value="Limpar filtros" look="primary" size="sm" action="#{relatorioHorasFaltantesBean.limparFiltros}"
                                     process="@(.dados-filtros)" update="@(.dados-filtros)"/>
                </b:panel>

                <b:dataTable id="cneficienciaTable" styleClass="cneficienciaTable" value="#{relatorioHorasFaltantesBean.horasFaltantes}" var="horasfal" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,200,1000]"
                             columnVisibility="true" copy="true" excel="true" pdf="true" print="true">

                    <b:dataTableColumn label="Data" dataType="date" data-order="#{horasfal.data.toString()}">
                        <h:outputText value="#{horasfal.data}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Dia semana" value="#{horasfal.diaSemana.label}"/>
                    <b:dataTableColumn label="Tipo" value="#{horasfal.tipoRegistro.label}"/>
                    <b:dataTableColumn value="#{horasfal.colaborador.nome}" label="Colaborador" styleClass="coluna-centro" />
                    <b:dataTableColumn label="Carga horária" style="text-align: center;">
                        <h:outputText value="#{horasfal.cargaHoraria}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas apontadas" style="text-align: center;">
                        <h:outputText value="#{horasfal.horasApontadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas executadas" style="text-align: center;">
                        <h:outputText value="#{horasfal.horasExecutadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas faltantes" style="text-align: center;">
                        <h:outputText value="#{horasfal.horasFaltantes}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>