<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

	<ui:define name="titulo">Relatório saída de veículos</ui:define>

	<ui:define name="corpo">
	    <f:metadata>
			<f:viewAction action="#{relatorioParticipantesBean.inicializar}"></f:viewAction>
		</f:metadata>       
    
    	<h:form id="frmRelatorio">
    	
    		<b:container fluid="true">
    		
	    	<h3>Relatório saída de veículos</h3>
	    	
	   		<b:messages id="mensagens" info-class="message-info-hidden"/>
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    		    	
	    	<b:panel>
				<b:commandButton value="Imprimir" action="#{relatorioParticipantesBean.imprimirSaidaVeiculos}" look="primary" 
					size="sm"/>				
	    	</b:panel>	   	    	
	    	   		
	    	<b:panel>
			<b:row styleClass="dados">
				<b:column span="2">
					<b:selectOneMenu label="Tipo Colaborador" value="#{relatorioParticipantesBean.filtroTipo}" field-size="sm" >
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{relatorioParticipantesBean.tipos}" var="s" itemLabel="#{s.label}" itemValue="#{s}" />
					</b:selectOneMenu>
				</b:column>				
			</b:row>	    	
	    	
			<b:row styleClass="dados">
				<b:column span="2">
					<b:selectOneMenu label="Colaborador" value="#{relatorioParticipantesBean.filtroColaborador}" fieldSize="sm"
						onchange="ajax:relatorioParticipantesBean.onChangeFiltro()">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{relatorioParticipantesBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
					</b:selectOneMenu>	  				
				</b:column>			
			</b:row>	    	
				<b:row styleClass="dados">
					<b:column span="2">
						<b:dateTimePicker allowInputToggle="false" useCurrent="false" required="true" requiredMessage="Data inicial deve ser informado" label="Data inicial" styleClass="campo-data" value="#{relatorioParticipantesBean.filtroDataInicial}"  format="DD/MM/YYYY"
							 show-today-button="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
					</b:column>
				</b:row>	    	
				<b:row styleClass="dados">
					<b:column span="2">
						<b:dateTimePicker allowInputToggle="false" useCurrent="false" required="true" requiredMessage="Data final deve ser informado" label="Data final" styleClass="campo-data" value="#{relatorioParticipantesBean.filtroDataFinal}" format="DD/MM/YYYY"
							 show-today-button="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
					</b:column>
				</b:row>	    	    	
	    	</b:panel>
	    	
	    	</b:container>	
    	</h:form>
    </ui:define>
</ui:composition>