<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Detalhes do apontamento</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <o:viewParam name="projeto" value="#{relatorioApontamentoBean.projetoDetalhe}" converter="projetoConverter" />
            <f:viewAction action="#{relatorioApontamentoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function fecharFormulario() {
                window.opener = window;
                window.close("#");
                return false;
            }
        </script>

        <h:form id="frmCadastro">

            <b:container fluid="true">

                <h3/>

                <b:panel rendered="#{relatorioApontamentoBean.carregouRegistros}">
                    <b:button value="Fechar" onclick="javascript:fecharFormulario()" look="primary" style="float: right" size="sm" />

                    <b:row style="margin-top: 5px;">
                        <b:column span="8">
                            <h:outputText value="Cliente: " style="font-weight: bold;"/>
                            <h:outputText value="#{relatorioApontamentoBean.projetoDetalhe.cliente.nome}"/>
                            <p:spacer width="15px;"/>
                            <h:outputText value="Projeto: " style="font-weight: bold;"/>
                            <h:outputText value="#{relatorioApontamentoBean.projetoDetalhe.titulo}" />
                        </b:column>
                    </b:row>
                </b:panel>

                <b:dataTable rendered="#{relatorioApontamentoBean.carregouRegistros}" id="detalhes" value="#{relatorioApontamentoBean.detalhes}" var="detalhe" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,200,1000]"
                             columnVisibility="true" copy="true" excel="true" pdf="true" print="true">

                    <b:dataTableColumn label="Colaborador" value="#{detalhe.colaborador.nome}"/>
                    <b:dataTableColumn label="Dias trabalhados">
                        <h:outputText value="#{detalhe.diasTrabalhados}">
                            <f:convertNumber type="number" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas programadas" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horasProgramadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas executadas" styleClass="coluna-centro">
                        <h:outputText value="#{detalhe.horasExecutadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>