<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Horas apontadas OP</ui:define>

    <ui:define name="corpo">

        <f:metadata>
            <f:viewAction action="#{relatorioApontamentoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function abrirModalFiltro() {
                $('.modal-filtro').modal('show');
                $('.cb-filial').focus();
                return false;
            }

            function fecharModalFiltro() {
                $('.modal-filtro').modal('hide');
                return false;
            }
        </script>

        <h:form id="frmpesquisa">

            <!-- Tela modal de filtros -->
            <b:modal id="modal-filtro" styleClass="modal-filtro fade" title="Filtros" size="modal-md" backdrop="false">
                <b:container fluid="true" style-class="dados-filtro">

                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Filial" styleClass="cb-filial" value="#{relatorioApontamentoBean.filtro.filial}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{relatorioApontamentoBean.filiais}" var="item" itemLabel="#{item.empresa.razaoSocial} - #{item.nome}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Cliente" value="#{relatorioApontamentoBean.filtro.cliente}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{relatorioApontamentoBean.clientes}" var="item" itemLabel="#{item.nomeComInscricao}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Projeto" value="#{relatorioApontamentoBean.filtro.projeto}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{relatorioApontamentoBean.projetos}" var="item" itemLabel="#{item.tituloComCodigoExterno}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Responsável projeto" value="#{relatorioApontamentoBean.filtro.responsavel}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{relatorioApontamentoBean.colaboradores}" var="item" itemLabel="#{item.nome}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Status projeto" value="#{relatorioApontamentoBean.filtro.status}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{relatorioApontamentoBean.statuses}" var="item" itemLabel="#{item.label}" itemValue="#{item}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{relatorioApontamentoBean.atualizarFiltros}"
                                     process="@this @(.dados-filtro)" update="@none" look="primary"
                                     oncomplete="javascript:fecharModalFiltro();" />
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">
                <b:messages id="mensagens" styleClass="mensagens"/>
                <b:defaultCommand target="pesquisar" />
                <br/>

                <b:panel>
                    <b:commandButton value="Mostrar" id="pesquisar" action="#{relatorioApontamentoBean.pesquisar}" look="primary" update="mensagens cnApontamentoTable" size="sm" />

                    <p:spacer width="10"/>
                    <b:commandButton value="Filtros" look="primary" size="sm" oncomplete="javascript:abrirModalFiltro();"
                                     process="@this" update="@(.dados-filtro)"/>

                    <p:spacer width="10"/>
                    <b:commandButton value="Limpar filtros" look="primary" size="sm" action="#{relatorioApontamentoBean.limparFiltros}"
                                     process="@(.dados-filtro)" update="@(.dados-filtro)"/>
                </b:panel>

                <b:dataTable id="cnApontamentoTable" styleClass="cnApontamentoTable" value="#{relatorioApontamentoBean.apontamentos}" var="apontamento" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="100" pageLengthMenu="[10,25,50,100,250,500,1000]"
                             columnVisibility="true" copy="true" excel="true" pdf="true" print="true">

                    <b:dataTableColumn label="ID" value="#{apontamento.projeto.id}" styleClass="coluna-centro" style="width: 40px;" />
                    <b:dataTableColumn label="Cód. Externo" value="#{apontamento.projeto.commerce}" styleClass="coluna-centro" style="width: 40px;" />
                    <b:dataTableColumn label="Cliente" value="#{apontamento.projeto.cliente.nome}" />
                    <b:dataTableColumn label="Projeto" value="#{apontamento.projeto.titulo}" />

                    <b:dataTableColumn label="Total horas projeto" style="text-align: center;">
                        <h:outputText value="#{apontamento.totalHorasProjeto}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Total horas programadas" style="text-align: center;">
                        <h:outputText value="#{apontamento.totalHorasProgramadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Total horas executadas" style="text-align: center;">
                        <h:outputText value="#{apontamento.totalHorasExecutadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Saldo horas restante" style="text-align: center;">
                        <h:outputText value="#{apontamento.saldoHorasRestantes}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="Saldo dias restante" value="#{apontamento.saldoDiasRestantes}" />

                    <b:dataTableColumn label="Conclusão projeto %" style="text-align: center;">
                        <h:outputText value="#{apontamento.perConclusaoProjeto}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                        <b:navLink outcome="/relatorios/RelatorioApontamentoDetalhe" iconAwesome="arrow-right" tooltip="Detalhes" target="_blank" value="">
                            <f:param name="projeto" value="#{apontamento.projeto.id}" />
                        </b:navLink>
                    </b:dataTableColumn>

                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>