<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Relatório dados do projeto</ui:define>
    
    <ui:define name="corpo">
	    <f:metadata>
			<f:viewAction action="#{relatorioProjetosBean.inicializar}"></f:viewAction>
		</f:metadata>       
    
    	<h:form id="frmRelatorio">
    	
    		<b:container fluid="true">
    		
	    	<h3>Relatório dados do projeto</h3>
	    	
	   		<b:messages id="mensagens" info-class="message-info-hidden"/>
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    		    	
	    	<b:panel>
				<b:commandButton value="Imprimir" action="#{relatorioProjetosBean.imprimirDadosProjeto}" look="primary" 
					size="sm"/>				
	    	</b:panel>	   	    	
	    	   		
	    	<b:panel>
				<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu label="Tipo" styleClass="cb-tipo-atv" value="#{relatorioProjetosBean.tipoRelatorio}" fieldSize="sm" required="true" 
							requiredMessage="Tipo deve ser informado" process="@this" >
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioProjetosBean.horaValor}" var="tipo" itemValue="#{tipo}" itemLabel="#{tipo.label}" />
						</b:selectOneMenu>  				
					</b:column>			
				</b:row>	
	    	
				<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu label="Responsável Projeto" value="#{relatorioProjetosBean.filtroColaborador}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioProjetosBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
						</b:selectOneMenu>	  				
					</b:column>			
				</b:row>	

	    		<b:row styleClass="dados">	
	    			<b:column span="4">
						<b:selectOneMenu label="Filial" value="#{relatorioProjetosBean.filtroFilial}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioProjetosBean.filiais}" var="f" itemLabel="#{f.empresa.razaoSocial} - #{f.nome}" itemValue="#{f}" />
						</b:selectOneMenu>	    			
	    			</b:column>	  	    		
	    		</b:row>    
				
				<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu label="Cliente" value="#{relatorioProjetosBean.filtroCliente}" fieldSize="sm" process="@this">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioProjetosBean.clientes}" var="cl" itemLabel="#{cl.nomeComInscricao}" itemValue="#{cl}" />
						</b:selectOneMenu>	
					</b:column>				
				</b:row>					
				
				<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu label="Projeto" id="cb-projeto" styleClass="cb-projeto" value="#{relatorioProjetosBean.filtroProjeto}" fieldSize="sm"
							process="@this" update="@this" oncomplete="javascript:configurarMascara();$('.cb-projeto').focus();return false;">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioProjetosBean.projetos}" var="pr" itemLabel="#{pr.tituloComCodigoExterno}" itemValue="#{pr}" />
						</b:selectOneMenu>
					</b:column>					
				</b:row>		
				
				<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu label="Status" styleClass="cb-tipo-atv" value="#{relatorioProjetosBean.filtroStatusProjeto}" fieldSize="sm" process="@this" >
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioProjetosBean.statusProjeto}" var="tipo" itemValue="#{tipo}" itemLabel="#{tipo.label}" />
						</b:selectOneMenu>  				
					</b:column>			
				</b:row>						
				    	    	    	
	    	</b:panel>
	    	
	    	</b:container>	
    	</h:form>
    </ui:define>
</ui:composition>