<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Relatório apontamento de horas</ui:define>
    
    <ui:define name="corpo">
	    <f:metadata>
			<f:viewAction action="#{relatorioParticipantesBean.inicializar}"></f:viewAction>
		</f:metadata>       
    
    	<h:form id="frmRelatorio">
    	
    		<b:container fluid="true">
    		
	    	<h3>Relatório apontamento de horas</h3>
	    	
	   		<b:messages id="mensagens" info-class="message-info-hidden"/>
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    		    	
	    	<b:panel>
				<b:commandButton value="Imprimir" action="#{relatorioParticipantesBean.imprimirApontamentoHoras}" look="primary" 
					size="sm"/>				
	    	</b:panel>	   	    	
	    	   		
	    	<b:panel>
				<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu label="Tipo" styleClass="cb-tipo-atv" value="#{relatorioParticipantesBean.tipoRelatorio}" fieldSize="sm" required="true" 
							requiredMessage="Tipo deve ser informado" process="@this" update="colaborador" >
							<f:selectItem itemLabel="Selecione o tipo" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioParticipantesBean.analiticoSintetico}" var="tipo" itemValue="#{tipo}" itemLabel="#{tipo.label}" />
						</b:selectOneMenu>  				
					</b:column>			
				</b:row>	
				
	    		<b:row styleClass="dados">	
	    			<b:column span="3">
						<b:selectOneMenu label="Filial" value="#{relatorioParticipantesBean.filtroFilial}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioParticipantesBean.filiais}" var="f" itemLabel="#{f.empresa.razaoSocial} - #{f.nome}" itemValue="#{f}" />
						</b:selectOneMenu>	    			
	    			</b:column>	  	    		
	    		</b:row> 				
					    	
				<b:row styleClass="dados">
					<b:column span="3">
						<b:selectOneMenu label="Colaborador" id="colaborador" value="#{relatorioParticipantesBean.filtroColaborador}" fieldSize="sm" 
							onchange="ajax:relatorioParticipantesBean.onChangeFiltro()"  >
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioParticipantesBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
						</b:selectOneMenu>	  				
					</b:column>			
				</b:row>
						    	
				<b:row styleClass="dados">
					<b:column span="2">
						<b:dateTimePicker allowInputToggle="false" useCurrent="false" required="true" requiredMessage="Mês referência deve ser informado" label="Mês referência" styleClass="campo-competencia" value="#{relatorioParticipantesBean.filtroCompetencia}"  
							format="MM/YYYY" showTodayButton="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
					</b:column>
				</b:row>	    	
	    	</b:panel>
	    	
	    	</b:container>	
    	</h:form>
    </ui:define>
</ui:composition>