<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Relatório de Eficiência</ui:define>

    <ui:define name="corpo">

        <h:form id="frmpesquisa">

            <b:container fluid="true">
                <b:messages id="mensagens" styleClass="mensagens"/>
                <b:defaultCommand target="pesquisar" />
                <br/>
                <b:panel>
                    <b:commandButton value="Mostrar" id="pesquisar" action="#{relatorioEficienciaBean.pesquisar}" look="primary" update="cneficienciaTable" size="sm" />
                </b:panel>

                <b:dataTable id="cneficienciaTable" styleClass="cneficienciaTable" value="#{relatorioEficienciaBean.eficiencia}" var="eficiencia" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,200,1000]"
                             columnVisibility="true" copy="true" excel="true" pdf="true" print="true">

                    <b:dataTableColumn value="#{eficiencia.projeto.id}" label="ID" styleClass="coluna-centro" style="width: 40px;" />
                    <b:dataTableColumn value="#{eficiencia.projeto.commerce}" label="Cód. Externo" styleClass="coluna-centro" style="width: 40px;" />
                    <b:dataTableColumn value="#{eficiencia.projeto.titulo}" label="Projeto" />
                    <b:dataTableColumn value="#{eficiencia.projeto.cliente.nome}" label="Cliente" />
                    <b:dataTableColumn label="Status" style="text-align: center; width: 90px;" >
                        <b:label rendered="false" text="#{eficiencia.projeto.status.label}" style="margin-top: 8px; background-color: #{eficiencia.projeto.status.cor};"
                                 tinyScreen="full-width" smallScreen="full-width" mediumScreen="full-width" largeScreen="full-width" />

                        <b:label rendered="true" text="#{eficiencia.projeto.status.label}" style="margin-top: 2px; background-color: #{eficiencia.projeto.status.cor};"
                                 tinyScreen="full-width" smallScreen="full-width" mediumScreen="full-width" largeScreen="full-width" />
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas orçadas" style="width: 90px; text-align: center;">
                        <h:outputText value="#{eficiencia.horasOrcadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Horas realizadas" style="width: 90px; text-align: center;">
                        <h:outputText value="#{eficiencia.horasRealizadas}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="% Horas" style="width: 90px; text-align: center;">
                        <h:outputText value="#{eficiencia.percentualHoras}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="% Custo(R$)" style="width: 90px; text-align: center;">
                        <h:outputText value="#{eficiencia.percentualCusto}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                        </h:outputText>
                    </b:dataTableColumn>

                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>