<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Relatório de treinamentos</ui:define>
    
    <ui:define name="corpo">
	    <f:metadata>
			<f:viewAction action="#{relatorioColaboradorBean.inicializar}"></f:viewAction>
		</f:metadata>       
    
    	<h:form id="frmRelatorio">
    	
    		<b:container fluid="true">
    		
	    	<h3>Relatório de treinamentos</h3>
	    	
	   		<b:messages id="mensagens" info-class="message-info-hidden"/>
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    		    	
	    	<b:panel>
				<b:commandButton value="Imprimir" action="#{relatorioColaboradorBean.imprimirTreinamentos}" look="primary" 
					size="sm"/>				
	    	</b:panel>	   	    	
	    	   		
	    	<b:panel>
				<b:row styleClass="dados">
					<b:column span="2">
						<b:selectOneMenu label="Colaborador" value="#{relatorioColaboradorBean.filtroColaborador}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{relatorioColaboradorBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
						</b:selectOneMenu>	  				
					</b:column>			
				</b:row>	

				<b:row styleClass="dados">
					<b:column span="2">
						<b:dateTimePicker allowInputToggle="false" useCurrent="false" required="true" requiredMessage="Início vigência deve ser informado" label="Início vigência" 
							styleClass="campo-data" value="#{relatorioColaboradorBean.filtroDataInicial}"  format="DD/MM/YYYY"
							show-today-button="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
					</b:column>
				</b:row>	 
				   	
				<b:row styleClass="dados">
					<b:column span="2">
						<b:dateTimePicker allowInputToggle="false" useCurrent="false" required="true" requiredMessage="Fim vigência deve ser informado" label="Fim vigência" 
							styleClass="campo-data" value="#{relatorioColaboradorBean.filtroDataFinal}" format="DD/MM/YYYY"
							show-today-button="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
					</b:column>
				</b:row>
				    	    	    	
	    	</b:panel>
	    	
	    	</b:container>	
    	</h:form>
    </ui:define>
</ui:composition>