<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Alteração de Programação</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<f:viewAction action="#{alterarProgramacaoBean.inicializar}"></f:viewAction>
		</f:metadata>
		
		<script>
			function abrirModalConfirmacaoAlteracao() {
				$('.modal-confirmacao-alterar').modal('show');
				configurarMascara();
				return false;
			}
		
			function fecharModalConfirmacaoAlteracao() {
				$('.modal-confirmacao-alterar').modal('hide');
				configurarMascara();
				return false;
			}
			
			function abrirModalConfirmacaoExclusao() {
				$('.modal-confirmacao-excluir').modal('show');
				configurarMascara();
				return false;
			}
		
			function fecharModalConfirmacaoExclusao() {
				$('.modal-confirmacao-excluir').modal('hide');
				configurarMascara();
				return false;
			}			
		</script>
		
   	    <h:form id="frmCadastro">
   	    
			<!-- Tela modal para confirmar a alteração das programações -->
			<b:modal id="modal-confirmacao-alterar" styleClass="modal-confirmacao-alterar fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Confirma a alteração das programações selecionadas?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoAlteracao()" 
						action="#{alterarProgramacaoBean.alterar}"
						process="@this programacoesTable @(.dados)" update="mensagens btn-alterar btn-excluir btn-opcoes programacoesTable @(.dados)" />
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
			<!-- Tela modal para confirmar a exclusão das programações -->
			<b:modal id="modal-confirmacao-excluir" styleClass="modal-confirmacao-excluir fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Confirma a exclusão das programações selecionadas?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoExclusao()" 
						action="#{alterarProgramacaoBean.excluir}"
						process="@this programacoesTable @(.dados)" update="mensagens btn-alterar btn-excluir btn-opcoes programacoesTable @(.dados)" />
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>			
			
	   		<b:container fluid="true">
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />	   		
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	   		<b:fetchBeanInfos id="validacao"/>

	    	<br/>
	    		    	
	    	<b:panel>
	    		<b:row styleClass="dados">
					<b:column span="2">
						<b:dateTimePicker disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Data" styleClass="campo-data" value="#{alterarProgramacaoBean.data}" format="DD/MM/YYYY"
							 useCurrent="false" show-today-button="true" show-clear-button="true" showIcon="true" fieldSize="sm" />
					</b:column>	    		
	    		</b:row>
	    		
	    		<b:row styleClass="dados">
	    			<b:column span="4">
						<b:selectOneMenu disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Colaborador" value="#{alterarProgramacaoBean.colaborador}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{alterarProgramacaoBean.colaboradores}" var="c" itemLabel="#{c.nome}" itemValue="#{c}" />
						</b:selectOneMenu>	    			
	    			</b:column>	
	    			<b:column span="4">
						<b:selectOneMenu disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Ativ. Prevista" value="#{alterarProgramacaoBean.atividadePrevista}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{alterarProgramacaoBean.atividades}" var="a" itemLabel="#{a.descricao}" itemValue="#{a}" />
						</b:selectOneMenu>	    			
	    			</b:column>	      							    		
	    		</b:row>
	    		
	    		<b:row styleClass="dados">
					<b:column span="4">
						<b:selectOneMenu disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Veículo" value="#{alterarProgramacaoBean.veiculo}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{alterarProgramacaoBean.veiculos}" var="vl" itemLabel="#{vl.modelo.marca.descricao} - #{vl.modelo.descricao} - #{vl.placa}" itemValue="#{vl}" />
						</b:selectOneMenu>							
					</b:column>		
	    			<b:column span="4">
						<b:selectOneMenu disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Filial" value="#{alterarProgramacaoBean.filial}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{alterarProgramacaoBean.filiais}" var="f" itemLabel="#{f.empresa.razaoSocial} - #{f.nome}" itemValue="#{f}" />
						</b:selectOneMenu>	    			
	    			</b:column>	  	    		
	    		</b:row>    		
	    		
				<b:row styleClass="dados">
					<b:column span="2">
						<b:inputText disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Saída Emp." alt="time" value="#{alterarProgramacaoBean.saidaEmpresa}" fieldSize="sm">
							<f:convertDateTime type="time" timeStyle="short" />
						</b:inputText>
					</b:column>
					<b:column span="2">
						<b:inputText disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Retorno Emp." alt="time" value="#{alterarProgramacaoBean.retornoEmpresa}" fieldSize="sm">
							<f:convertDateTime type="time" timeStyle="short" />
						</b:inputText>
					</b:column>		
					<b:column span="2">
						<b:inputText disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Início" alt="time" value="#{alterarProgramacaoBean.horaInicio}" fieldSize="sm">
							<f:convertDateTime type="time" timeStyle="short" />
						</b:inputText>
					</b:column>
					<b:column span="2">
						<b:inputText disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Término" alt="time" value="#{alterarProgramacaoBean.horaTermino}" fieldSize="sm">
							<f:convertDateTime type="time" timeStyle="short" />
						</b:inputText>
					</b:column>							
				</b:row>

	    		<b:row styleClass="dados">
					<b:column span="2">
 			    		<b:inputText disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Horas viagem" styleClass="centesimal-3-2" value="#{alterarProgramacaoBean.horasViagem}" field-size="sm">
 			    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
	    				</b:inputText>					
					</b:column>
					<b:column span="2">
						<b:selectOneMenu disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Motorista" value="#{alterarProgramacaoBean.motorista}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{alterarProgramacaoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
						</b:selectOneMenu>							
					</b:column>
					<b:column span="2">
						<b:selectOneMenu disabled="#{!alterarProgramacaoBean.carregouRegistros}" label="Ativa" value="#{alterarProgramacaoBean.ativo}" fieldSize="sm">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{alterarProgramacaoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
						</b:selectOneMenu>							
					</b:column>	 	    		
	    		</b:row>    				
			
	    		<b:row>
	    			<b:column>
	    				<b:commandButton value="Mostrar" action="#{alterarProgramacaoBean.mostrar}" process="@this" oncomplete="configurarMascara();" update="mensagens btn-alterar btn-excluir btn-opcoes programacoesTable @(.dados)" look="primary" size="sm" />
		    			<p:spacer width="10"/>
						<b:dropButton id="btn-opcoes" value="Opções " look="primary" size="sm">
							<b:navCommandLink disabled="#{!alterarProgramacaoBean.carregouRegistros}" value="Marcar todos" action="#{alterarProgramacaoBean.marcarTodos}"
								process="@this" update="programacoesTable" oncomplete="javascript:configurarMascara();" />
							<b:navCommandLink disabled="#{!alterarProgramacaoBean.carregouRegistros}" value="Desmarcar todos" action="#{alterarProgramacaoBean.desmarcarTodos}"
								process="@this" update="programacoesTable" oncomplete="javascript:configurarMascara();" />
						</b:dropButton>	    				
      					<p:spacer width="10"/>
		    			<b:button disabled="#{!alterarProgramacaoBean.carregouRegistros}" value="Alterar" id="btn-alterar" onclick="javascript:abrirModalConfirmacaoAlteracao()" look="primary" size="sm" />
		    			<p:spacer width="10"/>
		    			<b:button disabled="#{!alterarProgramacaoBean.carregouRegistros}" value="Excluir" id="btn-excluir" onclick="javascript:abrirModalConfirmacaoExclusao()" look="primary" size="sm" />
	    			</b:column>
	    		</b:row>				
	    	</b:panel>
			
			<b:dataTable id="programacoesTable" value="#{alterarProgramacaoBean.programacoes}" var="programacao" customLangUrl="#{resource['/json/pt-br.json']}"
				pageLength="50" pageLengthMenu="[50,100,500,1000]">
				
				<b:dataTableColumn label="" orderable="false" contentStyle="text-align: center;">
					<b:selectBooleanCheckbox value="#{programacao.flag}"/>
				</b:dataTableColumn>
				<b:dataTableColumn label="Colaborador" value="#{programacao.colaborador.nome}" />
				<b:dataTableColumn label="Atividade" value="#{programacao.tipoAtividadePrevista.descricao}" />
				<b:dataTableColumn label="Cliente" value="#{programacao.projeto.cliente.nome}" />
   				<b:dataTableColumn label="Projeto" value="#{programacao.projeto.titulo}" />
   				<b:dataTableColumn label="Obra" value="#{programacao.projeto.enderecoObra.logradouro}, #{programacao.projeto.enderecoObra.cidade} - #{programacao.projeto.enderecoObra.uf}" />
   				<b:dataTableColumn label="Data" dataType="date" data-order="#{programacao.data.toString()}">
   					<h:outputText value="#{programacao.data}">
	    				<f:convertDateTime pattern="dd/MM/yyyy" />
   					</h:outputText>	    				
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Hora saída" styleClass="coluna-centro">
   					<h:outputText value="#{programacao.saidaEmpresa}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>	    				
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Hora retorno" styleClass="coluna-centro">
   					<h:outputText value="#{programacao.retornoEmpresa}">
	    				<f:convertDateTime type="time" timeStyle="short" />
   					</h:outputText>	    				
   				</b:dataTableColumn>
   				<b:dataTableColumn label="Veículo" value="#{programacao.veiculo.modelo.marca.descricao} - #{programacao.veiculo.modelo.descricao} - #{programacao.veiculo.placa}" />
   				<b:dataTableColumn label="Motorista" value="#{programacao.motorista.label}" />
   				<b:dataTableColumn label="Veículo próprio" value="#{programacao.veiculoProprio.label}" />
			</b:dataTable>			
					
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>