<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Projetos</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <o:viewParam name="projeto" value="#{cadastroProjetoBean.projeto}" converter="projetoConverter" />
            <f:viewAction action="#{cadastroProjetoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <script>
            function tratarInclusaoProposta() {
                if ((validationFailed) || (bfHasError)) {
                    $('#valor-proposta').focus();
                } else {
                    $('.modal-proposta').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarInclusaoHistorico() {
                if ((validationFailed) || (bfHasError)) {
                    $('.texto-historico').focus();
                } else {
                    $('.modal-historico').modal('hide');
                }
                return false;
                configurarMascara();
            }

            function tratarInclusaoEtapa() {
                if ((validationFailed) || (bfHasError)) {
                    $('#descricao-etapa').focus();
                } else {
                    $('.modal-etapa').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarInclusaoAtividadePrevista() {
                if ((validationFailed) || (bfHasError)) {
                    $('.cb-tipo-atv').focus();
                } else {
                    $('.modal-atv-prevista').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarInclusaoExecucao() {
                if ((validationFailed) || (bfHasError)) {
                    $('#hora-inicio-exec').focus();
                } else {
                    $('.modal-execucao').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarInclusaoProrrogacao() {
                if ((validationFailed) || (bfHasError)) {
                    $('#dt-novo-prazo').focus();
                } else {
                    $('.modal-prorrogacao').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarExclusaoParticipante() {
                $('.modal-confirmacao-participante').modal('hide');
                configurarMascara();
                return false;
            }

            function abrirModalValorCobranca() {
                $('.modal-valor-cobranca').modal('show');
                $('#valor-cobranca').focus();
                configurarMascara();
                return false;
            }

            function tratarInclusaoValorCobranca() {
                $('.modal-valor-cobranca').modal('hide');
                configurarMascara();
                return false;
            }
        </script>		

        <h:form id="frmCadastro">

            <!-- Tela modal para confirmar a exclusão da atividade -->
            <b:modal id="modal-confirmacao-atividade" styleClass="modal-confirmacao-atividade fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão desta atividade?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-atividade').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirAtividade}"
                                     process="@this" update="**:atividadesTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>   	    

            <!-- Tela modal para confirmar a exclusão da proposta -->
            <b:modal id="modal-confirmacao-proposta" styleClass="modal-confirmacao-proposta fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão desta proposta?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-proposta').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirProposta}"
                                     process="@this" update="**:propostasTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão do histórico -->
            <b:modal id="modal-confirmacao-historico" styleClass="modal-confirmacao-historico fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão deste histórico?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-historico').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirHistorico}"
                                     process="@this" update="**:historicosTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão do participante -->
            <b:modal id="modal-confirmacao-participante" styleClass="modal-confirmacao-participante fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão deste colaborador?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:tratarExclusaoParticipante()" 
                                     action="#{cadastroProjetoBean.excluirParticipante}"
                                     process="@this **:participantesTable" update="**:participantesTable mensagens @(.row-add-participante)" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão da etapa -->
            <b:modal id="modal-confirmacao-etapa" styleClass="modal-confirmacao-etapa fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão desta etapa?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-etapa').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirEtapa}"
                                     process="@this" update="**:etapasTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão da atividade prevista -->
            <b:modal id="modal-confirmacao-atv-prevista" styleClass="modal-confirmacao-atv-prevista fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão desta atividade?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-atv-prevista').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirAtividadePrevista}"
                                     process="@this" update="**:atvPrevistasTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>	

            <!-- Tela modal para confirmar a exclusão da execução -->
            <b:modal id="modal-confirmacao-execucao" styleClass="modal-confirmacao-execucao fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão desta execução?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-execucao').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirExecucao}"
                                     process="@this" update="**:execucoesTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para confirmar a exclusão da prorrogação -->
            <b:modal id="modal-confirmacao-prorrogacao" styleClass="modal-confirmacao-prorrogacao fade" title="Confirmação" size="modal-sm" backdrop="false">
                <p>Confirma a exclusão desta prorrogação?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-prorrogacao').modal('hide');return false;" 
                                     action="#{cadastroProjetoBean.excluirProrrogacao}"
                                     process="@this" update="**:prorrogacoesTable mensagens" />										
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>			

            <!-- Tela modal para inclusão/alteração das propostas -->
            <b:modal id="modal-proposta" styleClass="modal-proposta fade" title="Proposta" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-proposta"/>

                <b:container fluid="true" style-class="dados-proposta">
                    <b:messages id="mensagens-proposta" />

                    <b:row>
                        <b:column span="5" >
                            <b:inputText label="Valor" maxlength="18" fieldId="valor-proposta" styleClass="moeda" value="#{cadastroProjetoBean.projetoProposta.valorProjeto}" field-size="sm" required="true" requiredMessage="Valor deve ser informado">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>
                        <b:column span="5" offset="1">
                            <b:inputText label="Valor hora negociado" maxlength="7" styleClass="moeda" value="#{cadastroProjetoBean.projetoProposta.valorHoraNegociado}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>						
                    </b:row>


                    <b:row>
                        <b:column span="5" >
                            <b:inputText label="Valor refeição" maxlength="7" styleClass="moeda" value="#{cadastroProjetoBean.projetoProposta.valorRefeicao}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>					
                    </b:row>			    	

                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Data início" styleClass="campo-data" value="#{cadastroProjetoBean.projetoProposta.dataInicio}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data início deve ser informada" />
                        </b:column>
                        <b:column span="5" offset="1">
                            <b:dateTimePicker label="Data prazo fim" styleClass="campo-data" value="#{cadastroProjetoBean.projetoProposta.dataPrazoFim}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data prazo fim deve ser informada" />
                        </b:column>						
                    </b:row>			

                    <b:row>
                        <b:column span="5">
                            <b:dateTimePicker label="Data aprovação" styleClass="campo-data" value="#{cadastroProjetoBean.projetoProposta.dataAprovacao}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>					
                        <b:column span="5" offset="1">
                            <b:dateTimePicker label="Data encerramento" styleClass="campo-data" value="#{cadastroProjetoBean.projetoProposta.dataEncerramento}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                        </b:column>
                    </b:row>

                    <b:row>			
                        <b:column span="4">
                            <b:inputText label="Total dias projeto" value="#{cadastroProjetoBean.projetoProposta.totalDias}" fieldSize="sm" />
                        </b:column>
                        <b:column span="4">
                            <b:inputText label="Total horas projeto" styleClass="moeda" value="#{cadastroProjetoBean.projetoProposta.totalHoras}" fieldSize="sm" >				    		
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>				
                        </b:column>							
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroProjetoBean.incluirProposta}"						
                                     process="@this @(.dados-proposta)" update="**:propostasTable mensagens-proposta validacao-proposta @(.dados-proposta)" look="primary"
                                     oncomplete="javascript:tratarInclusaoProposta()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão dos históricos -->
            <b:modal id="modal-historico" styleClass="modal-historico fade" title="Histórico" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-historico"/>

                <b:container fluid="true" style-class="dados-historico">
                    <b:messages id="mensagens-historico" />

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Colaborador" style="font-weight: bold;" />
                        </b:column>		    		
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{cadastroProjetoBean.projetoHistorico.colaborador.nome}" />
                        </b:column>				    	
                    </b:row>

                    <b:row style="margin-top: 10px;">
                        <b:column span="3">
                            <h:outputText value="Data/Hora" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{cadastroProjetoBean.projetoHistorico.data}">
                                <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:outputText>
                        </b:column>			    		
                    </b:row>

                    <b:row style="margin-top: 10px;">
                        <b:column span="12">
                            <b:inputTextarea label="Histórico" styleClass="texto-historico" maxlength="250" rows="5" value="#{cadastroProjetoBean.projetoHistorico.descricao}" field-size="sm" required="true" requiredMessage="Histórico deve ser informado" />
                        </b:column>			
                    </b:row>				
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroProjetoBean.incluirHistorico}"						
                                     process="@this @(.dados-historico)" update="**:historicosTable mensagens-historico validacao-historico @(.dados-historico)" look="primary"
                                     oncomplete="javascript:tratarInclusaoHistorico()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão das etapas -->
            <b:modal id="modal-etapa" styleClass="modal-etapa fade" title="Etapa" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-etapa"/>

                <b:container fluid="true" style-class="dados-etapa">
                    <b:messages id="mensagens-etapa" />

                    <b:row>
                        <b:column span="10">
                            <b:inputText label="Descrição" field-id="descricao-etapa" maxlength="250" value="#{cadastroProjetoBean.projetoEtapa.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição deve ser informada" />
                        </b:column>						
                    </b:row>

                    <b:row>
                        <b:column span="4">
                            <b:inputText label="Qtd Horas" styleClass="centesimal-5-2" value="#{cadastroProjetoBean.projetoEtapa.quantidadeHoras}" fieldSize="sm">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="clock-o"/>
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />							
                            </b:inputText>
                        </b:column>
                        <b:column span="4">
                            <b:selectOneMenu label="Situação" disabled="#{!cadastroProjetoBean.podeAlterarSituacaoEtapa}" value="#{cadastroProjetoBean.projetoEtapa.situacao}" fieldSize="sm" required="true" requiredMessage="Situação deve ser informada" >
                                <f:selectItems value="#{cadastroProjetoBean.situacoesEtapa}" var="st" itemLabel="#{st.label}" itemValue="#{st}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroProjetoBean.incluirEtapa}"						
                                     process="@this @(.dados-etapa)" update="**:etapasTable mensagens-etapa validacao-etapa @(.dados-etapa)" look="primary"
                                     oncomplete="javascript:tratarInclusaoEtapa()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>	

            <!-- Tela modal para inclusão/alteração das atividades previstas -->
            <b:modal id="modal-atv-prevista" styleClass="modal-atv-prevista fade" title="Atividade Prevista" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-atv-prevista"/>

                <b:container fluid="true" style-class="dados-atv-prevista">
                    <b:messages id="mensagens-atv-prevista" />

                    <b:row>
                        <b:column span="8">
                            <b:selectOneMenu label="Tipo" styleClass="cb-tipo-atv" value="#{cadastroProjetoBean.atividadePrevista.tipo}" fieldSize="sm" required="true" requiredMessage="Tipo deve ser informado">
                                <f:selectItem itemLabel="Selecione o tipo" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroProjetoBean.tiposAtividadePrevistas}" var="atv" itemValue="#{atv}" itemLabel="#{atv.descricao}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <b:selectOneMenu label="Colaborador" value="#{cadastroProjetoBean.atividadePrevista.colaborador}" fieldSize="sm" required="true" requiredMessage="Colaborador deve ser informado">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroProjetoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
                            </b:selectOneMenu>							
                        </b:column>					
                    </b:row>					

                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data" styleClass="campo-data" value="#{cadastroProjetoBean.atividadePrevista.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
                        </b:column>
                        <b:column span="4">
                            <b:selectOneMenu label="Situação" value="#{cadastroProjetoBean.atividadePrevista.situacao}" fieldSize="sm" required="true" requiredMessage="Situação deve ser informada" >
                                <f:selectItems value="#{cadastroProjetoBean.situacoesAtividadePrevista}" var="st" itemLabel="#{st.label}" itemValue="#{st}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Etapa" value="#{cadastroProjetoBean.atividadePrevista.etapa}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroProjetoBean.projeto.etapas}" var="et" itemLabel="#{et.descricaoCompleta}" itemValue="#{et}" />
                            </b:selectOneMenu>					
                        </b:column>
                    </b:row>

                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroProjetoBean.incluirAtividadePrevista}"						
                                     process="@this @(.dados-atv-prevista)" update="**:atvPrevistasTable mensagens-atv-prevista validacao-atv-prevista @(.dados-atv-prevista)" look="primary"
                                     oncomplete="javascript:tratarInclusaoAtividadePrevista()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão/alteração das execuções -->
            <b:modal id="modal-execucao" styleClass="modal-execucao fade" title="Registro de Execução" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-execucao"/>

                <b:container fluid="true" style-class="dados-execucao">
                    <b:messages id="mensagens-execucao" />

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Colaborador" style="font-weight: bold;" />
                        </b:column>		    		
                    </b:row>

                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{cadastroProjetoBean.projetoExecucao.colaborador.nome}" />
                        </b:column>				    	
                    </b:row>					

                    <b:row style="margin-top: 8px;">
                        <b:column span="8">
                            <b:selectOneMenu label="Atividade Prevista" value="#{cadastroProjetoBean.projetoExecucao.atividadePrevista}" fieldSize="sm"
                                             onchange="ajax:cadastroProjetoBean.onChangeAtividadeExecucao()" process="@this retrabalho-execucao" update="data-execucao etapa-execucao retrabalho-execucao"
                                             oncomplete="javascript:configurarMascara();">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroProjetoBean.atividadesPrevistasColaborador}" var="atv" itemLabel="#{atv.descricaoComData}" itemValue="#{atv}" />
                            </b:selectOneMenu>					
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="4">
                            <b:dateTimePicker label="Data" id="data-execucao" styleClass="campo-data" value="#{cadastroProjetoBean.projetoExecucao.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
                        </b:column>
                        <b:column span="3">
                            <b:selectOneMenu label="Retrabalho" id="retrabalho-execucao" disabled="#{cadastroProjetoBean.projetoExecucao.etapaRetrabalho}" value="#{cadastroProjetoBean.projetoExecucao.retrabalho}" fieldSize="sm" required="true" requiredMessage="Retrabalho deve ser informado" >
                                <f:selectItems value="#{cadastroProjetoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
                            </b:selectOneMenu>						
                        </b:column>						
                    </b:row>

                    <b:row >
                        <b:column span="3">
                            <b:inputText label="Hora Início" fieldId="hora-inicio-exec" alt="time" value="#{cadastroProjetoBean.projetoExecucao.horaInicio}" fieldSize="sm" required="true" requiredMessage="Hora Início deve ser informada">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="3">
                            <b:inputText label="Hora Término" alt="time" value="#{cadastroProjetoBean.projetoExecucao.horaTermino}" fieldSize="sm">
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>						
                    </b:row>

                    <b:row>
                        <b:column span="10">
                            <b:selectOneMenu label="Etapa" id="etapa-execucao" value="#{cadastroProjetoBean.projetoExecucao.etapa}" fieldSize="sm" required="true" requiredMessage="Etapa deve ser informada"
                                             onchange="ajax:cadastroProjetoBean.onChangeEtapaExecucao()" process="@this retrabalho-execucao" update="retrabalho-execucao"
                                             oncomplete="javascript:configurarMascara();">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroProjetoBean.projeto.etapas}" var="et" itemLabel="#{et.descricaoCompleta}" itemValue="#{et}" />
                            </b:selectOneMenu>					
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="12">
                            <b:inputTextarea label="Observação" maxlength="500" rows="5" value="#{cadastroProjetoBean.projetoExecucao.observacao}" field-size="sm" />
                        </b:column>		
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" look="primary" action="#{cadastroProjetoBean.incluirExecucao}"						
                                     process="@this @(.dados-execucao)" 
                                     update="**:execucoesTable mensagens-execucao validacao-execucao **:atvPrevistasTable @(.dados-execucao)"
                                     oncomplete="javascript:tratarInclusaoExecucao()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para inclusão das prorrogações -->
            <b:modal id="modal-prorrogacao" styleClass="modal-prorrogacao fade" title="Prorrogação" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-prorrogacao"/>

                <b:container fluid="true" style-class="dados-prorrogacao">
                    <b:messages id="mensagens-prorrogacao" />

                    <b:row>
                        <b:column span="3">
                            <h:outputText value="Colaborador" style="font-weight: bold;" />
                        </b:column>		    		
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{cadastroProjetoBean.projetoProrrogacao.colaborador.nome}" />
                        </b:column>				    	
                    </b:row>

                    <b:row style="margin-top: 10px;">
                        <b:column span="3">
                            <h:outputText value="Data" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8">
                            <h:outputText value="#{cadastroProjetoBean.projetoProrrogacao.data}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </b:column>			    		
                    </b:row>

                    <b:row style="margin-top: 10px;" rendered="#{cadastroProjetoBean.temDataPrazo}">
                        <b:column span="3">
                            <h:outputText value="Prazo atual" style="font-weight: bold;" />
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="8" rendered="#{cadastroProjetoBean.temDataPrazo}">
                            <h:outputText value="#{cadastroProjetoBean.projetoProrrogacao.prazoAtual}">
                                <f:convertDateTime type="date" pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </b:column>			    		
                    </b:row>

                    <b:row style="margin-top: 8px;">
                        <b:column span="4">
                            <b:dateTimePicker label="Novo prazo" fieldId="dt-novo-prazo" styleClass="campo-data" value="#{cadastroProjetoBean.projetoProrrogacao.novoPrazo}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Novo prazo deve ser informado" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroProjetoBean.incluirProrrogacao}"						
                                     process="@this @(.dados-prorrogacao)" update="**:prorrogacoesTable mensagens-prorrogacao validacao-prorrogacao @(.dados-prorrogacao)" look="primary"
                                     oncomplete="javascript:tratarInclusaoProrrogacao()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para informar o valor de cobrança para todos os participantes do projeto -->
            <b:modal id="modal-valor-cobranca" styleClass="modal-valor-cobranca fade" title="Valor de cobrança" size="modal-sm" backdrop="false">

                <b:container fluid="true" style-class="dados-valor-cobranca">
                    <b:row>
                        <b:column span="12">
                            <b:inputText label="Valor cobrança" maxlength="9" fieldId="valor-cobranca" styleClass="moeda" value="#{cadastroProjetoBean.valorCobranca}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="12">
                            <b:inputText label="Valor cobrança noturna" maxlength="9" styleClass="moeda" value="#{cadastroProjetoBean.valorCobrancaNoturna}" field-size="sm">
                                <f:facet name="prepend">
                                    <h:outputText value="R$" />
                                </f:facet>
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" action="#{cadastroProjetoBean.informarValorCobranca}"						
                                     process="@this **:participantesTable @(.dados-valor-cobranca)" update="**:participantesTable @(.dados-valor-cobranca)" look="primary"
                                     oncomplete="javascript:tratarInclusaoValorCobranca()"/>										
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>			

            <b:container fluid="true">

                <h3>Projeto</h3>

                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />

                <b:focus target="**:titulo" />
                <b:defaultCommand target="gravar" />	    	

                <b:panel>
                    <b:button value="Novo projeto" outcome="/projetos/CadastroProjeto" look="primary" size="sm" />

                    <p:spacer width="10"/>
                    <b:commandButton disabled="#{!cadastroProjetoBean.habilitaBotaoGravar}" value="Gravar" id="gravar" action="#{cadastroProjetoBean.salvar}" look="primary" size="sm"
                                     process="@this **:etapasTable **:participantesTable @(.dados)" 
                                     update="@form"
                                     oncomplete="javascript:configurarMascara();" />
                    <p:spacer width="10"/>

                    <b:dropButton value="Opções " look="primary" size="sm">
                        <b:navCommandLink value="Avançar" iconAwesome="rotate-right" disabled="#{!cadastroProjetoBean.podeAvancarEstagio}" action="#{cadastroProjetoBean.avancarEstagio}" tooltip="Avançar estágio do projeto"
                                          process="@this **:etapasTable **:participantesTable @(.dados)" update="@form" oncomplete="javascript:configurarMascara();" />
                        <b:navCommandLink value="Retroceder" iconAwesome="rotate-left" disabled="#{!cadastroProjetoBean.podeRetrocederEstagio}" action="#{cadastroProjetoBean.retrocederEstagio}" tooltip="Retroceder estágio do projeto"
                                          process="@this **:etapasTable **:participantesTable @(.dados)" update="@form" oncomplete="javascript:configurarMascara();" />
                        <b:navCommandLink value="Atividade Externa" iconAwesome="sign-out" disabled="#{!cadastroProjetoBean.podeEnviarAtividadeExterna}" action="#{cadastroProjetoBean.enviarAtividadeExterna}" tooltip="Enviar projeto para atividade externa"
                                          process="@this **:etapasTable **:participantesTable @(.dados)" update="@form" oncomplete="javascript:configurarMascara();" />
                    </b:dropButton>				 		
                    <p:spacer width="10"/>

                    <b:badge value="#{cadastroProjetoBean.projeto.status.label}" />
                    <b:button value="Fechar" outcome="/projetos/PesquisaProjetos" look="primary" style="float: right" size="sm" />
                </b:panel>

                <b:tabView content-class="content-tab">

                    <!-- # DADOS PROJETO # -->
                    <b:tab title="Dados Projeto">

                        <b:row styleClass="dados">
                            <b:column span="1" rendered="#{cadastroProjetoBean.projeto.editando}">
                                <b:inputText label="ID" value="#{cadastroProjetoBean.projeto.id}" fieldSize="sm" disabled="true" />
                            </b:column>	    		
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="3">
                                <b:inputText label="Título" id="titulo" maxlength="40" value="#{cadastroProjetoBean.projeto.titulo}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" required="true" requiredMessage="Título deve ser informado" />
                            </b:column>
                            <b:column span="3">
                                <b:selectOneMenu label="Tipo" value="#{cadastroProjetoBean.projeto.tipo}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" required="true" requiredMessage="Tipo deve ser informado">
                                    <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.tipos}" var="tp" itemLabel="#{tp.descricao}" itemValue="#{tp}" />
                                </b:selectOneMenu>					
                            </b:column>
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="3">
                                <b:selectOneMenu label="Empresa" value="#{cadastroProjetoBean.empresa}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" required="true" requiredMessage="Empresa deve ser informada"
                                                 onchange="ajax:cadastroProjetoBean.onChangeEmpresa()" process="@this" update="filial">
                                    <f:selectItem itemLabel="Selecione a empresa" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.empresas}" var="e" itemLabel="#{e.razaoSocial}" itemValue="#{e}" />
                                </b:selectOneMenu>
                            </b:column>
                            <b:column span="3">
                                <b:selectOneMenu label="Filial" id="filial" value="#{cadastroProjetoBean.projeto.filial}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" required="true" requiredMessage="Filial deve ser informada" >
                                    <f:selectItem itemLabel="Selecione a filial" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.filiais}" var="f" itemLabel="#{f.nome}" itemValue="#{f}" />
                                </b:selectOneMenu>
                            </b:column>				
                        </b:row>			

                        <b:row styleClass="dados">
                            <b:column span="3">
                                <b:selectOneMenu label="Cliente" disabled="#{!cadastroProjetoBean.naoIniciado}" value="#{cadastroProjetoBean.projeto.cliente}" fieldSize="sm" required="true" requiredMessage="Cliente deve ser informado"
                                                 onchange="ajax:cadastroProjetoBean.onChangeCliente()" process="@this" update="endereco frmCadastro:mensagens @(.dados-obra)">
                                    <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.clientes}" var="cl" itemLabel="#{cl.nomeComInscricao}" itemValue="#{cl}" />
                                </b:selectOneMenu>	
                            </b:column>
                            <b:column span="3">
                                <b:selectOneMenu label="Obra" disabled="#{!cadastroProjetoBean.naoIniciado}" id="endereco" value="#{cadastroProjetoBean.projeto.enderecoObra}" fieldSize="sm" required="true" requiredMessage="Obra deve ser informada"
                                                 onchange="ajax:cadastroProjetoBean.onChangeObra()" process="@this" update="@(.dados-obra)">
                                    <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.enderecosObra}" var="en" itemLabel="#{en.logradouro}, #{en.cidade} - #{en.uf}" itemValue="#{en}" />
                                </b:selectOneMenu>	
                            </b:column>				
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="3">
                                <b:inputText label="Código externo" maxlength="50" value="#{cadastroProjetoBean.projeto.commerce}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" />
                            </b:column>			
                            <b:column span="3">
                                <b:selectOneMenu label="Colaborador responsável" value="#{cadastroProjetoBean.projeto.responsavel}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" required="true" requiredMessage="Colaborador responsável deve ser informado">
                                    <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
                                </b:selectOneMenu>					
                            </b:column>					
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="1">
                                <b:inputText label="Prioridade" alt="prioridade" value="#{cadastroProjetoBean.projeto.prioridade}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm" />
                            </b:column>
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="2">
                                <b:dateTimePicker label="Data início" styleClass="campo-data" value="#{cadastroProjetoBean.projeto.dataInicio}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                            </b:column>
                            <b:column span="2">
                                <b:dateTimePicker label="Data encerramento" styleClass="campo-data" value="#{cadastroProjetoBean.projeto.dataEncerramento}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
                            </b:column>
                        </b:row>

                        <b:row styleClass="dados">
                            <b:column span="6">
                                <b:inputTextarea label="Descrição" maxlength="500" rows="5" value="#{cadastroProjetoBean.projeto.descricao}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" field-size="sm" />
                            </b:column>			
                        </b:row>				
                    </b:tab>

                    <!-- # ATIVIDADES # -->
                    <b:tab title="Atividades">
                        <b:row rendered="#{cadastroProjetoBean.admOuResponsavel}">
                            <b:column span="3">
                                <b:selectOneMenu id="selectAtividades" value="#{cadastroProjetoBean.atividade}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm">
                                    <f:selectItem itemLabel="Selecione a atividade" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{cadastroProjetoBean.atividades}" var="atv" itemValue="#{atv}" itemLabel="#{atv.descricao}" />
                                </b:selectOneMenu>
                            </b:column>						
                            <b:column span="2">
                                <b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-add-atividade-projeto" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" 
                                                 action="#{cadastroProjetoBean.incluirAtividade}" process="@this selectAtividades" update="atividadesTable selectAtividades frmCadastro:mensagens"/>
                            </b:column>
                        </b:row>

                        <b:dataTable id="atividadesTable" value="#{cadastroProjetoBean.projeto.atividades}" var="atividade" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false"	>

                            <b:dataTableColumn value="#{atividade.descricao}" />

                            <b:dataTableColumn rendered="#{cadastroProjetoBean.admOuResponsavel}" label="" style-class="coluna-acao-1btn" orderable="false">
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-atividade').modal('show');return false;" tooltip="Excluir" process="@this" update="atividadesTable" iconAwesome="remove" value="">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.atividade}" value="#{atividade}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>	    		
                        </b:dataTable>			
                    </b:tab>			

                    <!-- # OBRA # -->
                    <b:tab title="Obra">

                        <b:row styleClass="dados-obra">
                            <b:column span="4">
                                <b:inputText disabled="true" label="Logradouro" value="#{cadastroProjetoBean.projeto.enderecoObra.logradouro}" fieldSize="sm" />
                            </b:column>	
                            <b:column span="1" offset="2">
                                <b:inputText disabled="true" label="Número" value="#{cadastroProjetoBean.projeto.enderecoObra.numero}" fieldSize="sm" />
                            </b:column>	
                        </b:row>				

                        <b:row styleClass="dados-obra">
                            <b:column span="4">
                                <b:inputText disabled="true" label="Complemento" value="#{cadastroProjetoBean.projeto.enderecoObra.complemento}" fieldSize="sm" />
                            </b:column>	
                            <b:column span="2" offset="2">
                                <b:inputText disabled="true" label="CEP" value="#{cadastroProjetoBean.projeto.enderecoObra.cep}" fieldSize="sm" />
                            </b:column>							
                        </b:row>

                        <b:row styleClass="dados-obra">
                            <b:column span="3">
                                <b:inputText disabled="true" label="Bairro" value="#{cadastroProjetoBean.projeto.enderecoObra.bairro}" fieldSize="sm" />
                            </b:column>
                            <b:column span="3">
                                <b:inputText disabled="true" label="Cidade" value="#{cadastroProjetoBean.projeto.enderecoObra.cidade}" fieldSize="sm" />
                            </b:column>				
                            <b:column span="2">
                                <b:inputText disabled="true" label="UF" value="#{cadastroProjetoBean.projeto.UFEnderecoObra}" fieldSize="sm" />
                            </b:column>
                        </b:row>
                    </b:tab>			

                    <!-- # PROPOSTA # -->
                    <b:tab title="Proposta">
                        <b:commandButton value="Nova proposta" look="primary" size="sm" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" 
                                         oncomplete="javascript:$('.modal-proposta').modal('show');configurarMascara();$('#valor-proposta').focus();return false;" 
                                         action="#{cadastroProjetoBean.limparProposta}" process="@this" update="@(.dados-proposta)">
                        </b:commandButton>
                        <br/>			

                        <b:dataTable id="propostasTable" value="#{cadastroProjetoBean.projeto.propostas}" var="proposta" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">

                            <b:dataTableColumn label="Valor">
                                <h:outputText value="#{proposta.valorProjeto}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Valor hora neg.">
                                <h:outputText value="#{proposta.valorHoraNegociado}">
                                    <f:convertNumber type="currency" />
                                </h:outputText>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Tot. Dias">
                                <h:outputText value="#{proposta.totalDias}" />
                            </b:dataTableColumn>   					    				
                            <b:dataTableColumn label="Tot. Horas">
                                <h:outputText value="#{proposta.totalHoras}">
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>    					
                                </h:outputText>
                            </b:dataTableColumn>   		
                            <b:dataTableColumn label="Data aprovação" dataType="date" data-order="#{proposta.dataAprovacao.toString()}">
                                <h:outputText value="#{proposta.dataAprovacao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>    
                            <b:dataTableColumn label="Data início" dataType="date" data-order="#{proposta.dataInicio.toString()}">
                                <h:outputText value="#{proposta.dataInicio}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Data prazo fim" dataType="date" data-order="#{proposta.dataPrazoFim.toString()}">
                                <h:outputText value="#{proposta.dataPrazoFim}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>    				
                            <b:dataTableColumn label="Data encerramento" dataType="date" data-order="#{proposta.dataEncerramento.toString()}">
                                <h:outputText value="#{proposta.dataEncerramento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink oncomplete="javascript:$('.modal-proposta').modal('show');configurarMascara();$('#valor-proposta').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
                                                  process="@this" update="@(.dados-proposta)">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoProposta}" value="#{proposta}" />
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-proposta').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
                                                  process="@this" update="propostasTable" >
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoProposta}" value="#{proposta}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>
                        </b:dataTable>				
                    </b:tab>			
                </b:tabView>			

                <b:tabView content-class="content-tab">

                    <!-- # PARTICIPANTES # -->
                    <b:tab title="Participantes">
                        <b:row styleClass="row-add-participante">
                            <b:selectOneMenu span="3" id="selectParticipantes" value="#{cadastroProjetoBean.participante}" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" fieldSize="sm">
                                <f:selectItem itemLabel="Selecione o colaborador" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{cadastroProjetoBean.participantes}" var="item" itemValue="#{item}" itemLabel="#{item.nome}" />
                            </b:selectOneMenu>

                            <b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir colaborador selecionado" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}"
                                             action="#{cadastroProjetoBean.incluirParticipante}" process="@this selectParticipantes participantesTable" update="participantesTable selectParticipantes frmCadastro:mensagens"
                                             oncomplete="configurarMascara()"/>

                            <p:spacer width="10"/>
                            <b:commandButton icon-awesome="asterisk" size="sm" tooltip="Incluir todos os colaboradores" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}"
                                             action="#{cadastroProjetoBean.incluirTodosParticipantes}" process="@this participantesTable" update="participantesTable selectParticipantes frmCadastro:mensagens"
                                             oncomplete="configurarMascara()"/>

                            <p:spacer width="10"/>				
                            <b:dropButton value="Opções " look="primary" size="sm">
                                <b:navCommandLink value="Informar valor cobrança" process="@this" update="@(.dados-valor-cobranca)" 
                                                  actionListener="#{cadastroProjetoBean.limparValorCobranca}" oncomplete="javascript:abrirModalValorCobranca()" />
                            </b:dropButton>						 
                        </b:row>

                        <b:dataTable id="participantesTable" value="#{cadastroProjetoBean.projeto.participantes}" var="participante" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false"	>

                            <b:dataTableColumn value="#{participante.colaborador.nome}" />

                            <b:dataTableColumn label="Vlr cobrança">
                                <b:inputText renderLabel="false" maxlength="9" styleClass="moeda" value="#{participante.valorCobranca}" field-size="sm">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </b:inputText>		    		
                            </b:dataTableColumn>
                            
                            <b:dataTableColumn label="Vlr cobrança noturna">
                                <b:inputText renderLabel="false" maxlength="9" styleClass="moeda" value="#{participante.valorCobrancaNoturna}" field-size="sm">
                                    <f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
                                </b:inputText>		    		
                            </b:dataTableColumn>

                            <b:dataTableColumn label="Encerrado">
                                <b:selectOneMenu renderLabel="false" value="#{participante.encerrado}" fieldSize="sm" >
                                    <f:selectItems value="#{cadastroProjetoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
                                </b:selectOneMenu>	    			
                            </b:dataTableColumn>		    		

                            <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-participante').modal('show');return false;" tooltip="Excluir" process="@this" update="@none" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" iconAwesome="remove" value="">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoColaborador}" value="#{participante}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>	    		
                        </b:dataTable>			
                    </b:tab>

                    <!-- # HISTÓRICOS # -->
                    <b:tab title="Históricos">
                        <b:commandButton value="Novo histórico" look="primary"  size="sm" rendered="#{cadastroProjetoBean.participanteProjeto}"
                                         oncomplete="javascript:$('.modal-historico').modal('show');configurarMascara();$('.texto-historico').focus();return false;" 
                                         actionListener="#{cadastroProjetoBean.limparHistorico}" action="#{cadastroProjetoBean.inicializarHistorico}" process="@this" update="@(.dados-historico)">
                        </b:commandButton>
                        <br/>

                        <b:dataTable id="historicosTable" value="#{cadastroProjetoBean.projeto.historicos}" var="historico" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">

                            <b:dataTableColumn label="Data" dataType="date" data-order="#{historico.data.toString()}" style="width: 150px;">
                                <h:outputText value="#{historico.data}">
                                    <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm:ss" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn value="#{historico.descricao}" label="Histórico" />
                            <b:dataTableColumn value="#{historico.colaborador.nome}" label="Colaborador" />
                            
                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-historico').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
                                                  process="@this" update="historicosTable" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoHistorico}" value="#{historico}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>                            
                        </b:dataTable>				
                    </b:tab>

                    <!-- # ETAPAS # -->
                    <b:tab title="Etapas">
                        <b:commandButton value="Nova etapa" rendered="#{cadastroProjetoBean.admOuResponsavel}" look="primary"  disabled="#{!cadastroProjetoBean.editaCadastroProjeto}" size="sm"
                                         oncomplete="javascript:$('.modal-etapa').modal('show');configurarMascara();$('#descricao-etapa').focus();return false;" 
                                         action="#{cadastroProjetoBean.limparEtapa}" process="@this" update="@(.dados-etapa)">
                        </b:commandButton>
                        <br/>			

                        <b:dataTable id="etapasTable" value="#{cadastroProjetoBean.projeto.etapas}" var="etapaP" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">

                            <b:dataTableColumn value="#{etapaP.descricao}" label="Etapa" />
                            <b:dataTableColumn value="#{etapaP.etapa.atividade.descricao}" label="Atividade" />
                            <b:dataTableColumn label="Horas Etapa" style="width: 90px; text-align: center;">
                                <h:outputText value="#{etapaP.quantidadeHoras}">
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>	    			
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Horas Exec." style="width: 90px; text-align: center;">
                                <h:outputText value="#{etapaP.horasExecutadas}">
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="% Exec." style="width: 90px; text-align: center;">
                                <h:outputText value="#{etapaP.percentualExecutado}">
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Situação" style="width: 120px;">
                                <b:selectOneMenu rendered="#{cadastroProjetoBean.admOuResponsavel}" disabled="#{cadastroProjetoBean.projeto.naoIniciado}" renderLabel="false" value="#{etapaP.situacao}" fieldSize="sm" >
                                    <f:selectItems value="#{cadastroProjetoBean.situacoesEtapa}" var="st" itemLabel="#{st.label}" itemValue="#{st}" />
                                </b:selectOneMenu>
                                <h:outputText rendered="#{!cadastroProjetoBean.admOuResponsavel}" value="#{etapaP.situacao.label}" />
                            </b:dataTableColumn>

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink oncomplete="javascript:$('.modal-etapa').modal('show');configurarMascara();$('#descricao-etapa').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
                                                  process="@this" update="@(.dados-etapa)" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoEtapa}" value="#{etapaP}" />
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-etapa').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
                                                  process="@this" update="etapasTable" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoEtapa}" value="#{etapaP}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>
                        </b:dataTable>
                    </b:tab>

                    <!-- # ATIVIDADES PREVISTAS # -->
                    <b:tab title="Atividade Prevista">
                        <b:commandButton value="Nova previsão" look="primary" size="sm" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}"
                                         oncomplete="javascript:$('.modal-atv-prevista').modal('show');configurarMascara();$('.cb-tipo-atv').focus();return false;" 
                                         actionListener="#{cadastroProjetoBean.limparAtividadePrevista}" action="#{cadastroProjetoBean.inicializarAtividadePrevista}" process="@this" update="@(.dados-atv-prevista)">
                        </b:commandButton>
                        <br/>			

                        <b:dataTable id="atvPrevistasTable" value="#{cadastroProjetoBean.projeto.atividadesPrevistas}" var="atvPrevista" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">

                            <b:dataTableColumn value="#{atvPrevista.tipo.descricao}" label="Tipo atividade" />
                            <b:dataTableColumn value="#{atvPrevista.colaborador.nome}" label="Colaborador" />					
                            <b:dataTableColumn label="Data" dataType="date" data-order="#{atvPrevista.data.toString()}" style="width: 150px;">
                                <h:outputText value="#{atvPrevista.data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn value="#{atvPrevista.situacao.label}" label="Situação" />
                            <b:dataTableColumn value="#{atvPrevista.etapa.descricaoCompleta}" label="Etapa"/>

                            <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
                                <b:navCommandLink oncomplete="javascript:$('.modal-atv-prevista').modal('show');configurarMascara();$('.cb-tipo-atv').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
                                                  process="@this" update="@(.dados-atv-prevista)" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.atividadePrevista}" value="#{atvPrevista}" />
                                </b:navCommandLink>			    		
                                <p:spacer width="10"/>
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-atv-prevista').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
                                                  process="@this" update="atvPrevistasTable" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.atividadePrevista}" value="#{atvPrevista}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>
                        </b:dataTable>
                    </b:tab>			

                    <!-- # EXECUÇÕES # -->
                    <b:tab title="Execução Cronograma">
                        <b:commandButton value="Nova execução" look="primary" size="sm" rendered="#{cadastroProjetoBean.participanteProjeto}"
                                         oncomplete="javascript:$('.modal-execucao').modal('show');configurarMascara();$('#hora-inicio-exec').focus();return false;" 
                                         actionListener="#{cadastroProjetoBean.limparExecucao}" action="#{cadastroProjetoBean.inicializarExecucao}" process="@this" update="@(.dados-execucao)">
                        </b:commandButton>
                        <br/>			

                        <b:dataTable id="execucoesTable" value="#{cadastroProjetoBean.projeto.execucoes}" var="execucao" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">

                            <b:dataTableColumn label="Data" dataType="date" order="desc" data-order="#{execucao.data.toString()}" style="width: 150px;">
                                <h:outputText value="#{execucao.data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>    				
                            <b:dataTableColumn label="Início" styleClass="coluna-centro">
                                <h:outputText value="#{execucao.horaInicio}">
                                    <f:convertDateTime type="time" timeStyle="short" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Término" styleClass="coluna-centro">
                                <h:outputText value="#{execucao.horaTermino}">
                                    <f:convertDateTime type="time" timeStyle="short" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Total horas" style="width: 90px; text-align: center;">
                                <h:outputText value="#{execucao.totalHoras}">
                                    <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                                </h:outputText>
                            </b:dataTableColumn>

                            <b:dataTableColumn label="Colaborador" value="#{execucao.colaborador.nome}" />
                            <b:dataTableColumn label="Atividade prevista" value="#{execucao.atividadePrevista.descricaoComData}" />    				    				
                            <b:dataTableColumn label="Etapa" value="#{execucao.etapa.descricaoCompleta}" />
                            <b:dataTableColumn label="Retrabalho" value="#{execucao.retrabalho.label}" styleClass="coluna-centro" />

                            <b:dataTableColumn  label="" style-class="coluna-acao-2btn" orderable="false">
                                <b:navCommandLink rendered="#{cadastroProjetoBean.participanteProjeto}" oncomplete="javascript:$('.modal-execucao').modal('show');configurarMascara();$('#hora-inicio-exec').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
                                                  process="@this" update="@(.dados-execucao)">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoExecucao}" value="#{execucao}" />
                                </b:navCommandLink>			    		
                                <p:spacer width="10" rendered="#{cadastroProjetoBean.participanteProjeto}"/>
                                <b:navCommandLink rendered="#{cadastroProjetoBean.participanteProjeto}" oncomplete="javascript:$('.modal-confirmacao-execucao').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
                                                  process="@this" update="execucoesTable" >
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoExecucao}" value="#{execucao}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>
                        </b:dataTable>
                    </b:tab>

                    <!-- # PRORROGAÇÕES # -->
                    <b:tab title="Prorrogações">
                        <b:commandButton value="Nova prorrogação" look="primary"  size="sm" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}"
                                         oncomplete="javascript:$('.modal-prorrogacao').modal('show');configurarMascara();$('#dt-novo-prazo').focus();return false;" 
                                         actionListener="#{cadastroProjetoBean.limparProrrogacao}" action="#{cadastroProjetoBean.inicializarProrrogacao}" process="@this" update="@(.dados-prorrogacao)">
                        </b:commandButton>
                        <br/>			

                        <b:dataTable id="prorrogacoesTable" value="#{cadastroProjetoBean.projeto.prorrogacoes}" var="prorrogacao" customLangUrl="#{resource['/json/pt-br.json']}"
                                     searching="false" paginated="false">

                            <b:dataTableColumn label="Data" dataType="date" data-order="#{prorrogacao.data.toString()}" style="width: 150px;">
                                <h:outputText value="#{prorrogacao.data}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Prazo atual" dataType="date" data-order="#{prorrogacao.prazoAtual.toString()}" style="width: 150px;">
                                <h:outputText value="#{prorrogacao.prazoAtual}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn label="Novo prazo" dataType="date" data-order="#{prorrogacao.novoPrazo.toString()}" style="width: 150px;">
                                <h:outputText value="#{prorrogacao.novoPrazo}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />
                                </h:outputText>	    				
                            </b:dataTableColumn>
                            <b:dataTableColumn value="#{prorrogacao.colaborador.nome}" label="Colaborador" />

                            <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">    		
                                <b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-prorrogacao').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
                                                  process="@this" update="prorrogacoesTable" disabled="#{!cadastroProjetoBean.editaCadastroProjeto}">
                                    <f:setPropertyActionListener target="#{cadastroProjetoBean.projetoProrrogacao}" value="#{prorrogacao}" />
                                </b:navCommandLink>										
                            </b:dataTableColumn>
                        </b:dataTable>
                    </b:tab>							
                </b:tabView>

                <!-- # TOTALIZADORES DO PROJETO # -->
                <br/>
                <b:panel >
                    <b:row styleClass="totais">
                        <b:column span="3">
                            <h:outputText value="Total horas projeto:" />
                        </b:column>			
                        <b:column span="3">
                            <h:outputText value="#{cadastroProjetoBean.totalHorasProjeto}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                            </h:outputText>	 						
                        </b:column>
                        <b:column span="3">
                            <h:outputText value="Saldo horas restantes:" />
                        </b:column>			
                        <b:column span="3">
                            <h:outputText value="#{cadastroProjetoBean.saldoHorasRestantes}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                            </h:outputText>	 						
                        </b:column>
                    </b:row>
                    <b:row styleClass="totais">
                        <b:column span="3">
                            <h:outputText value="Total horas programadas:" />
                        </b:column>			
                        <b:column span="3">
                            <h:outputText value="#{cadastroProjetoBean.totalHorasProgramadas}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                            </h:outputText>	 						
                        </b:column>	
                        <b:column span="3">
                            <h:outputText value="Saldo dias restantes:" />
                        </b:column>			
                        <b:column span="3">
                            <h:outputText value="#{cadastroProjetoBean.saldoDiasRestantes}"/>
                        </b:column>
                    </b:row>
                    <b:row styleClass="totais">
                        <b:column span="3">
                            <h:outputText value="Total horas executadas:" />
                        </b:column>			
                        <b:column span="3">
                            <h:outputText value="#{cadastroProjetoBean.totalHorasExecutadas}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                            </h:outputText>	 						
                        </b:column>
                        <b:column span="3">
                            <h:outputText value="Conclusão projeto %:" />
                        </b:column>			
                        <b:column span="3">
                            <h:outputText value="#{cadastroProjetoBean.perConclusaoProjeto}">
                                <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                            </h:outputText>	 						
                        </b:column>	
                    </b:row>
                </b:panel>

            </b:container>	
        </h:form>	
    </ui:define>
</ui:composition>
