<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Programação</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
        	<o:viewParam name="programacao" value="#{cadastroProgramacaoBean.programacao}" converter="programacaoExecucaoConverter" />
			<f:viewAction action="#{cadastroProgramacaoBean.inicializar}"></f:viewAction>
		</f:metadata>
		
   	    <h:form id="frmCadastro">
	   	    <p:focus context="frmCadastro"/>
   	    
			<script>
				function fecharModalConfirmacaoParticipante() {
					$('.modal-confirmacao-participante').modal('hide');
					configurarMascara();
					return false;
				}
			</script>
			   	    
			<!-- Tela modal para confirmar a exclusão do participante -->
			<b:modal id="modal-confirmacao-participante" styleClass="modal-confirmacao-participante fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do participante?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:fecharModalConfirmacaoParticipante()" 
						action="#{cadastroProgramacaoBean.excluirParticipante}"
						process="@this **:participantesTable" update="**:participantesTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>	
			
			<!-- Tela modal para confirmar a exclusão da etapa -->
			<b:modal id="modal-confirmacao-etapa" styleClass="modal-confirmacao-etapa fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão da etapa?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-etapa').modal('hide');return false;" 
						action="#{cadastroProgramacaoBean.excluirEtapa}"
						process="@this" update="**:etapasTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>					
			
	   		<b:container fluid="true">
	   		
	   		<h3>Programação para Execução</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:defaultCommand target="gravar" />	    	
	    		    	
	    	<b:panel>
	    		<b:button value="Nova programação" outcome="/projetos/CadastroProgramacao" look="primary" size="sm" />
	    		
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroProgramacaoBean.salvar}" look="primary" size="sm"
	    			process="@this **:participantesTable @(.dados)" 
	    			update="@form"
	    			oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/projetos/PesquisaProgramacao" look="primary" style="float: right" size="sm" />
	    	</b:panel>

			<b:panel>

			<b:row styleClass="dados">
				<b:column span="2">
					<b:dateTimePicker label="Data" styleClass="campo-data" value="#{cadastroProgramacaoBean.programacao.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
				</b:column>
				<b:column span="2">
					<b:dateTimePicker label="Prog. até" rendered="#{cadastroProgramacaoBean.programacao.novo}" styleClass="campo-data" value="#{cadastroProgramacaoBean.programacao.dataTermino}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
				</b:column>						
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:selectOneMenu label="Colaborador" value="#{cadastroProgramacaoBean.programacao.colaborador}" fieldSize="sm" required="true" requiredMessage="Colaborador deve ser informado">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
					</b:selectOneMenu>							
				</b:column>
			</b:row>	
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:selectOneMenu label="Atividade Prevista" value="#{cadastroProgramacaoBean.programacao.tipoAtividadePrevista}" fieldSize="sm" required="true" requiredMessage="Atividade Prevista deve ser informada">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.atividadesPrevistas}" var="at" itemLabel="#{at.descricao}" itemValue="#{at}" />
					</b:selectOneMenu>							
				</b:column>		
			</b:row>					

			<b:row styleClass="dados">
				<b:column span="4">
					<b:selectOneMenu label="Empresa" value="#{cadastroProgramacaoBean.empresa}" fieldSize="sm" required="true" requiredMessage="Empresa deve ser informada"
						onchange="ajax:cadastroProgramacaoBean.onChangeCBEmpresa()" process="@this" update="filial">
						<f:selectItem itemLabel="Selecione a empresa" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.empresas}" var="e" itemLabel="#{e.razaoSocial}" itemValue="#{e}" />
					</b:selectOneMenu>
				</b:column>
				<b:column span="4">
					<b:selectOneMenu label="Filial" id="filial" value="#{cadastroProgramacaoBean.programacao.filial}" fieldSize="sm" required="true" requiredMessage="Filial deve ser informada" >
						<f:selectItem itemLabel="Selecione a filial" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.filiais}" var="f" itemLabel="#{f.nome}" itemValue="#{f}" />
					</b:selectOneMenu>
				</b:column>				
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:selectOneMenu label="Cliente" value="#{cadastroProgramacaoBean.cliente}" fieldSize="sm"
						onchange="ajax:cadastroProgramacaoBean.onChangeCBCliente()" process="@this" update="ed-projeto cb-projeto cb-etapa **:selectEtapas frmCadastro:mensagens @this"
						oncomplete="javascript:$('.ed-projeto').focus();return false;">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.clientes}" var="cl" itemLabel="#{cl.nomeComInscricao}" itemValue="#{cl}" />
					</b:selectOneMenu>	
				</b:column>			
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="1">
					<b:inputText label="Projeto" id="ed-projeto" styleClass="ed-projeto" value="#{cadastroProgramacaoBean.idProjeto}" fieldSize="sm" alt="campo-id"
					 	onchange="ajax:cadastroProgramacaoBean.onChangeIdProjeto()" process="@this" update="cb-projeto cb-etapa **:selectEtapas @this"
						oncomplete="javascript:configurarMascara();$('.cb-projeto').focus();return false;">
					</b:inputText>
				</b:column>				
					
				<b:column span="3">
					<b:selectOneMenu label="Título" id="cb-projeto" styleClass="cb-projeto" value="#{cadastroProgramacaoBean.programacao.projeto}" fieldSize="sm" required="true" requiredMessage="Projeto deve ser informado"
						onchange="ajax:cadastroProgramacaoBean.onChangeCBProjeto()" process="@this" update="ed-projeto cb-etapa **:selectEtapas @this"
						oncomplete="javascript:configurarMascara();$('.cb-projeto').focus();return false;">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.projetos}" var="pr" itemLabel="#{pr.tituloComCodigoExterno}" itemValue="#{pr}" />
					</b:selectOneMenu>
				</b:column>
					
				<b:column span="4">
					<b:selectOneMenu label="Etapa" id="cb-etapa" value="#{cadastroProgramacaoBean.programacao.etapa}" fieldSize="sm">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.etapasProjeto}" var="et" itemLabel="#{et.descricaoCompleta}" itemValue="#{et}" />
					</b:selectOneMenu>					
				</b:column>						
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:selectOneMenu label="Veículo" id="veiculo" disabled="#{!cadastroProgramacaoBean.podeAlterarVeiculo}" value="#{cadastroProgramacaoBean.programacao.veiculo}" fieldSize="sm">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroProgramacaoBean.veiculos}" var="vl" itemLabel="#{vl.modelo.marca.descricao} - #{vl.modelo.descricao} - #{vl.placa}" itemValue="#{vl}" />
					</b:selectOneMenu>							
				</b:column>		
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="Saída Empresa" alt="time" value="#{cadastroProgramacaoBean.programacao.saidaEmpresa}" fieldSize="sm"
						onchange="ajax:cadastroProgramacaoBean.onChangeSaidaEmpresa()" process="@this" update="hr-saida"
						oncomplete="javascript:configurarMascara();return false;">
						<f:convertDateTime type="time" timeStyle="short" />
					</b:inputText>
				</b:column>
				<b:column span="2">
					<b:inputText label="Retorno Empresa" alt="time" value="#{cadastroProgramacaoBean.programacao.retornoEmpresa}" fieldSize="sm"
						onchange="ajax:cadastroProgramacaoBean.onChangeRetornoEmpresa()" process="@this" update="hr-retorno"
						oncomplete="javascript:configurarMascara();return false;">
						<f:convertDateTime type="time" timeStyle="short" />
					</b:inputText>
				</b:column>		
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="Início" alt="time" id="hr-saida" value="#{cadastroProgramacaoBean.programacao.horaInicio}" fieldSize="sm" required="true" requiredMessage="Início deve ser informado">
						<f:convertDateTime type="time" timeStyle="short" />
					</b:inputText>
				</b:column>
				<b:column span="2">
					<b:inputText label="Término" alt="time" id="hr-retorno" value="#{cadastroProgramacaoBean.programacao.horaTermino}" fieldSize="sm" required="true" requiredMessage="Término deve ser informado">
						<f:convertDateTime type="time" timeStyle="short" />
					</b:inputText>
				</b:column>		
			</b:row>	
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:selectOneMenu label="Veículo Próprio" disabled="#{!cadastroProgramacaoBean.podeAlterarVeiculoProprio}" value="#{cadastroProgramacaoBean.programacao.veiculoProprio}" fieldSize="sm" required="true" requiredMessage="Veículo Próprio deve ser informado"
						onchange="ajax:cadastroProgramacaoBean.onChangeCBVeiculoProprio()" process="@this" update="veiculo motorista">					
						<f:selectItems value="#{cadastroProgramacaoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
					</b:selectOneMenu>							
				</b:column>				
				<b:column span="2">
					<b:selectOneMenu label="Motorista" id="motorista" disabled="#{!cadastroProgramacaoBean.podeAlterarMotorista}" value="#{cadastroProgramacaoBean.programacao.motorista}" fieldSize="sm" required="true" requiredMessage="Motorista deve ser informado">
						<f:selectItems value="#{cadastroProgramacaoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
					</b:selectOneMenu>							
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
		    		<b:inputText label="Horas viagem" id="ed-horas-viagem" styleClass="centesimal-3-2" value="#{cadastroProgramacaoBean.programacao.horasViagem}" field-size="sm">
		    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
	    			</b:inputText>
				</b:column>
				<b:column span="2">
					<b:selectOneMenu label="Ativa" value="#{cadastroProgramacaoBean.programacao.ativo}" fieldSize="sm" required="true" requiredMessage="Ativa deve ser informado">
						<f:selectItems value="#{cadastroProgramacaoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
					</b:selectOneMenu>							
				</b:column>
			</b:row>	
			
			<b:row styleClass="dados">
				<b:column span="8">
					<b:inputTextarea label="Observação" maxlength="500" rows="5" value="#{cadastroProgramacaoBean.programacao.observacao}" field-size="sm" />
				</b:column>		
			</b:row>																
			
			</b:panel>
			
  			<b:tabView content-class="content-tab"> 
   			
   				<!-- # OUTROS PARTICIPANTES # -->
		    	<b:tab title="Outros Participantes">		    	
					<b:row>
						<b:column span="3">
							<b:selectOneMenu id="selectParticipantes" value="#{cadastroProgramacaoBean.participante}" fieldSize="sm">
								<f:selectItem itemLabel="Selecione o colaborador" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroProgramacaoBean.colaboradores}" var="cl" itemValue="#{cl}" itemLabel="#{cl.nome}" />
							</b:selectOneMenu>
						</b:column>						
						<b:column span="1">
							<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir participante" style-class="btn-plus"
								 action="#{cadastroProgramacaoBean.incluirParticipante}" 
								 process="@this frmCadastro:ed-horas-viagem participantesTable selectParticipantes" update="participantesTable selectParticipantes frmCadastro:mensagens"
								 oncomplete="javascript:configurarMascara();" />
	 					</b:column>
						<b:column span="3" style="margin-left:-40px;">
							<b:selectOneMenu id="selectEquipes" value="#{cadastroProgramacaoBean.equipe}" fieldSize="sm">
								<f:selectItem itemLabel="Selecione a equipe" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroProgramacaoBean.equipes}" var="eqp" itemValue="#{eqp}" itemLabel="#{eqp.descricao}" />
							</b:selectOneMenu>
						</b:column>						
						<b:column span="1">
							<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir participantes da equipe" style-class="btn-plus"
								 action="#{cadastroProgramacaoBean.incluirEquipe}" 
								 process="@this frmCadastro:ed-horas-viagem participantesTable selectEquipes" update="participantesTable selectEquipes frmCadastro:mensagens"
								 oncomplete="javascript:configurarMascara();" />
	 					</b:column>
					</b:row>					
		    	
					<b:dataTable id="participantesTable" value="#{cadastroProgramacaoBean.programacao.participantes}" var="participante" customLangUrl="#{resource['/json/pt-br.json']}">
						<b:dataTableColumn label="Colaborador" value="#{participante.colaborador.nome}" />
						
						<b:dataTableColumn label="Horas viagem" style="width: 185px;">
		    				<b:inputText label="" styleClass="centesimal-3-2" value="#{participante.horasViagem}" field-size="sm">
				    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
	    					</b:inputText>						
						</b:dataTableColumn>
						
				    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">    		
		    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-participante').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
		    						process="@this" update="participantesTable" >
				    			<f:setPropertyActionListener target="#{cadastroProgramacaoBean.programacaoColaborador}" value="#{participante}" />
				    		</b:navCommandLink>										
				    	</b:dataTableColumn>	    				
					</b:dataTable>
	     		</b:tab>
	     		
   				<!-- # OUTRAS ETAPAS # -->
		    	<b:tab title="Outras Etapas">		    	
					<b:row>
						<b:column span="3">
							<b:selectOneMenu id="selectEtapas" value="#{cadastroProgramacaoBean.etapa}" fieldSize="sm">
								<f:selectItem itemLabel="Selecione a etapa" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroProgramacaoBean.etapasProjeto}" var="et" itemLabel="#{et.descricaoCompleta}" itemValue="#{et}" />
							</b:selectOneMenu>
						</b:column>						
						<b:column span="1">
							<b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir" style-class="btn-plus"
								 action="#{cadastroProgramacaoBean.incluirEtapa}" process="@this selectEtapas" update="etapasTable selectEtapas frmCadastro:mensagens"/>
	 					</b:column>
					</b:row>					
		    	
					<b:dataTable id="etapasTable" value="#{cadastroProgramacaoBean.programacao.etapas}" var="etapa" customLangUrl="#{resource['/json/pt-br.json']}">
						<b:dataTableColumn label="Etapa" value="#{etapa.descricaoCompleta}" />

				    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">    		
		    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-etapa').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
		    						process="@this" update="etapasTable" >
				    			<f:setPropertyActionListener target="#{cadastroProgramacaoBean.etapa}" value="#{etapa}" />
				    		</b:navCommandLink>										
				    	</b:dataTableColumn>	    				
					</b:dataTable>
	     		</b:tab>	     			     			
	     		
    		</b:tabView>		
					
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>