<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Kanban Atividades Projeto</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<f:viewAction action="#{kanBanAtividadesProjetoBean.inicializar}"></f:viewAction>
		</f:metadata>
		
		<style>
			.div-tabelas .dataTables_info {
				display: none;
			}
		</style>		
		
   	    <h:form id="frmCadastro">   	    
			
	   		<b:container fluid="true">
	   		<b:messages id="mensagens" styleClass="mensagens"/>
	   		
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	<h3/>
	    		    	
	    	<b:panel>
	    		<b:row styleClass="filtro">
	    			<b:column span="4">
						<b:selectOneMenu label="Cliente" value="#{kanBanAtividadesProjetoBean.filtroCliente}" fieldSize="sm"
							onchange="ajax:kanBanAtividadesProjetoBean.onChangeCliente()" process="@this" update="cb-projeto">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{kanBanAtividadesProjetoBean.clientes}" var="item" itemLabel="#{item.nomeComInscricao}" itemValue="#{item}" />
						</b:selectOneMenu>	    			
	    			</b:column>
	    			<b:column span="4">
						<b:selectOneMenu label="Projeto" value="#{kanBanAtividadesProjetoBean.filtroProjeto}" id="cb-projeto" fieldSize="sm" required="true" requiredMessage="Projeto deve ser informado">
							<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
							<f:selectItems value="#{kanBanAtividadesProjetoBean.projetos}" var="item" itemLabel="#{item.tituloComCodigoExterno}" itemValue="#{item}" />
						</b:selectOneMenu>	    			
	    			</b:column>
	    		</b:row>
	    		
	    		<b:row styleClass="filtro">
	    			<b:column span="4">	    			
	    				<b:commandButton value="Mostrar" styleClass="btn-mostrar" action="#{kanBanAtividadesProjetoBean.pesquisar}" look="primary" 
		    				process="@this @(.filtro)" 
		    				update="pendentesTable emExecucaoTable finalizadasTable mensagens" size="sm" />
					</b:column>
	    		</b:row>
	    	</b:panel>
	    	
	    	<div class="div-tabelas">
			<b:row>
				<b:column span="4">
			    	<!-- PENDENTES -->
					<b:dataTable id="pendentesTable" value="#{kanBanAtividadesProjetoBean.atividadesPendentes}" var="atividade" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false">
    					<f:facet name="header">
					    	<tr>
					      		<th colspan="4" style="text-align: center;">Pendente</th>
					      	</tr>
					      	<tr>
					        	<th>Descrição</th>
					    	   	<th>Colaborador</th>
						        <th>Data</th>
						    	<th>Etapa</th>
							</tr>
  						</f:facet>
   						<b:dataTableColumn value="#{atividade.tipo.descricao}" label="" />
   						<b:dataTableColumn value="#{atividade.colaborador.nome}" label="" />
    					<b:dataTableColumn label="" dataType="date" data-order="#{atividade.data.toString()}">
		    				<h:outputText value="#{atividade.data}">
				    			<f:convertDateTime pattern="dd/MM/yyyy" />
    						</h:outputText>	    				
		    			</b:dataTableColumn>   						
   						<b:dataTableColumn value="#{atividade.etapa.descricao}" label="" />
					</b:dataTable>
				</b:column>
				<b:column span="4">
	    			<!-- EM EXECUÇÃO -->
					<b:dataTable id="emExecucaoTable" value="#{kanBanAtividadesProjetoBean.atividadesEmExecucao}" var="atividade" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false">
    					<f:facet name="header">
					    	<tr>
					      		<th colspan="4" style="text-align: center;">Em execução</th>
					      	</tr>
					      	<tr>
					        	<th>Descrição</th>
					    	   	<th>Colaborador</th>
						        <th>Data</th>
						    	<th>Etapa</th>
							</tr>
  						</f:facet>
   						<b:dataTableColumn value="#{atividade.tipo.descricao}" label="" />
   						<b:dataTableColumn value="#{atividade.colaborador.nome}" label="" />
    					<b:dataTableColumn label="" dataType="date" data-order="#{atividade.data.toString()}">
		    				<h:outputText value="#{atividade.data}">
				    			<f:convertDateTime pattern="dd/MM/yyyy" />
    						</h:outputText>	    				
		    			</b:dataTableColumn>   						
   						<b:dataTableColumn value="#{atividade.etapa.descricao}" label="" />
					</b:dataTable>
				</b:column>
				<b:column span="4">
			    	<!-- FINALIZADO -->
					<b:dataTable id="finalizadasTable" value="#{kanBanAtividadesProjetoBean.atividadesFinalizadas}" var="atividade" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false">
    					<f:facet name="header">
					    	<tr>
					      		<th colspan="4" style="text-align: center;">Finalizado</th>
					      	</tr>
					      	<tr>
					        	<th>Descrição</th>
					    	   	<th>Colaborador</th>
						        <th>Data</th>
						    	<th>Etapa</th>
							</tr>
  						</f:facet>
   						<b:dataTableColumn value="#{atividade.tipo.descricao}" label="" />
   						<b:dataTableColumn value="#{atividade.colaborador.nome}" label="" />
    					<b:dataTableColumn label="" dataType="date" data-order="#{atividade.data.toString()}">
		    				<h:outputText value="#{atividade.data}">
				    			<f:convertDateTime pattern="dd/MM/yyyy" />
    						</h:outputText>	    				
		    			</b:dataTableColumn>   						
   						<b:dataTableColumn value="#{atividade.etapa.descricao}" label="" />
					</b:dataTable>				
				</b:column>
			</b:row>
			</div>
					
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>