<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Programação para Execução</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <f:viewAction action="#{pesquisaProgramacaoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <h:form id="frmCadastro">

            <!-- Tela modal para confirmar a exclusão da programação -->
            <b:modal id="modal-confirmacao-programacao" styleClass="modal-confirmacao-programacao fade" title="Confirmação" size="modal-md" backdrop="false">
                <p>Confirma a exclusão desta programação e dos dados gerados a partir dela?</p>
                <f:facet name="footer">
                    <b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-programacao').modal('hide');return false;"
                                     action="#{pesquisaProgramacaoBean.excluirProgramacao}"
                                     process="@this" update="programacoesTable mensagens" />
                    <b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">
                <b:messages id="mensagens" styleClass="mensagens"/>

                <p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
                <b:fetchBeanInfos id="validacao"/>

                <h3/>

                <b:panel>
                    <b:row styleClass="filtro">
                        <b:column span="3">
                            <b:selectOneMenu label="Colaborador" value="#{pesquisaProgramacaoBean.filtroColaborador}" fieldSize="sm"
                                             onchange="ajax:pesquisaProgramacaoBean.onChangeFiltro()" process="@this" update="programacoesTable btn-incluir">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{pesquisaProgramacaoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="3">
                            <b:selectOneMenu label="Veículo" value="#{pesquisaProgramacaoBean.filtroVeiculo}" fieldSize="sm"
                                             onchange="ajax:pesquisaProgramacaoBean.onChangeFiltro()" process="@this" update="programacoesTable btn-incluir">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{pesquisaProgramacaoBean.veiculos}" var="vl" itemLabel="#{vl.modelo.marca.descricao} - #{vl.modelo.descricao} - #{vl.placa}" itemValue="#{vl}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker label="Mês referência" allowInputToggle="false" useCurrent="false" styleClass="campo-competencia" value="#{pesquisaProgramacaoBean.filtroCompetencia}" format="MM/YYYY" showTodayButton="true" fieldSize="sm" required="true" requiredMessage="Mês referência deve ser informado"
                                              onchange="ajax:pesquisaProgramacaoBean.onChangeFiltro()" process="@this" update="programacoesTable btn-incluir"/>
                        </b:column>
                    </b:row>

                    <b:row styleClass="filtro">
                        <b:column span="4">
                            <b:commandButton value="Mostrar" styleClass="btn-mostrar" action="#{pesquisaProgramacaoBean.pesquisar}" look="primary"
                                             process="@this @(.filtro)"
                                             update="mensagens programacoesTable btn-incluir @(.filtro)" size="sm" />
                            <p:spacer width="10"/>
                            <b:button value="Nova programação" id="btn-incluir"
                                      outcome="/projetos/CadastroProgramacao" look="primary" size="sm" />
                            <p:spacer width="10"/>
                            <b:button value="Imprimir" id="btn-imprimir"
                                      outcome="/relatorios/RelatorioSaidaVeiculos" look="primary" size="sm" />
                        </b:column>
                    </b:row>
                </b:panel>

                <b:dataTable id="programacoesTable" value="#{pesquisaProgramacaoBean.programacoes}" var="programacao" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,100,200]">

                    <b:dataTableColumn label="Data" dataType="date" data-order="#{programacao.data.toString()}">
                        <h:outputText value="#{programacao.data}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn value="#{programacao.colaborador.nome}" label="Colaborador" />
                    <b:dataTableColumn value="#{programacao.tipoAtividadePrevista.descricao}" label="Atividade" />
                    <b:dataTableColumn value="#{programacao.projeto.cliente.nome}" label="Cliente" />
                    <b:dataTableColumn value="#{programacao.projeto.titulo}" label="Projeto" />
                    <b:dataTableColumn value="#{programacao.projeto.enderecoObra.logradouro}, #{programacao.projeto.enderecoObra.cidade} - #{programacao.projeto.enderecoObra.uf}" label="Obra" />
                    <b:dataTableColumn value="#{programacao.veiculo.modelo.marca.descricao} - #{programacao.veiculo.modelo.descricao} - #{programacao.veiculo.placa}" label="Veículo" />
                    <b:dataTableColumn value="#{programacao.motorista.label}" label="Motorista" />
                    <b:dataTableColumn value="#{programacao.veiculoProprio.label}" label="Veículo próprio" />
                    <b:dataTableColumn label="Saída empresa" styleClass="coluna-centro">
                        <h:outputText value="#{programacao.saidaEmpresa}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Início" styleClass="coluna-centro">
                        <h:outputText value="#{programacao.horaInicio}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Término" styleClass="coluna-centro">
                        <h:outputText value="#{programacao.horaTermino}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Retorno empresa" styleClass="coluna-centro">
                        <h:outputText value="#{programacao.retornoEmpresa}">
                            <f:convertDateTime type="time" timeStyle="short" />
                        </h:outputText>
                    </b:dataTableColumn>

                    <b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
                        <b:navLink outcome="/projetos/CadastroProgramacao" tooltip="Editar" iconAwesome="pencil" value="">
                            <f:param name="programacao" value="#{programacao.id}" />
                        </b:navLink>
                        <p:spacer width="10"/>
                        <b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao-programacao').modal('show');return false;" tooltip="Excluir"
                                          process="@this" update="programacoesTable" >
                            <f:setPropertyActionListener target="#{pesquisaProgramacaoBean.programacaoSelecionado}" value="#{programacao}" />
                            <b:iconAwesome name="remove"></b:iconAwesome>
                        </b:navCommandLink>
                    </b:dataTableColumn>
                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>