<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Projetos</ui:define>
    
    <ui:define name="corpo">

		<h:form id="frmpesquisa">
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" styleClass="mensagens"/>
	    	
	    	<!--<b:focus target="nome" />-->
	    	<b:defaultCommand target="pesquisar" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaProjetoBean.pesquisar}" look="primary" update="projetosTable" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:button value="Novo projeto" outcome="/projetos/CadastroProjeto" look="primary" size="sm" />
	    	</b:panel>

			<!--
			<b:panel>
			<b:panelGrid colSpans="2,10">
				<h:outputLabel id="nome" value="Nome:" />
				<b:inputText span="6" value="#{pesquisaProjetoBean.filtro.nome}" fieldSize="sm" />
			</b:panelGrid>
			</b:panel>
			-->
					
			<b:dataTable id="projetosTable" styleClass="projetosTable" value="#{pesquisaProjetoBean.projetosFiltrados}" var="projeto" customLangUrl="#{resource['/json/pt-br.json']}"
				pageLength="50" pageLengthMenu="[50,200,1000]"
				columnVisibility="true" copy="true" excel="true" pdf="true" print="true"> 
				
				<b:dataTableColumn value="#{projeto.id}" label="ID" styleClass="coluna-centro" style="width: 40px;" />
	    		<b:dataTableColumn value="#{projeto.commerce}" label="Cód. Externo" styleClass="coluna-centro" style="width: 40px;" />
		    	<b:dataTableColumn value="#{projeto.cliente.nome}" label="Cliente" />
	    		<b:dataTableColumn value="#{projeto.titulo}" label="Projeto" />
		    	<b:dataTableColumn value="#{projeto.tipo.descricao}" label="Tipo" />
		    	<b:dataTableColumn value="#{projeto.prioridade}" label="Prioridade" style="width: 40px;"/>
		    	
		    	<b:dataTableColumn label="Responsável" style="width: 180px;">
		    		
		    		<!--
					<b:selectOneMenu rendered="false" renderLabel="false" value="#{projeto.responsavel}" fieldSize="sm" style="margin-bottom: -10px; width: 180px;"
						onchange="ajax:pesquisaProjetoBean.gravar(projeto)" process="@this @(.projetosTable)" update="@(.mensagens)">
						<f:selectItems value="#{pesquisaProjetoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
					</b:selectOneMenu>
					-->
					<h:outputText rendered="true" value="#{projeto.responsavel.nome}" />
		    	</b:dataTableColumn>
		    	
		    	<b:dataTableColumn label="Status" style="text-align: center; width: 90px;" >
		    		<b:label rendered="false" text="#{projeto.status.label}" style="margin-top: 8px; background-color: #{projeto.status.cor};"
		    			tinyScreen="full-width" smallScreen="full-width" mediumScreen="full-width" largeScreen="full-width" />
		    			
		    		<b:label rendered="true" text="#{projeto.status.label}" style="margin-top: 2px; background-color: #{projeto.status.cor};"
		    			tinyScreen="full-width" smallScreen="full-width" mediumScreen="full-width" largeScreen="full-width" />
		    	</b:dataTableColumn>
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
		    		<b:navLink outcome="/projetos/CadastroProjeto" tooltip="Editar" iconAwesome="pencil" value="">
		    			<f:param name="projeto" value="#{projeto.id}" />
		    		</b:navLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>