<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Execução</ui:define>

    <ui:define name="corpo">
        <f:metadata>
            <f:viewAction action="#{pesquisaExecucaoBean.inicializar}"></f:viewAction>
        </f:metadata>

        <style>
            .div-tabelas .dataTables_info {
                display: none;
            }
        </style>

        <script>
            function abrirModalSaida() {
                if ((validationFailed) || (bfHasError)) {
                    configurarMascara();
                } else {
                    $('.modal-saida').modal('show');
                    configurarMascara();
                    $('#saida-empresa').focus();
                }
                return false;
            }

            function abrirModalRetorno() {
                if ((validationFailed) || (bfHasError)) {
                    configurarMascara();
                } else {
                    $('.modal-retorno').modal('show');
                    $(".combo-motorista").attr('disabled', 'disabled');
                    configurarMascara();
                    $('#hora-termino').focus();
                }
                return false;
            }

            function tratarExecucaoSaida() {
                if ((validationFailed) || (bfHasError)) {
                    $('#saida-empresa').focus();
                } else {
                    $('.modal-saida').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarExecucaoRetorno() {
                if ((validationFailed) || (bfHasError)) {
                    $('#hora-termino').focus();
                } else {
                    $('.modal-retorno').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function abrirModalPausar() {
                if ((validationFailed) || (bfHasError)) {
                    configurarMascara();
                } else {
                    $('.modal-pausar').modal('show');
                    configurarMascara();
                    $('#hora-pausa').focus();

                }
                return false;
            }

            function abrirModalRetomar() {
                if ((validationFailed) || (bfHasError)) {
                    configurarMascara();
                } else {
                    $('.modal-retomar').modal('show');
                    configurarMascara();
                    $('#hora-retomada').focus();
                }
                return false;
            }

            function tratarExecucaoPausa() {
                if ((validationFailed) || (bfHasError)) {
                    $('#hora-pausa').focus();
                } else {
                    $('.modal-pausar').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function tratarExecucaoRetomada() {
                if ((validationFailed) || (bfHasError)) {
                    $('#hora-retomada').focus();
                } else {
                    $('.modal-retomar').modal('hide');
                }
                configurarMascara();
                return false;
            }

            function clickCheckMotorista() {
                valor = $('.check-motorista').attr('checado');
                if ((valor == undefined) || (valor == 'N')) {
                    $('.check-motorista').attr('checado', 'S');
                    $(".combo-motorista").removeAttr('disabled');
                } else {
                    $('.check-motorista').attr('checado', 'N');
                    $('.combo-motorista').val("");
                    $(".combo-motorista").attr('disabled', 'disabled');
                }
            }

        </script>

        <h:form id="frmpesquisa">

            <!-- Tela modal da Execução - Saída -->
            <b:modal id="modal-saida" styleClass="modal-saida fade" title="Execução - Início" size="modal-lg" backdrop="false">

                <b:fetchBeanInfos id="validacao-saida"/>

                <b:container fluid="true" style-class="dados-saida">
                    <b:messages id="mensagens-saida" />
                    <b:defaultCommand target="btn-ok-saida" />

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Cliente: " />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.projeto.cliente.nome}" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Projeto: " />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.projeto.tituloComCodigoExterno}" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Obra: " />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.projeto.enderecoObra.logradouro}, #{pesquisaExecucaoBean.atividadePrevista.projeto.enderecoObra.cidade} - #{pesquisaExecucaoBean.atividadePrevista.projeto.enderecoObra.uf}" />
                        </b:column>
                    </b:row>

                    <b:row rendered="#{pesquisaExecucaoBean.possuiVeiculo}">
                        <b:column span="2">
                            <h:outputText value="Veículo: " />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="#{pesquisaExecucaoBean.infoVeiculo}" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Execução: " style="font-weight: bold;" />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.colaborador.nome}" style="font-weight: bold;" />
                        </b:column>
                    </b:row>

                    <br/>

                    <b:row>
                        <b:column span="2">
                            <b:inputText label="Saída Emp." fieldId="saida-empresa" alt="time" value="#{pesquisaExecucaoBean.saidaEmpresa}" fieldSize="sm" >
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>

                        <b:column span="2">
                            <b:inputText label="Início" alt="time" value="#{pesquisaExecucaoBean.horaInicio}" fieldSize="sm" >
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>

                        <b:column span="2" rendered="#{pesquisaExecucaoBean.possuiVeiculoMovimento}">
                            <b:inputText label="Km veículo" alt="km" value="#{pesquisaExecucaoBean.kmVeiculo}" fieldSize="sm" />
                        </b:column>
                    </b:row>

                    <div class="div-tabelas">
                        <b:row>
                            <b:column span="12">
                                <b:dataTable value="#{pesquisaExecucaoBean.participantes}" var="participante" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false" >
                                    <b:dataTableColumn value="#{participante.nome}" label="Participantes" />
                                </b:dataTable>
                            </b:column>
                        </b:row>

                        <b:row>
                            <b:column span="12">
                                <b:dataTable value="#{pesquisaExecucaoBean.etapasExecucao}" var="etapa" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false" >
                                    <b:dataTableColumn value="#{etapa.descricao}" label="Etapas" />
                                </b:dataTable>
                            </b:column>
                        </b:row>

                        <b:row style="margin-top: 15px;">
                            <b:column span="5">
                                <b:selectOneMenu id="selectEquipamentosDisponiveis" value="#{pesquisaExecucaoBean.equipamentoSelecionado}" fieldSize="sm">
                                    <f:selectItem itemLabel="Selecione o equipamento" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{pesquisaExecucaoBean.equipamentosDisponiveis}" var="equi" itemValue="#{equi}" itemLabel="#{equi.descricao}" />
                                </b:selectOneMenu>
                            </b:column>
                            <b:column span="2">
                                <b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir equipamento" style-class="btn-plus"
                                                 action="#{pesquisaExecucaoBean.incluirEquipamentoAtividadePrevista}" process="@this selectEquipamentosDisponiveis" update="equipamentosTable selectEquipamentosDisponiveis mensagens-saida"/>
                            </b:column>
                        </b:row>

                        <b:row>
                            <b:column span="12">
                                <b:dataTable id="equipamentosTable" styleClass="equipamentosTable" value="#{pesquisaExecucaoBean.atividadePrevista.equipamentos}" var="epi" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false" >
                                    <b:dataTableColumn value="#{epi.equipamentoProtecao.descricao}" label="Equipamentos" />

                                    <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                                        <b:navCommandLink action="#{pesquisaExecucaoBean.excluirEquipamentoAtividadePrevista}" tooltip="Excluir equipamento" process="@this" update="frmpesquisa:mensagens-saida @(.equipamentosTable)" iconAwesome="remove" value="">
                                            <f:setPropertyActionListener target="#{pesquisaExecucaoBean.equipamentoAtividade}" value="#{epi}" />
                                        </b:navCommandLink>
                                    </b:dataTableColumn>
                                </b:dataTable>
                            </b:column>
                        </b:row>

                        <b:row style="margin-top: 15px;">
                            <b:column span="5">
                                <b:selectOneMenu id="selectDispositivosDisponiveis" value="#{pesquisaExecucaoBean.dispositivoSelecionado}" fieldSize="sm">
                                    <f:selectItem itemLabel="Selecione o dispositivo" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{pesquisaExecucaoBean.dispositivosDisponiveis}" var="disp" itemValue="#{disp}" itemLabel="#{disp.descricao}" />
                                </b:selectOneMenu>
                            </b:column>
                            <b:column span="2">
                                <b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir dispositivo" style-class="btn-plus"
                                                 action="#{pesquisaExecucaoBean.incluirDispositivoAtividadePrevista}" process="@this selectDispositivosDisponiveis" update="dispositivosTable selectDispositivosDisponiveis mensagens-saida"/>
                            </b:column>
                        </b:row>

                        <b:row>
                            <b:column span="12">
                                <b:dataTable id="dispositivosTable" styleClass="dispositivosTable" value="#{pesquisaExecucaoBean.atividadePrevista.dispositivos}" var="epc" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false" >
                                    <b:dataTableColumn value="#{epc.dispositivoSeguranca.descricao}" label="Dispositivos" />

                                    <b:dataTableColumn label="" style-class="coluna-acao-1btn" orderable="false">
                                        <b:navCommandLink action="#{pesquisaExecucaoBean.excluirDispositivoAtividadePrevista}" tooltip="Excluir dispositivo" process="@this" update="frmpesquisa:mensagens-saida @(.dispositivosTable)" iconAwesome="remove" value="">
                                            <f:setPropertyActionListener target="#{pesquisaExecucaoBean.dispositivoAtividade}" value="#{epc}" />
                                        </b:navCommandLink>
                                    </b:dataTableColumn>
                                </b:dataTable>
                            </b:column>
                        </b:row>
                    </div>

                    <b:row style="text-align: right;" rendered="#{pesquisaExecucaoBean.mostrarCheckEPI}">
                        <b:column span="12">
                            <b:selectBooleanCheckbox caption="Estou ciente da utilização destes EPI's e EPC's" value="#{pesquisaExecucaoBean.checkEPI}" required="true" requiredMessage="Execução não registrada. Falta a conformidade na utilização dos EPI's e EPC's" renderLabel="false" />
                        </b:column>
                    </b:row>

                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-saida" action="#{pesquisaExecucaoBean.gerarExecucaoSaida}"
                                     process="@this @(.dados-saida)" update="mensagens-saida validacao-saida atvPrevistasTable @(.dados-saida)" look="primary"
                                     oncomplete="javascript:tratarExecucaoSaida()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal da Execução - Retorno -->
            <b:modal id="modal-retorno" styleClass="modal-retorno fade" title="Execução - Fim" size="modal-lg" backdrop="false">

                <b:fetchBeanInfos id="validacao-retorno"/>

                <b:container fluid="true" style-class="dados-retorno">
                    <b:messages id="mensagens-retorno" />
                    <b:defaultCommand target="btn-ok-retorno" />

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Cliente: " />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.projeto.cliente.nome}" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Projeto: " />
                        </b:column>
                        <b:column span="6">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.projeto.tituloComCodigoExterno}" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Obra: " />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.projeto.enderecoObra.logradouro}, #{pesquisaExecucaoBean.atividadePrevista.projeto.enderecoObra.cidade} - #{pesquisaExecucaoBean.atividadePrevista.projeto.enderecoObra.uf}" />
                        </b:column>
                    </b:row>

                    <b:row rendered="#{pesquisaExecucaoBean.possuiVeiculo}">
                        <b:column span="2">
                            <h:outputText value="Veículo: " />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="#{pesquisaExecucaoBean.infoVeiculo}" />
                        </b:column>
                    </b:row>

                    <b:row>
                        <b:column span="2">
                            <h:outputText value="Execução: " style="font-weight: bold;" />
                        </b:column>
                        <b:column span="8">
                            <h:outputText value="#{pesquisaExecucaoBean.atividadePrevista.colaborador.nome}" style="font-weight: bold;" />
                        </b:column>
                    </b:row>

                    <br/>

                    <b:row>
                        <b:column span="2">
                            <b:inputText label="Término" fieldId="hora-termino" alt="time" value="#{pesquisaExecucaoBean.horaTermino}" fieldSize="sm" >
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="2">
                            <b:inputText label="Retorno Emp." alt="time" value="#{pesquisaExecucaoBean.retornoEmpresa}" fieldSize="sm" >
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                        <b:column span="2" rendered="#{pesquisaExecucaoBean.possuiVeiculoMovimento}">
                            <b:inputText label="Km veículo" alt="km" value="#{pesquisaExecucaoBean.kmVeiculo}" fieldSize="sm" />
                        </b:column>
                    </b:row>

                    <b:row rendered="#{pesquisaExecucaoBean.mostrarCheckTrocarMotorista}">
                        <b:column span="3">
                            <b:selectBooleanCheckbox styleClass="check-motorista" caption="Trocar motorista" value="#{pesquisaExecucaoBean.checkTrocarMotorista}"
                                                     onchange="javascript:clickCheckMotorista()" process="@this" update="@(.combo-motorista)"/>
                        </b:column>
                    </b:row>

                    <b:row rendered="#{pesquisaExecucaoBean.mostrarCheckTrocarMotorista}">
                        <b:column span="5">
                            <b:selectOneMenu styleClass="combo-motorista" renderLabel="false" value="#{pesquisaExecucaoBean.novoMotorista}" fieldSize="sm" >
                                <f:selectItem itemLabel="Selecione o motorista" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{pesquisaExecucaoBean.motoristas}" var="m" itemLabel="#{m.nome}" itemValue="#{m}" />
                            </b:selectOneMenu>
                        </b:column>
                    </b:row>

                    <div class="div-tabelas">
                        <b:row>
                            <b:column span="5">
                                <b:selectOneMenu id="selectEtapasProjeto" value="#{pesquisaExecucaoBean.etapaSelecionada}" fieldSize="sm">
                                    <f:selectItem itemLabel="Selecione a etapa" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{pesquisaExecucaoBean.etapasProjeto}" var="etp" itemValue="#{etp}" itemLabel="#{etp.descricao}" />
                                </b:selectOneMenu>
                            </b:column>
                            <b:column span="2">
                                <b:commandButton icon-awesome="plus" size="sm" tooltip="Incluir etapa" style-class="btn-plus"
                                                 action="#{pesquisaExecucaoBean.incluirEtapaExecucao}" process="@this selectEtapasProjeto" update="etapasTable selectEtapasProjeto mensagens-retorno"/>
                            </b:column>
                        </b:row>

                        <b:row>
                            <b:column span="12">
                                <b:dataTable id="etapasTable" value="#{pesquisaExecucaoBean.etapasExecucao}" var="etapa" customLangUrl="#{resource['/json/pt-br.json']}" searching="false" paginated="false" >
                                    <b:dataTableColumn value="#{etapa.descricao}" label="Etapa" />

                                    <b:dataTableColumn label="Situação" styleClass="coluna-centro" style="width: 140px;">
                                        <b:selectOneMenu renderLabel="false" value="#{etapa.situacao}" fieldSize="sm"
                                                         onchange="ajax:pesquisaExecucaoBean.onChangeSituacaoEtapa(etapa)" process="@this" update="@this frmpesquisa:mensagens-retorno"
                                                         oncomplete="javascript:configurarMascara();">
                                            <f:selectItems value="#{pesquisaExecucaoBean.situacoesEtapa}" var="st" itemLabel="#{st.label}" itemValue="#{st}" />
                                        </b:selectOneMenu>
                                    </b:dataTableColumn>
                                </b:dataTable>
                            </b:column>
                        </b:row>
                    </div>

                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-retorno" action="#{pesquisaExecucaoBean.gerarExecucaoRetorno}"
                                     process="etapasTable @this @(.dados-retorno)" update="mensagens-retorno validacao-retorno atvPrevistasTable @(.dados-retorno)" look="primary"
                                     oncomplete="javascript:tratarExecucaoRetorno()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para PAUSAR a execução -->
            <b:modal id="modal-pausar" styleClass="modal-pausar fade" title="Pausar execução" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-pausar"/>

                <b:container fluid="true" style-class="dados-pausar">
                    <b:messages id="mensagens-pausar" />
                    <b:defaultCommand target="btn-ok-pausar" />

                    <b:row>
                        <b:column span="4">
                            <b:inputText label="Hora pausa" fieldId="hora-pausa" alt="time" value="#{pesquisaExecucaoBean.horaPausa}" fieldSize="sm" required="true" requiredMessage="Hora pausa deve ser informada" >
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                    </b:row>
                    <b:row>
                        <b:column span="12">
                            <b:inputTextarea label="Motivo pausa" maxlength="500" rows="5" value="#{pesquisaExecucaoBean.motivoPausa}" field-size="sm" />
                        </b:column>
                    </b:row>

                    <b:row style="text-align: left;">
                        <b:column span="6">
                            <b:selectBooleanCheckbox caption="Pausa para almoço" value="#{pesquisaExecucaoBean.pausaAlmoco}" renderLabel="false" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-pausar" action="#{pesquisaExecucaoBean.pausarExecucao}"
                                     process="@this @(.dados-pausar)" update="mensagens-pausar validacao-pausar atvPrevistasTable @(.dados-pausar)" look="primary"
                                     oncomplete="javascript:tratarExecucaoPausa()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <!-- Tela modal para RETOMAR a execução -->
            <b:modal id="modal-retomar" styleClass="modal-retomar fade" title="Retomar execução" size="modal-md" backdrop="false">

                <b:fetchBeanInfos id="validacao-retomar"/>

                <b:container fluid="true" style-class="dados-retomar">
                    <b:messages id="mensagens-retomar" />
                    <b:defaultCommand target="btn-ok-retomar" />

                    <b:row>
                        <b:column span="4">
                            <b:inputText label="Hora retomada" fieldId="hora-retomada" alt="time" value="#{pesquisaExecucaoBean.horaRetomada}" fieldSize="sm" required="true" requiredMessage="Hora retomada deve ser informada" >
                                <f:convertDateTime type="time" timeStyle="short" />
                            </b:inputText>
                        </b:column>
                    </b:row>
                    <b:row style="text-align: left;">
                        <b:column span="6">
                            <b:selectBooleanCheckbox caption="Retorno do almoço" value="#{pesquisaExecucaoBean.pausaAlmoco}" renderLabel="false" />
                        </b:column>
                    </b:row>
                </b:container>

                <f:facet name="footer">
                    <b:commandButton value="Ok" id="btn-ok-retomar" action="#{pesquisaExecucaoBean.retomarExecucao}"
                                     process="@this @(.dados-retomar)" update="mensagens-retomar validacao-retomar atvPrevistasTable @(.dados-retomar)" look="primary"
                                     oncomplete="javascript:tratarExecucaoRetomada()"/>
                    <b:button value="Cancelar" dismiss="modal" onclick="return false;" />
                </f:facet>
            </b:modal>

            <b:container fluid="true">
                <b:messages id="mensagens" info-class="message-info-hidden" />
                <p:growl autoUpdate="true" for="message-growl" life="4000" showDetail="true" showSummary="false" />

                <b:defaultCommand target="pesquisar" />

                <br/>

                <b:panel>
                    <b:row styleClass="filtro">
                        <b:column span="3">
                            <b:selectOneMenu label="Colaborador" value="#{pesquisaExecucaoBean.filtroColaborador}" fieldSize="sm" required="true" requiredMessage="Colaborador deve ser informado"
                                             onchange="ajax:pesquisaExecucaoBean.onChangeFiltro()" process="@this" update="atvPrevistasTable">
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{pesquisaExecucaoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column span="2">
                            <b:dateTimePicker label="Data referência" allowInputToggle="false" useCurrent="false" styleClass="campo-data" value="#{pesquisaExecucaoBean.filtroCompetencia}" format="DD/MM/YYYY" showTodayButton="true" fieldSize="sm"
                                              required="true" requiredMessage="Data referência deve ser informada"
                                              onchange="ajax:colaboradorPontoBean.onChangeFiltro()" process="@this" update="atvPrevistasTable"/>
                        </b:column>
                    </b:row>

                    <b:row styleClass="filtro">
                        <b:column span="4">
                            <b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaExecucaoBean.pesquisar}" look="primary"
                                             process="@this @(.filtro)" update="mensagens atvPrevistasTable @(.filtro)" size="sm" />
                        </b:column>
                    </b:row>
                </b:panel>

                <b:dataTable id="atvPrevistasTable" styleClass="atvPrevistasTable" value="#{pesquisaExecucaoBean.atvPrevistaFiltrados}" var="atvPrevista" customLangUrl="#{resource['/json/pt-br.json']}"
                             pageLength="50" pageLengthMenu="[50,200,1000]">

                    <b:dataTableColumn label="Tipo Atividade" value="#{atvPrevista.tipo.descricao}" />
                    <b:dataTableColumn label="Colaborador" value="#{atvPrevista.colaborador.nome}" />
                    <b:dataTableColumn label="Cliente" value="#{atvPrevista.projeto.cliente.nome}" />
                    <b:dataTableColumn label="Projeto" value="#{atvPrevista.projeto.titulo}" />
                    <b:dataTableColumn label="Obra" value="#{atvPrevista.projeto.enderecoObra.logradouro}" />
                    <b:dataTableColumn label="Data" dataType="date" data-order="#{atvPrevista.data.toString()}" style="width: 150px;">
                        <h:outputText value="#{atvPrevista.data}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </b:dataTableColumn>
                    <b:dataTableColumn label="Pausa" value="#{atvPrevista.pausa.label}" />

                    <b:dataTableColumn label="" style-class="coluna-acao-4btn" orderable="false">
                        <b:navCommandLink action="#{pesquisaExecucaoBean.inicializarExecucaoSaida}" oncomplete="javascript:abrirModalSaida()" tooltip="Início" iconAwesome="arrow-up" value=""
                                          process="@this" update="frmpesquisa:validacao-saida frmpesquisa:mensagens @(.dados-saida)">
                            <f:setPropertyActionListener target="#{pesquisaExecucaoBean.atividadePrevista}" value="#{atvPrevista}" />
                        </b:navCommandLink>
                        <p:spacer width="10"/>

                        <b:navCommandLink action="#{pesquisaExecucaoBean.inicializarPausa}" oncomplete="javascript:abrirModalPausar()" tooltip="Pausar execução" iconAwesome="pause" value=""
                                          process="@this" update="frmpesquisa:validacao-pausar frmpesquisa:mensagens @(.dados-pausar)">
                            <f:setPropertyActionListener target="#{pesquisaExecucaoBean.atividadePrevista}" value="#{atvPrevista}" />
                        </b:navCommandLink>
                        <p:spacer width="10"/>

                        <b:navCommandLink action="#{pesquisaExecucaoBean.inicializarRetomada}" oncomplete="javascript:abrirModalRetomar()" tooltip="Retomar execução" iconAwesome="play" value=""
                                          process="@this" update="frmpesquisa:validacao-retomar frmpesquisa:mensagens @(.dados-retomar)">
                            <f:setPropertyActionListener target="#{pesquisaExecucaoBean.atividadePrevista}" value="#{atvPrevista}" />
                        </b:navCommandLink>
                        <p:spacer width="10"/>

                        <b:navCommandLink action="#{pesquisaExecucaoBean.inicializarExecucaoRetorno}" oncomplete="javascript:abrirModalRetorno()" tooltip="Fim" iconAwesome="arrow-down" value=""
                                          process="@this" update="frmpesquisa:validacao-retorno frmpesquisa:mensagens @(.dados-retorno)">
                            <f:setPropertyActionListener target="#{pesquisaExecucaoBean.atividadePrevista}" value="#{atvPrevista}" />
                        </b:navCommandLink>
                    </b:dataTableColumn>

                </b:dataTable>

            </b:container>
        </h:form>
    </ui:define>
</ui:composition>