<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Gráfico Projetos</ui:define>
    
    <ui:define name="corpo">

		<h:form id="frmGrafico">
			<p:focus context="frmGrafico"/>
			
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />

	    	<br/>
	    	<b:panel style="height:60px;">
    			<b:dateTimePicker span="2" renderLabel="false" id="inicio" styleClass="campo-competencia" value="#{graficoProjetosBean.dataInicio}" format="MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data inicial deve ser informada" />
    			<b:dateTimePicker span="2" renderLabel="false" id="termino" styleClass="campo-competencia" value="#{graficoProjetosBean.dataTermino}" format="MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data final deve ser informada" />

	    		<b:commandButton value="Mostrar" action="#{graficoProjetosBean.consultar}" look="primary" size="sm" 
	    			process="@this inicio termino" update="lineModelProjetos mensagens" />	    			
	    	</b:panel>
	    	
			<p:chart rendered="true" type="line" id="lineModelProjetos" model="#{graficoProjetosBean.lineModelProjetos}" style="height:400px;"/>

			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
