<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Pesquisa de empresas</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{pesquisaEmpresaBean.pesquisar}" type="preRenderView" />

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão da empresa -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					 	action="#{pesquisaEmpresaBean.excluir}" process="@this" update="empresasTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<!--<b:focus target="nome" />-->
	    	<!--<b:defaultCommand target="pesquisar" />-->
	    	
	    	<br/>
	    	<b:panel>
	    		<b:button value="Nova empresa" outcome="/empresas/CadastroEmpresa" look="primary" size="sm" />
	    	</b:panel>

			<b:dataTable id="empresasTable" value="#{pesquisaEmpresaBean.empresasFiltradas}" var="empresa" customLangUrl="#{resource['/json/pt-br.json']}">
	    		<b:dataTableColumn value="#{empresa.razaoSocial}" label="Razão Social" />
		    	<b:dataTableColumn value="#{empresa.nomeFantasia}" label="Nome Fantasia" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/empresas/CadastroEmpresa" tooltip="Editar" iconAwesome="pencil" value="" >
		    			<f:param name="empresa" value="#{empresa.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="empresasTable" value="">
		    			<f:setPropertyActionListener target="#{pesquisaEmpresaBean.empresaSelecionada}" value="#{empresa}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
