<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Cadastro de clientes</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
        	<o:viewParam name="cliente" value="#{cadastroClienteBean.cliente}" converter="clienteConverter"/>
			<f:viewAction action="#{cadastroClienteBean.inicializar}"></f:viewAction>
		</f:metadata>
		
   	    <h:form id="frmCadastro">
   	    
			<!-- Tela modal para confirmar a exclusão do endereço -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
						action="#{cadastroClienteBean.excluirEndereco}"
						process="@this" update="enderecosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    	    
   	    
   	    	<!-- Tela modal para inclusão/alteração dos endereços do cliente -->
			<b:modal id="modal-endereco" styleClass="modal-endereco fade" title="Endereço" size="modal-lg" backdrop="false">
				
				<b:fetchBeanInfos id="validacao"/>
				
				<b:container fluid="true" style-class="dados-endereco">
					<b:messages id="mensagens-endereco" />
					<b:row>
						<b:column span="3">
							<b:selectOneMenu label="Finalidade" value="#{cadastroClienteBean.endereco.tipoEndereco}" fieldSize="sm" required="true" requiredMessage="Finalidade deve ser informada">							
								<f:selectItems value="#{cadastroClienteBean.tiposEndereco}" var="e" itemLabel="#{e.label}" itemValue="#{e}" />
							</b:selectOneMenu>
						</b:column>						
					</b:row>
									
					<b:row>
						<b:column span="6">
							<b:inputText label="Logradouro" field-id="logradouro" maxlength="100" value="#{cadastroClienteBean.endereco.logradouro}" fieldSize="sm" required="true" requiredMessage="Logradouro deve ser informado" />
						</b:column>	
						<b:column span="2" offset="2">
							<b:inputText label="Número" maxlength="6" alt="end-numero" value="#{cadastroClienteBean.endereco.numero}" fieldSize="sm" />
						</b:column>	
					</b:row>				
				
					<b:row>
						<b:column span="6">
							<b:inputText label="Complemento" maxlength="100" value="#{cadastroClienteBean.endereco.complemento}" fieldSize="sm" />
						</b:column>	
						<b:column span="2" offset="2">
							<b:inputText label="CEP" alt="cep" value="#{cadastroClienteBean.endereco.cep}" fieldSize="sm" />
						</b:column>							
					</b:row>

					<b:row>
						<b:column span="4">
							<b:inputText label="Bairro" maxlength="40" value="#{cadastroClienteBean.endereco.bairro}" fieldSize="sm" />
						</b:column>
						<b:column span="4">
							<b:inputText label="Cidade" maxlength="40" value="#{cadastroClienteBean.endereco.cidade}" fieldSize="sm" required="true" requiredMessage="Cidade deve ser informada" />
						</b:column>
						<b:column span="3">
							<b:selectOneMenu label="UF" value="#{cadastroClienteBean.endereco.uf}" fieldSize="sm" required="true" requiredMessage="UF deve ser informado">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroClienteBean.estados}" var="e" itemLabel="#{e.label}" itemValue="#{e}" />
							</b:selectOneMenu>
						</b:column>						
					</b:row>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" id="btn-gravar"  action="#{cadastroClienteBean.incluirEndereco}"
						process="@this @(.dados-endereco)" update="enderecosTable mensagens-endereco validacao @(.dados-endereco)" look="primary" 
						oncomplete="javascript:if(!validationFailed){$('.modal-endereco').modal('hide');return false;}configurarMascara();"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    	    
   	    
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro de clientes</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:focus target="nome" />
	    	<b:defaultCommand target="gravar" />	    	
	    		    	
	    	<b:panel>
	    		<b:button value="Novo cliente" outcome="/clientes/CadastroCliente" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroClienteBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" update="enderecosTable mensagens @(.dados)" oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/clientes/PesquisaClientes" look="primary" style="float: right" size="sm" />
	    	</b:panel>

			<b:panel>

			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Nome" id="nome" maxlength="100" value="#{cadastroClienteBean.cliente.nome}" fieldSize="sm" required="true" requiredMessage="Nome deve ser informado"/>
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Apelido" id="apelido" maxlength="100" value="#{cadastroClienteBean.cliente.apelido}" fieldSize="sm" />
				</b:column>	
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:selectOneMenu label="Pessoa" id="pessoa" value="#{cadastroClienteBean.cliente.tipo}" fieldSize="sm" required="true" requiredMessage="Pessoa deve ser informada"
						onchange="ajax:cadastroClienteBean.onChangeTipo()" process="@this" update="cpf rg cnpj insc-estadual">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroClienteBean.tiposPessoa}" var="t" itemLabel="#{t.label}" itemValue="#{t}" />
					</b:selectOneMenu>
				</b:column>				
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="CPF" id="cpf" alt="cpf" value="#{cadastroClienteBean.cliente.cpf}" fieldSize="sm" disabled="#{cadastroClienteBean.pessoaJuridica}"/>
				</b:column>
				<b:column span="2">
					<b:inputText label="RG" id="rg" maxlength="15" value="#{cadastroClienteBean.cliente.rg}" fieldSize="sm" disabled="#{cadastroClienteBean.pessoaJuridica}"/>
				</b:column>	
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="CNPJ" id="cnpj" alt="cnpj" value="#{cadastroClienteBean.cliente.cnpj}" fieldSize="sm" disabled="#{!cadastroClienteBean.pessoaJuridica}"/>
				</b:column>
				<b:column span="2">
					<b:inputText label="Inscrição Estadual" id="insc-estadual" maxlength="14" value="#{cadastroClienteBean.cliente.inscricaoEstadual}" fieldSize="sm" disabled="#{!cadastroClienteBean.pessoaJuridica}"/>
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText styleClass="fone1" label="Fone 1" maxlength="20" value="#{cadastroClienteBean.cliente.fone1}" fieldSize="sm" />
				</b:column>
				<b:column span="3">
					<b:inputText label="E-mail contato 1" id="email1" maxlength="255" value="#{cadastroClienteBean.cliente.email1}" fieldSize="sm" />
				</b:column>
				<b:column span="3">
					<b:inputText label="Nome contato 1" maxlength="255" value="#{cadastroClienteBean.cliente.nomeContato1}" fieldSize="sm" />
				</b:column>
			</b:row>		
			
			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText styleClass="fone2" label="Fone 2" maxlength="20" value="#{cadastroClienteBean.cliente.fone2}" fieldSize="sm" />
				</b:column>
				<b:column span="3">
					<b:inputText label="E-mail contato 2" id="email2" maxlength="255" value="#{cadastroClienteBean.cliente.email2}" fieldSize="sm" />
				</b:column>
				<b:column span="3">
					<b:inputText label="Nome contato 2" maxlength="255" value="#{cadastroClienteBean.cliente.nomeContato2}" fieldSize="sm" />
				</b:column>				
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Site / URL" id="site" maxlength="255" value="#{cadastroClienteBean.cliente.site}" fieldSize="sm" >
        	    		<f:facet name="prepend">
    	    	        	<h:outputText value="http://" />
	           		 	</f:facet>					
					</b:inputText>
				</b:column>				
			</b:row>
			
			</b:panel>
			
			<b:commandButton value="Novo endereço" look="primary" size="sm" style="margin-bottom: 8px;"
				oncomplete="javascript:$('.modal-endereco').modal('show');configurarMascara();$('#logradouro').focus();return false;" 
				action="#{cadastroClienteBean.limparEndereco}" process="@this" update="@(.dados-endereco)">
			</b:commandButton>
			
			<b:dataTable id="enderecosTable" value="#{cadastroClienteBean.cliente.enderecos}" var="endereco" customLangUrl="#{resource['/json/pt-br.json']}"
				responsive="true">
	    		<b:dataTableColumn value="#{endereco.tipoEndereco}" label="Uso" />
	    		<b:dataTableColumn value="#{endereco.logradouro}" />
	    		<b:dataTableColumn value="#{endereco.numero}" />
	    		<b:dataTableColumn value="#{endereco.bairro}" />
	    		<b:dataTableColumn value="#{endereco.cidade}" />
	    		<b:dataTableColumn value="#{endereco.uf}" label="UF" />
	    		<b:dataTableColumn value="#{endereco.cep}" label="CEP" />
	    		
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
		    		<!-- TODO - Ajustar a edição quando anteriormente clicou em "Novo endereço" e tentou gravar com os campos em branco -->		    		
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-endereco').modal('show');configurarMascara();$('#logradouro').focus();return false;" tooltip="Editar" process="@this" update="@(.dados-endereco)" >
		    			<f:setPropertyActionListener target="#{cadastroClienteBean.endereco}" value="#{endereco}" />
		    			<b:iconAwesome name="pencil"></b:iconAwesome>
		    		</b:navCommandLink>			    		
					<p:spacer width="10"/>
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="enderecosTable" >
		    			<f:setPropertyActionListener target="#{cadastroClienteBean.endereco}" value="#{endereco}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>										
		    	</b:dataTableColumn>	    		
			</b:dataTable>
			
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>