<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Pesquisa de clientes</ui:define>
    
    <ui:define name="corpo">

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do cliente -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					    action="#{pesquisaClienteBean.excluir}"	process="@this" update="clientesTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<!--<b:focus target="nome" />-->
	    	<b:defaultCommand target="pesquisar" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaClienteBean.pesquisar}" look="primary" update="clientesTable" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:button value="Novo cliente" outcome="/clientes/CadastroCliente" look="primary" size="sm" />
	    	</b:panel>

			<!--
			<b:panel>
			<b:panelGrid colSpans="2,10">
				<h:outputLabel id="nome" value="Nome:" />
				<b:inputText span="6" value="#{pesquisaClienteBean.filtro.nome}" fieldSize="sm" />
			</b:panelGrid>
			</b:panel>
			-->
			
			<b:dataTable id="clientesTable" value="#{pesquisaClienteBean.clientesFiltrados}" var="cliente" customLangUrl="#{resource['/json/pt-br.json']}"> 
				
				<b:dataTableColumn value="#{cliente.id}" label="ID" styleClass="coluna-centro" />
	    		<b:dataTableColumn value="#{cliente.nome}" label="Nome" />
		    	<b:dataTableColumn value="#{cliente.tipo}" label="Pessoa" />
		    	<b:dataTableColumn value="#{cliente.cpf}" label="CPF" />
		    	<b:dataTableColumn value="#{cliente.cnpj}" label="CNPJ" />
		    	<b:dataTableColumn value="#{cliente.fone1}" label="Fone" />
		    	<b:dataTableColumn value="#{cliente.email1}" label="E-mail" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/clientes/CadastroCliente" tooltip="Editar" iconAwesome="pencil" value="">
		    			<f:param name="cliente" value="#{cliente.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink value="" iconAwesome="remove" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="clientesTable" >
		    			<f:setPropertyActionListener target="#{pesquisaClienteBean.clienteSelecionado}" value="#{cliente}" />
		    		</b:navCommandLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
