@charset "utf-8";

.sem-bordas td, .sem-bordas tr {
	border: none !important;
	padding: 5px !important;
}

.ui-state-error {
	border: none !important;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;	
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}

#conteudo {
	padding: 0px 8px;
	margin-top: 5px; 
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-state-disabled {
	opacity: .80 !important;
}

.span-user {
	color: #ffffff !important;
}

.fa-trash, .fa-pencil, .fa-remove {
	cursor: pointer;
}

.ui-growl {
	margin-top: 40px;
}

.message-info-hidden, .message-error-hidden {
	display: none;
}

.alinhado {
	display: inline;
}

.btn-add-grupo-usuario, .btn-add-participante-projeto, .btn-add-atividade-projeto, .btn-plus {
	margin-left: -22px;
} 

.coluna-acao-1btn {
	text-align: center; 
	width: 30px;	
}

.coluna-acao-2btn {
	text-align: center; 
	width: 50px;	
}

.coluna-acao-3btn {
	text-align: center; 
	width: 70px;	
}

.coluna-acao-4btn {
	text-align: center; 
	width: 100px;	
}

.coluna-centro {
	text-align: center;
}

.input-disabled {
    background: #EEE; 
    cursor: not-allowed; 
    color: #777;
}

.content-tab {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding:10px;	
	
}

<!-- Verificar se é necessário após atualizar a versão do Bootsfaces -->
.nav-tabs > li.active.disabled > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: not-allowed;
}

.ui-growl.ui-widget {
	width: 325px;
}

.ui-growl-title {
	display: none !important;
}

.ui-growl-message {
	width: 250px !important;
	font-size: 14px;
	margin-top: 6px;
}

.div-login {
	background-color: white;
	width: 320px;	
	height: 322px;
    text-align: center;
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 8px;
}

