<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Veículos</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
        	<o:viewParam name="veiculo" value="#{cadastroVeiculoBean.veiculo}" converter="veiculoConverter" />
			<f:viewAction action="#{cadastroVeiculoBean.inicializar}"></f:viewAction>
		</f:metadata>
		
		<script>
			function tratarInclusaoMovimentacao() {
				if ((validationFailed) || (bfHasError)) {
					$('.id-Projeto').focus();
				} else {
					$('.modal-movimento').modal('hide');
				}
				configurarMascara();
				return false;
			}
			
			function tratarInclusaoManutencao() {
				if ((validationFailed) || (bfHasError)) {
					$('.servico-executado').focus();
				} else {
					$('.modal-manutencao').modal('hide');
				}
				configurarMascara();
				return false;
			}
			
			function tratarInclusaoMulta() {
				if ((validationFailed) || (bfHasError)) {
					$('#notificacao').focus();
				} else {
					$('.modal-multa').modal('hide');
				}
				configurarMascara();
				return false;
			}			
		</script>		
		
   	    <h:form id="frmCadastro">
			   	    
			<!-- Tela modal para confirmar a exclusão do movimento -->
			<b:modal id="modal-confirmacao-movimento" styleClass="modal-confirmacao-movimento fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Confirma a exclusão desta movimentação?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-movimento').modal('hide');return false;" 
						action="#{cadastroVeiculoBean.excluirMovimento}"
						process="@this" update="**:movimentacoesTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
			<!-- Tela modal para confirmar a exclusão da manutenção -->
			<b:modal id="modal-confirmacao-manutencao" styleClass="modal-confirmacao-manutencao fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Confirma a exclusão desta manutenção?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-manutencao').modal('hide');return false;" 
						action="#{cadastroVeiculoBean.excluirManutencao}"
						process="@this" update="**:manutencoesTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
			<!-- Tela modal para confirmar a exclusão da multa -->
			<b:modal id="modal-confirmacao-multa" styleClass="modal-confirmacao-multa fade" title="Confirmação" size="modal-md" backdrop="false">
				<p>Confirma a exclusão desta multa?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao-multa').modal('hide');return false;" 
						action="#{cadastroVeiculoBean.excluirMulta}"
						process="@this" update="**:multasTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>	
			
   	    	<!-- Tela modal para inclusão/alteração das movimentações do veículo -->
			<b:modal id="modal-movimento" styleClass="modal-movimento fade" title="Cadastro de Movimentações do Veículo" size="modal-lg" backdrop="false">
				
				<b:fetchBeanInfos id="validacao-movimento"/>
				
				<b:container fluid="true" style-class="dados-movimento">
					<b:messages id="mensagens-movimento" />
					
					<b:row>
						<!--
						<b:column span="6">						
							<b:selectOneMenu label="Projeto" value="#{cadastroVeiculoBean.movimento.projeto}" fieldSize="sm"
								onchange="ajax:cadastroVeiculoBean.onChangeProjeto()" process="@this" update="destino @this"
								oncomplete="javascript:configurarMascara();$('#destino').focus();return false;">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.projetos}" var="pr" itemLabel="#{pr.titulo}" itemValue="#{pr}" />
							</b:selectOneMenu>
						</b:column>
						-->
							
						<b:column span="2">
							<b:inputText label="Projeto" styleClass="id-Projeto" value="#{cadastroVeiculoBean.idProjeto}" fieldSize="sm" alt="campo-id"
							 	onchange="ajax:cadastroVeiculoBean.onChangeProjeto()" process="@this" update="lb-projeto destino @this"
								oncomplete="javascript:configurarMascara();$('#destino').focus();return false;">
							</b:inputText>
						</b:column>
						<b:column span="4">
							<b:inputText label="Título" id="lb-projeto" value="#{cadastroVeiculoBean.movimento.projeto.titulo}" fieldSize="sm" disabled="true" style="margin-left: -18px;" labelStyle="margin-left: -18px;" />
						</b:column>						
					</b:row>
					
					<b:row>
						<b:column span="6">
							<b:inputText label="Destino" id="destino" fieldId="destino" maxlength="140" value="#{cadastroVeiculoBean.movimento.destino}" fieldSize="sm" required="true" requiredMessage="Destino deve ser informado" />
						</b:column>							
					</b:row>
					
					<b:row>
						<b:column span="3">
							<b:dateTimePicker label="Data Saída" styleClass="campo-data" value="#{cadastroVeiculoBean.movimento.dataMovimento}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
						</b:column>
						<b:column span="2">
							<b:inputText label="Hora Saída" alt="time" value="#{cadastroVeiculoBean.movimento.horaSaida}" fieldSize="sm" required="true" requiredMessage="Hora Saída deve ser informada">
								<f:convertDateTime type="time" timeStyle="short" />
							</b:inputText>
						</b:column>						
						<b:column span="3">
							<b:selectOneMenu label="Período" value="#{cadastroVeiculoBean.movimento.periodo}" fieldSize="sm" required="true" requiredMessage="Período deve ser informado" >
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.periodos}" var="p" itemLabel="#{p.label}" itemValue="#{p}" />
							</b:selectOneMenu>
						</b:column>													
					</b:row>
					
					<b:row>
						<b:column span="3">
							<b:dateTimePicker label="Data Retorno" styleClass="campo-data" value="#{cadastroVeiculoBean.movimento.dataRetorno}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
						</b:column>
						<b:column span="2">
							<b:inputText label="Hora Retorno" alt="time" value="#{cadastroVeiculoBean.movimento.horaRetorno}" fieldSize="sm">
								<f:convertDateTime type="time" timeStyle="short" />
							</b:inputText>							
						</b:column>													
					</b:row>
					
					<b:row>	
						<b:column span="2">
							<b:inputText label="Quilom. Inicial" alt="km" value="#{cadastroVeiculoBean.movimento.kmInicial}" fieldSize="sm" />								
						</b:column>
						<b:column span="2">
							<b:inputText label="Quilom. Final" alt="km" value="#{cadastroVeiculoBean.movimento.kmFinal}" fieldSize="sm" />								
						</b:column>						
					</b:row>	
					
					<b:row>
						<b:column span="6">
							<b:selectOneMenu label="Responsável" value="#{cadastroVeiculoBean.movimento.colaborador}" fieldSize="sm" required="true" requiredMessage="Responsável deve ser informado">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
							</b:selectOneMenu>							
						</b:column>
					</b:row>					
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{cadastroVeiculoBean.incluirMovimento}"
						process="@this @(.dados-movimento)" update="**:movimentacoesTable mensagens-movimento validacao-movimento @(.dados-movimento)" look="primary"
						oncomplete="javascript:tratarInclusaoMovimentacao()"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
   	    	<!-- Tela modal para inclusão/alteração das manutenções do veículo -->
			<b:modal id="modal-manutencao" styleClass="modal-manutencao fade" title="Cadastro de Manutenções do Veículo" size="modal-lg" backdrop="false">
				
				<b:fetchBeanInfos id="validacao-manutencao"/>
				
				<b:container fluid="true" style-class="dados-manutencao">
					<b:messages id="mensagens-manutencao" />
					
					<b:row>
						<b:column span="10">
							<b:inputTextarea label="Serviço executado" styleClass="servico-executado" maxlength="500" rows="3" value="#{cadastroVeiculoBean.manutencao.servicoExecutado}" field-size="sm" required="true" requiredMessage="Serviço executado deve ser informado" />
						</b:column>			
					</b:row>

					<b:row>
						<b:column span="3">
							<b:dateTimePicker label="Data" styleClass="campo-data" value="#{cadastroVeiculoBean.manutencao.data}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data deve ser informada" />
						</b:column>
						<b:column span="2">
							<b:inputText label="Quilometragem" alt="km" value="#{cadastroVeiculoBean.manutencao.quilometragem}" fieldSize="sm" />								
						</b:column>
						<b:column span="3">
		    				<b:inputText label="Valor" maxlength="9" styleClass="moeda" value="#{cadastroVeiculoBean.manutencao.valor}" field-size="sm">
		    		    		<f:facet name="prepend">
		            	   			<h:outputText value="R$" />
					            </f:facet>
		    					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
	    					</b:inputText>				
						</b:column>							
						<b:column span="3">
							<b:selectOneMenu label="Situação" value="#{cadastroVeiculoBean.manutencao.situacao}" fieldSize="sm" required="true" requiredMessage="Situação deve ser informada" >
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.situacoesManutencao}" var="s" itemLabel="#{s.label}" itemValue="#{s}" />
							</b:selectOneMenu>
						</b:column>							
					</b:row>
					
					<b:row>
						<b:column span="4">
							<b:selectOneMenu label="Responsável" value="#{cadastroVeiculoBean.manutencao.responsavel}" fieldSize="sm" required="true" requiredMessage="Responsável deve ser informado">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
							</b:selectOneMenu>							
						</b:column>
						<b:column span="4">
							<b:selectOneMenu label="Fornecedor" value="#{cadastroVeiculoBean.manutencao.fornecedor}" fieldSize="sm" required="true" requiredMessage="Fornecedor deve ser informado">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.fornecedores}" var="fr" itemLabel="#{fr.nome}" itemValue="#{fr}" />
							</b:selectOneMenu>							
						</b:column>	
					</b:row>
					
					<b:row>
						<b:column span="3">
							<b:dateTimePicker label="Próxima manutenção" styleClass="campo-data" value="#{cadastroVeiculoBean.manutencao.proximaManutencao}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" />
						</b:column>
					</b:row>					
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{cadastroVeiculoBean.incluirManutencao}"
						process="@this @(.dados-manutencao)" update="**:manutencoesTable mensagens-manutencao validacao-manutencao @(.dados-manutencao)" look="primary"
						oncomplete="javascript:tratarInclusaoManutencao()"/>
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
			
   	    	<!-- Tela modal para inclusão/alteração das multas do veículo -->
			<b:modal id="modal-multa" styleClass="modal-multa fade" title="Cadastro de Multas do Veículo" size="modal-lg" backdrop="false">
				
				<b:fetchBeanInfos id="validacao-multa"/>
				
				<b:container fluid="true" style-class="dados-multa">
					<b:messages id="mensagens-multa" />
					
					<b:row>
						<b:column span="8">
							<b:inputText label="Notificação" fieldId="notificacao" maxlength="250" value="#{cadastroVeiculoBean.multa.notificacao}" fieldSize="sm" required="true" requiredMessage="Notificação deve ser informada"/>
						</b:column>			
					</b:row>
					
					<b:row>
						<b:column span="4">
							<b:inputText label="N° Autuação" maxlength="250" value="#{cadastroVeiculoBean.multa.numeroAutuacao}" fieldSize="sm" />
						</b:column>
						<b:column span="4">
							<b:inputText label="N° Ident. Condutor" maxlength="250" value="#{cadastroVeiculoBean.multa.identificadorCondutor}" fieldSize="sm" />
						</b:column>
					</b:row>
					
					<b:row>
						<b:column span="4">
							<b:selectOneMenu label="Infrator" value="#{cadastroVeiculoBean.multa.colaborador}" fieldSize="sm" required="true" requiredMessage="Colaborador deve ser informado">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.colaboradores}" var="cl" itemLabel="#{cl.nome}" itemValue="#{cl}" />
							</b:selectOneMenu>							
						</b:column>
						<b:column span="2">
							<b:selectOneMenu label="Identificou" value="#{cadastroVeiculoBean.multa.identificou}" fieldSize="sm" required="true" requiredMessage="Identificou deve ser informado">
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.opcoesSimNao}" var="sn" itemLabel="#{sn.label}" itemValue="#{sn}" />
							</b:selectOneMenu>							
						</b:column>	
					</b:row>					
					
					<b:row>
						<b:column span="3">
							<b:selectOneMenu label="Situação" value="#{cadastroVeiculoBean.multa.situacao}" fieldSize="sm" required="true" requiredMessage="Situação deve ser informada" >
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.situacoesMulta}" var="s" itemLabel="#{s.label}" itemValue="#{s}" />
							</b:selectOneMenu>
						</b:column>
						<b:column span="3">
							<b:selectOneMenu label="Gravidade" value="#{cadastroVeiculoBean.multa.gravidade}" fieldSize="sm" required="true" requiredMessage="Gravidade deve ser informada" >
								<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
								<f:selectItems value="#{cadastroVeiculoBean.gravidadesMulta}" var="g" itemLabel="#{g.label}" itemValue="#{g}" />
							</b:selectOneMenu>
						</b:column>
					</b:row>					
					
					<b:row>
						<b:column span="3">
							<b:dateTimePicker label="Data notificação" styleClass="campo-data" value="#{cadastroVeiculoBean.multa.dataNotificacao}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Data notificação deve ser informada" />
						</b:column>
						<b:column span="3">
							<b:dateTimePicker label="Prazo" styleClass="campo-data" value="#{cadastroVeiculoBean.multa.dataPrazo}" format="DD/MM/YYYY" show-today-button="true" fieldSize="sm" required="true" requiredMessage="Prazo deve ser informado" />
						</b:column>
						<b:column span="3">
		    				<b:inputText label="Valor" maxlength="9" styleClass="moeda" value="#{cadastroVeiculoBean.multa.valor}" field-size="sm">
		    		    		<f:facet name="prepend">
		            	   			<h:outputText value="R$" />
					            </f:facet>
		    					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
	    					</b:inputText>				
						</b:column>			
					</b:row>
					
					<b:row>
						<b:column span="8">
							<b:inputTextarea label="Observação" maxlength="500" rows="5" value="#{cadastroVeiculoBean.multa.observacao}" field-size="sm" />
						</b:column>		
					</b:row>						
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" action="#{cadastroVeiculoBean.incluirMulta}"
						process="@this @(.dados-multa)" update="**:multasTable mensagens-multa validacao-multa @(.dados-multa)" look="primary"
						oncomplete="javascript:tratarInclusaoMulta()"/>
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>
   	    
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro de veículos</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:focus target="cod_interno" />
	    	<b:defaultCommand target="gravar" />	    	
	    		    	
	    	<b:panel>
	    		<b:button value="Novo veiculo" outcome="/veiculos/CadastroVeiculo" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroVeiculoBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" 
	    			update="@form"
	    			oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/veiculos/PesquisaVeiculos" look="primary" style="float: right" size="sm" />
	    	</b:panel>

			<b:panel>

			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="Código Interno" id="cod_interno" maxlength="10" value="#{cadastroVeiculoBean.veiculo.codigoInterno}" fieldSize="sm"  />
				</b:column>			
			</b:row>

			<b:row styleClass="dados">
				<b:column span="2">
					<b:inputText label="Placa" alt="placa" value="#{cadastroVeiculoBean.veiculo.placa}" fieldSize="sm" required="true" requiredMessage="Placa deve ser informada" />
				</b:column>
				<b:column span="2">
					<b:inputText label="Renavan" maxlength="25" value="#{cadastroVeiculoBean.veiculo.renavan}" fieldSize="sm" />
				</b:column>				
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="3">
					<b:selectOneMenu label="Marca" value="#{cadastroVeiculoBean.marcaPai}" fieldSize="sm" required="true" requiredMessage="Marca deve ser informada"
						onchange="ajax:cadastroVeiculoBean.onChangeMarca()" process="@this" update="modelo">
						<f:selectItem itemLabel="Selecione a marca" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroVeiculoBean.marcas}" var="mr" itemLabel="#{mr.descricao}" itemValue="#{mr}" />
					</b:selectOneMenu>
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="3">
					<b:selectOneMenu label="Modelo" id="modelo" value="#{cadastroVeiculoBean.veiculo.modelo}" fieldSize="sm" required="true" requiredMessage="Modelo deve ser informado" >
						<f:selectItem itemLabel="Selecione o modelo" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroVeiculoBean.modelos}" var="md" itemLabel="#{md.descricao}" itemValue="#{md}" />
					</b:selectOneMenu>
				</b:column>
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="1">
					<b:inputText label="Ano" alt="data-ano" value="#{cadastroVeiculoBean.veiculo.ano}" fieldSize="sm" required="true" requiredMessage="Ano deve ser informado" />
				</b:column>
				<b:column span="2">
					<b:selectOneMenu label="Situação Detran" value="#{cadastroVeiculoBean.veiculo.situacaoDetran}" field-size="sm" required="true" requiredMessage="Situação Detran deve ser informada">
						<f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{cadastroVeiculoBean.situacoesDetran}" var="s" itemLabel="#{s.label}" itemValue="#{s}" />
					</b:selectOneMenu>
				</b:column>	
				<b:column span="1">
					<b:inputText label="Passag." alt="passageiros" tooltip="Número de passageiros" value="#{cadastroVeiculoBean.veiculo.maximoPassageiros}" fieldSize="sm" required="true" requiredMessage="Máximo de passageiros deve ser informado" />
				</b:column>							
			</b:row>
			
			<b:row styleClass="dados">
				<b:column span="6">
					<b:inputTextarea label="Observação" maxlength="500" rows="3" value="#{cadastroVeiculoBean.veiculo.observacao}" field-size="sm" />
				</b:column>			
			</b:row>
			
			</b:panel>
			
   			<b:tabView content-class="content-tab">
   			
   				<!-- # MOVIMENTAÇÕES # -->
		    	<b:tab title="Movimentações">		    	
					<b:commandButton value="Nova movimentação" look="primary" size="sm"
						oncomplete="javascript:$('.modal-movimento').modal('show');configurarMascara();$('.id-Projeto').focus();return false;" 
						action="#{cadastroVeiculoBean.limparMovimento}" process="@this" update="@(.dados-movimento)">
					</b:commandButton>
					<br/><br/>
		    	
					<b:dataTable id="movimentacoesTable" value="#{cadastroVeiculoBean.veiculo.movimentacoes}" var="movimento" customLangUrl="#{resource['/json/pt-br.json']}">
	    				<b:dataTableColumn value="#{movimento.projeto.id}" label="Projeto" styleClass="coluna-centro" />
	    				<b:dataTableColumn value="#{movimento.colaborador.nome}" label="Responsável" />
	    				<b:dataTableColumn value="#{movimento.destino}" label="Destino" />
	    					    				
	    				<b:dataTableColumn label="Data Saída" dataType="date" order="desc" data-order="#{movimento.dataMovimento.toString()}">
	    					<h:outputText value="#{movimento.dataMovimento}">
			    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>
	    				<b:dataTableColumn label="Horário" styleClass="coluna-centro">
	    					<h:outputText value="#{movimento.horaSaida}">
			    				<f:convertDateTime type="time" timeStyle="short" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>
	    					    				
	    				<b:dataTableColumn label="Data Retorno" dataType="date" data-order="#{movimento.dataRetorno.toString()}">
	    					<h:outputText value="#{movimento.dataRetorno}">
			    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    					</h:outputText>
	    				</b:dataTableColumn>
	    				<b:dataTableColumn label="Horário" styleClass="coluna-centro">
	    					<h:outputText value="#{movimento.horaRetorno}">
			    				<f:convertDateTime type="time" timeStyle="short" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>	    					
	    				
	    				<b:dataTableColumn value="#{movimento.diaSemana}" label="Dia semana" />
	    				<b:dataTableColumn value="#{movimento.periodo.label}" label="Período" />

				    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
				    		<b:navCommandLink oncomplete="javascript:$('.modal-movimento').modal('show');configurarMascara();$('.id-Projeto').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
				    				action="#{cadastroVeiculoBean.inicializarMovimento}" process="@this" update="@(.dados-movimento)">
				    			<f:setPropertyActionListener target="#{cadastroVeiculoBean.movimento}" value="#{movimento}" />
				    		</b:navCommandLink>			    		
							<p:spacer width="10"/>
		    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-movimento').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
		    						process="@this" update="**:movimentacoesTable" >
				    			<f:setPropertyActionListener target="#{cadastroVeiculoBean.movimento}" value="#{movimento}" />
				    		</b:navCommandLink>										
				    	</b:dataTableColumn>	    				
					</b:dataTable>
	     		</b:tab>
	     		
	     		<!-- # MANUTENÇÃO # -->
			     <b:tab title="Manutenção">
					<b:commandButton value="Nova manutenção" look="primary" size="sm"
						oncomplete="javascript:$('.modal-manutencao').modal('show');configurarMascara();$('.servico-executado').focus();return false;" 
						action="#{cadastroVeiculoBean.limparManutencao}" process="@this" update="@(.dados-manutencao)">
					</b:commandButton>
					<br/><br/>
		    	
					<b:dataTable id="manutencoesTable" value="#{cadastroVeiculoBean.veiculo.manutencoes}" var="manutencao" customLangUrl="#{resource['/json/pt-br.json']}">
	    				<b:dataTableColumn label="Data" dataType="date" order="desc" data-order="#{manutencao.data.toString()}">
	    					<h:outputText value="#{manutencao.data}">
			    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>
	    				
	    				<b:dataTableColumn value="#{manutencao.responsavel.nome}" label="Responsável" />
	    				<b:dataTableColumn value="#{manutencao.fornecedor.nome}" label="Fornecedor" />
	    				
	    				<b:dataTableColumn label="KM">
	    					<h:outputText value="#{manutencao.quilometragem}">
	    						<f:convertNumber type="number" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>
	    				
	    				<b:dataTableColumn label="Valor">
	    					<h:outputText value="#{manutencao.valor}">
	    						<f:convertNumber type="currency" />
	    					</h:outputText>
	    				</b:dataTableColumn>

	    				<b:dataTableColumn value="#{manutencao.situacao.label}" label="Situação" />
	    				
				    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
				    		<b:navCommandLink oncomplete="javascript:$('.modal-manutencao').modal('show');configurarMascara();$('.servico-executado').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
				    				process="@this" update="@(.dados-manutencao)">
				    			<f:setPropertyActionListener target="#{cadastroVeiculoBean.manutencao}" value="#{manutencao}" />
				    		</b:navCommandLink>			    		
							<p:spacer width="10"/>
		    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-manutencao').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
		    						process="@this" update="manutencoesTable" >
				    			<f:setPropertyActionListener target="#{cadastroVeiculoBean.manutencao}" value="#{manutencao}" />
				    		</b:navCommandLink>										
				    	</b:dataTableColumn>	    				
					</b:dataTable>
		     	</b:tab>
		     	
		     	<!-- # MULTAS # -->
			     <b:tab title="Multas">
					<b:commandButton value="Nova multa" look="primary" size="sm"
						oncomplete="javascript:$('.modal-multa').modal('show');configurarMascara();$('#notificacao').focus();return false;" 
						action="#{cadastroVeiculoBean.limparMulta}" process="@this" update="@(.dados-multa)">
					</b:commandButton>
					<br/><br/>
		    	
					<b:dataTable id="multasTable" value="#{cadastroVeiculoBean.veiculo.multas}" var="multa" customLangUrl="#{resource['/json/pt-br.json']}">
	    				<b:dataTableColumn label="Data notificação" dataType="date" order="desc" data-order="#{multa.dataNotificacao.toString()}">
	    					<h:outputText value="#{multa.dataNotificacao}">
			    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>
	    				
	    				<b:dataTableColumn label="Prazo" dataType="date" data-order="#{multa.dataPrazo.toString()}">
	    					<h:outputText value="#{multa.dataPrazo}">
			    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    					</h:outputText>	    				
	    				</b:dataTableColumn>	    				
	    				
	    				<b:dataTableColumn value="#{multa.notificacao}" label="Notificação" />
	    				
	    				<b:dataTableColumn label="Valor">
	    					<h:outputText value="#{multa.valor}">
	    						<f:convertNumber type="currency" />
	    					</h:outputText>
	    				</b:dataTableColumn>
	    				    				
	    				<b:dataTableColumn value="#{multa.colaborador.nome}" label="Infrator" />
	    					    				
	    				<b:dataTableColumn value="#{multa.gravidade.label}" label="Gravidade" />
	    				<b:dataTableColumn value="#{multa.situacao.label}" label="Situação" />
	    				
				    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">    		
				    		<b:navCommandLink oncomplete="javascript:$('.modal-multa').modal('show');configurarMascara();$('#notificacao').focus();return false;" tooltip="Editar" iconAwesome="pencil" value=""
				    				process="@this" update="@(.dados-multa)">
				    			<f:setPropertyActionListener target="#{cadastroVeiculoBean.multa}" value="#{multa}" />
				    		</b:navCommandLink>			    		
							<p:spacer width="10"/>
		    				<b:navCommandLink oncomplete="javascript:$('.modal-confirmacao-multa').modal('show');return false;" tooltip="Excluir" iconAwesome="remove" value="" 
		    						process="@this" update="multasTable" >
				    			<f:setPropertyActionListener target="#{cadastroVeiculoBean.multa}" value="#{multa}" />
				    		</b:navCommandLink>										
				    	</b:dataTableColumn>	    				
					</b:dataTable>
			     </b:tab>		     
    		</b:tabView>			
					
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>