<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Veículos - Marcas</ui:define>
    
    <ui:define name="corpo">
        <f:metadata>
			<o:viewParam name="marca" value="#{cadastroVeiculoMarcaBean.marca}" converter="veiculoMarcaConverter"/>
			<f:viewAction action="#{cadastroVeiculoMarcaBean.inicializar}"></f:viewAction>
		</f:metadata>
		
   	    <h:form id="frmCadastro">
   	    
			<!-- Tela modal para confirmar a exclusão do modelo -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
						action="#{cadastroVeiculoMarcaBean.excluirModelo}"
						process="@this" update="modelosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    	    
   	    
   	    	<!-- Tela modal para inclusão/alteração dos modelos de veículo -->
			<b:modal id="modal-modelo" styleClass="modal-modelo fade" title="Modelo de Veículo" size="modal-md" backdrop="false">
				
				<b:fetchBeanInfos id="validacao"/>
				
				<b:container fluid="true" style-class="dados-modelo">
					<b:messages id="mensagens-modelo" />
					<b:row>
						<b:column span="8">
							<b:inputText label="Descrição Modelo" field-id="descricao" maxlength="25" value="#{cadastroVeiculoMarcaBean.modelo.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição Modelo deve ser informada"/>
						</b:column>						
					</b:row>
					
					<b:row>
						<b:column span="5">
							<b:selectOneMenu label="Categoria" value="#{cadastroVeiculoMarcaBean.modelo.categoria}" fieldSize="sm" required="true" requiredMessage="Categoria deve ser informada">
								<f:selectItems value="#{cadastroVeiculoMarcaBean.categorias}" var="c" itemLabel="#{c.label}" itemValue="#{c}" />
							</b:selectOneMenu>
						</b:column>						
					</b:row>
				</b:container>
				
				<f:facet name="footer">
					<b:commandButton value="Ok" id="btn-gravar"  action="#{cadastroVeiculoMarcaBean.incluirModelo}"
						process="@this @(.dados-modelo)" update="modelosTable mensagens-modelo validacao @(.dados-modelo)" look="primary" 
						oncomplete="javascript:if(!validationFailed){$('.modal-modelo').modal('hide');return false;}"/>										
					<b:button value="Cancelar" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>    	    
   	    
	   		<b:container fluid="true">
	   		
	   		<h3>Cadastro de marcas e modelos</h3>
	   		
	   		<b:messages id="mensagens" info-class="message-info-hidden" />
	   		<p:growl autoUpdate="true" for="message-growl" life="2000" showDetail="true" showSummary="false" />
	    	
	    	<b:focus target="descricao" />
	    	<b:defaultCommand target="gravar" />
	    		    	
	    	<b:panel>
	    		<b:button value="Nova marca" outcome="/veiculos/CadastroMarca" look="primary" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:commandButton value="Gravar" id="gravar" action="#{cadastroVeiculoMarcaBean.salvar}" look="primary" size="sm"
	    			process="@this @(.dados)" update="modelosTable mensagens @(.dados)" oncomplete="javascript:configurarMascara();" />	    		
	    		<b:button value="Fechar" outcome="/veiculos/PesquisaMarcas" look="primary" style="float: right" size="sm" />
	    	</b:panel>
	    	
	    	<b:panel>
			<b:row styleClass="dados">
				<b:column span="4">
					<b:inputText label="Descrição Marca" id="descricao" maxlength="25" value="#{cadastroVeiculoMarcaBean.marca.descricao}" fieldSize="sm" required="true" requiredMessage="Descrição Marca deve ser informada" />
				</b:column>
			</b:row>
			</b:panel>
			
			<b:commandButton value="Novo modelo" look="primary" size="sm" style="margin-bottom: 8px;"
				oncomplete="javascript:$('.modal-modelo').modal('show');configurarMascara();$('#descricao').focus();return false;" 
				action="#{cadastroVeiculoMarcaBean.limparModelo}" process="@this" update="@(.dados-modelo)">
			</b:commandButton>
			
			<b:dataTable id="modelosTable" value="#{cadastroVeiculoMarcaBean.marca.modelos}" var="modelo" customLangUrl="#{resource['/json/pt-br.json']}">
	    		<b:dataTableColumn value="#{modelo.descricao}" label="Descrição" />
	    		<b:dataTableColumn value="#{modelo.categoria.label}" label="Categoria" />
	    		
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-modelo').modal('show');configurarMascara();$('#descricao').focus();return false;" tooltip="Editar" process="@this" update="@(.dados-modelo)" >
		    			<f:setPropertyActionListener target="#{cadastroVeiculoMarcaBean.modelo}" value="#{modelo}" />
		    			<b:iconAwesome name="pencil"></b:iconAwesome>
		    		</b:navCommandLink>			    		
					<p:spacer width="10"/>
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="modelosTable" >
		    			<f:setPropertyActionListener target="#{cadastroVeiculoMarcaBean.modelo}" value="#{modelo}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>										
		    	</b:dataTableColumn>	    		
			</b:dataTable>	
			
			</b:container>	
		</h:form>	
    </ui:define>
</ui:composition>
