<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Modelos de Veículo</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{pesquisaVeiculoMarcaBean.pesquisarModelos}" type="preRenderView" />
		
		<br/>
	   	<b:container fluid="true">

		<b:dataTable value="#{pesquisaVeiculoMarcaBean.modelos}" var="modelo" customLangUrl="#{resource['/json/pt-br.json']}"
			paginated="false" >
	   		<b:dataTableColumn value="#{modelo.descricao}" label="Modelo" />
	   		<b:dataTableColumn value="#{modelo.marca.descricao}" label="Marca" />
	   		<b:dataTableColumn value="#{modelo.categoria.label}" label="Categoria" />		    	
		</b:dataTable>
			
		</b:container>
    </ui:define>
</ui:composition>
