<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Veículos - Marcas</ui:define>
    
    <ui:define name="corpo">
    	<f:event listener="#{pesquisaVeiculoMarcaBean.pesquisarMarcas}" type="preRenderView" />

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão da marca -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					 	action="#{pesquisaVeiculoMarcaBean.excluir}" process="@this" update="marcasTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:button value="Nova marca" outcome="/veiculos/CadastroMarca" look="primary" size="sm" />
	    	</b:panel>

			<b:dataTable id="marcasTable" value="#{pesquisaVeiculoMarcaBean.marcas}" var="marca" customLangUrl="#{resource['/json/pt-br.json']}"
				pageLength="50" pageLengthMenu="[50,200,1000]" >
	    		<b:dataTableColumn value="#{marca.descricao}" label="Descrição" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/veiculos/CadastroMarca" tooltip="Editar" iconAwesome="pencil" value="" >
		    			<f:param name="marca" value="#{marca.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="marcasTable" >
		    			<f:setPropertyActionListener target="#{pesquisaVeiculoMarcaBean.marcaSelecionada}" value="#{marca}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
