<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui">

    <ui:define name="titulo">Pesquisa de veículos</ui:define>
    
    <ui:define name="corpo">

		<h:form id="frmpesquisa">
		
			<!-- Tela modal para confirmar a exclusão do veículo -->
			<b:modal id="modal-confirmacao" styleClass="modal-confirmacao fade" title="Confirmação" size="modal-sm" backdrop="false">
				<p>Confirma a exclusão do registro?</p>
				<f:facet name="footer">
					<b:commandButton value="Ok" oncomplete="javascript:$('.modal-confirmacao').modal('hide');return false;" 
					    action="#{pesquisaVeiculoBean.excluir}"	process="@this" update="veiculosTable mensagens" />										
					<b:button value="Cancelar" look="primary" dismiss="modal" onclick="return false;" />
				</f:facet>
			</b:modal>  		
		
	    	<b:container fluid="true">	    		    	
	    	<b:messages id="mensagens" />
	    	
	    	<b:defaultCommand target="pesquisar" />
	    	
	    	<br/>
	    	<b:panel>
	    		<b:commandButton value="Mostrar" id="pesquisar" action="#{pesquisaVeiculoBean.pesquisar}" look="primary" update="veiculosTable" size="sm" />
	    		<p:spacer width="10"/>
	    		<b:button value="Novo veículo" outcome="/veiculos/CadastroVeiculo" look="primary" size="sm" />
	    	</b:panel>

			<b:dataTable id="veiculosTable" value="#{pesquisaVeiculoBean.veiculosFiltrados}" var="veiculo" customLangUrl="#{resource['/json/pt-br.json']}" 
				  pageLength="50" pageLengthMenu="[50,200,1000]">
				<b:dataTableColumn value="#{veiculo.codigoInterno}" label="Cód." styleClass="coluna-centro" />
	    		<b:dataTableColumn value="#{veiculo.placa}" />
	    		<b:dataTableColumn value="#{veiculo.modelo.marca.descricao}" label="Marca" />
	    		<b:dataTableColumn value="#{veiculo.modelo.descricao}" label="Modelo" />
	    		<b:dataTableColumn value="#{veiculo.ano}" />
	    		<b:dataTableColumn value="#{veiculo.renavan}" />
	    		<b:dataTableColumn value="#{veiculo.situacaoDetran.label}" label="Sit. Detran" />
		    	
		    	<b:dataTableColumn label="" style-class="coluna-acao-2btn" orderable="false">
		    		<b:navLink outcome="/veiculos/CadastroVeiculo" tooltip="Editar" iconAwesome="pencil" value="">
		    			<f:param name="veiculo" value="#{veiculo.id}" />
		    		</b:navLink>
					<p:spacer width="10"/>					
		    		<b:navCommandLink value="" oncomplete="javascript:$('.modal-confirmacao').modal('show');return false;" tooltip="Excluir" process="@this" update="veiculosTable" >
		    			<f:setPropertyActionListener target="#{pesquisaVeiculoBean.veiculoSelecionado}" value="#{veiculo}" />
		    			<b:iconAwesome name="remove"></b:iconAwesome>
		    		</b:navCommandLink>	    		
		    	</b:dataTableColumn>
			</b:dataTable>
			
			</b:container>
		</h:form>	    
    </ui:define>
</ui:composition>
